<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<?php echo $this->getButtonHtml(); ?>

<button class="scalable resumeProductSyncToSelveo"><?php echo $this->__('Resume product sync to Selveo from page: %s', $this->getCurrentPage()) ?></button>

<div id="progressContainer">
    <div id="progress"></div>
</div>
<style>

    div#progressContainer {
        margin-top: 10px;
        width: 100%;
        height: 5px;
        background: #CCC;
    }

    div#progressContainer div#progress {
        width: 0;
        height: 5px;
        background: #ffac47;
    }

    button.resumeProductSyncToSelveo {
        margin-top: 5px;
    }

</style>

<script type="text/javascript">

    jQuery.noConflict();

    var urlTemplate = "<?php echo $this->getUrlTemplate(); ?>";

    (function($) {

        function Paginator(startPage) {
            this.currentPage = startPage || 1;
        }

        Paginator.prototype.next = function() {
            this.currentPage++;
        };

        Paginator.prototype.setCurrentPage = function(currentPage) {
            this.currentPage = currentPage;
        };

        function setProgress(paginator, lastPage) {

            var progressPercent = ( paginator.currentPage / lastPage) * 100;

            $('div#progressContainer div#progress').css('width', progressPercent+'%');

        }

        function sync(paginator) {

            var currentPage = parseInt(paginator.currentPage);

            $.post(urlTemplate.replace(':currentPage', currentPage), {}, function (response) {

                var lastPage = parseInt(response.lastPage);

                setProgress(paginator, lastPage);

                if(currentPage === lastPage) {
                    window.location.reload();
                }

                if(currentPage < lastPage) {

                    paginator.next();
                    sync(paginator);

                }

            }, 'json').fail(function (response) {
                alert('Error when syncing products. Response: ' + JSON.stringify(response));
            });

        }

        $('button.syncProductsToSelveo').on('click', function() {

            $(this).attr('disabled', true).addClass('disabled');

            $('button.resumeProductSyncToSelveo').attr('disabled', true).addClass('disabled');

            sync(new Paginator());

        });

        var currentPage = "<?php echo $this->getCurrentPage(); ?>";

        $('button.resumeProductSyncToSelveo').on('click', function() {

            $(this).attr('disabled', true).addClass('disabled');

            $('button.syncProductsToSelveo').attr('disabled', true).addClass('disabled');

            sync(new Paginator(currentPage));

        });

    })(jQuery)

</script>