
            <?php   
                $_category  = Mage::registry('current_category');
                if($_category && $this->getRequest()->getControllerName() == "category"){
                    $_helper    = Mage::helper('catalog/output');
                    $_imgHtml   = ''; 
                    $banner_cat_img =$_category->getImageUrl();
                    $banner_cat_url = $banner_cat_img;
            ?>
            <div class="cat_top_wrapper">
                <div class="imgdes_wrapper">
                    <div class="container">
                        <div class="cat_top_txt <?php if($banner_cat_img) { ?>show_ban<?php }else{ ?>hide_ban<?php } ?>">
                            <div class="name-description">
                                <?php  if ($name = $_category->getName()) { ?>
                                    <h1><?php echo $name; ?></h1>
                                <?php } ?>
                                <?php   if ($_category->getDescription()) { 
                                    $description = $_category->getDescription();
                                    ?>
                                    <p class="category-description">
                                        <span><?php echo $description; ?></span>
                                    </p>
                                <?php } ?>
                            </div>
                            <div class="category-image-container1">
                                    <?php   if ($banner_cat_img) { ?>
                                    <div class="category-image-container-inner">
                                        <?php   echo $_imgHtml = '<p class="category-image"><img src="'.$banner_cat_url.'" alt="'.$this->htmlEscape($_category->getName()).'" title="'.$this->htmlEscape($_category->getName()).'" /></p>'; ?>
                                    </div>
                                <?php } ?>
                            </div> 
                        </div>
                    </div> 
                </div>
            </div>  
        <?php } ?>