        <?php   
            $_category  = Mage::registry('current_category');
                if ($_category): ?>
                    <div class="bottom-category-box container">
                        <div class="second-description">
                            <?php echo $_category->getSecondDescription(); ?>
                        </div>
                    </div>
        <?php endif; ?>