<?php
$_category = Mage::registry('current_category');

$subcategories = Mage::getModel('catalog/category')->getCategories($_category->getId());
$baseurl = Mage::getBaseUrl();
$categoryImage = Mage::getModel('catalog/layer')->getCurrentCategory()->getImage(); 
$categorybannerImage = Mage::getModel('catalog/layer')->getCurrentCategory()->getImageban(); ?>
<div class="custom_category-image-container">
   <div class="category-image-container-inner">
      <p class="category-image">
      	<img src="<?php echo Mage::getBaseUrl('media').'catalog/category/'.$categorybannerImage ?>" alt=""></p>                  
      	<div class="name-description">
      	  <div class="custom_description">
      		<h2><?php echo $_category->getName(); ?></h2>
      		<p><?php echo $_category->getDescription(); ?></p>
      	  </div>
      	</div>
  </div>
</div>
<div class="row d-flex align-items-stretch">
	<?php foreach ($subcategories as $subcategory){ ?>
	<div class="col-6 col-md-3 mb-3 text-center">
		<a href="<?php echo $baseurl . $subcategory->getRequestPath(); ?>" class="gg">
			<div class="card card-hover h-100 p-4">
				<img src="<?php echo Mage::getBaseUrl('media').'catalog/category/'.$categoryImage  ?>" alt="" class="img-fluid" /> 
				<h5 class="text-truncate"><?php echo $subcategory->getName(); ?></h5>
			</div>
		   </a>
		</div>
		<?php } ?>
	</div>

