         <div class="discount_txt">
                    <div class="container">
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('product_top_discount')->toHtml(); ?>
                    </div>
                </div>