<?php
$category = Mage::getSingleton('catalog/layer')->getCurrentCategory();
$categories = $category->getCollection()
        ->addAttributeToSelect(array('name', 'image'))
        ->addAttributeToFilter('is_active', 1)
        ->addIdFilter($category->getChildren());
        if (count($categories) == 0) { ?>

<?php } else { ?>
<div class="category-products-top">
<h5><?php echo $this->__('Shop by category'); ?></h5>
  <ul class="subcategories-wrap">
      <?php foreach ($categories as $category): ?>
          <li>
              <a href="<?php echo $category->getUrl() ?>">
          <!--     <?php if ($category->getImageUrl()){ ?>
                <img src="<?php echo $category->getImageUrl() ?>" alt="<?php echo $this->htmlEscape($category->getName()) ?>" />
                <?php } else {?>
                <img src="<?php echo $this->getSkinUrl('images/default-image_600.png'); ?>" alt="<?php echo $this->htmlEscape($category->getName()) ?>" />
                <?php } ?> -->
              <span><?php echo $category->getName(); ?></span></a>
          </li>
      <?php endforeach; ?>
  </ul>
</div>
<?php } ?>