<?php
/**
 * Copyright (c) 2011-2019 SAS WEB COOKING - Vincent René Lucien Enjalbert. All rights reserved.
 * See http://www.web-cooking.net/licences/magento/LICENSE-EN.txt for license details.
 */
?>
<?php if(Mage::helper('googleuniversalanalytics')->useAdwords()): ?>
    <!-- Global site tag (gtag.js) - Google AdWords: <?php echo $this->getConversionId() ?> -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-<?php echo $this->getConversionId() ?>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-<?php echo $this->getConversionId() ?>');
    </script>


<?php endif; ?>
