/*brand page*/
.brand-page .category-image img {
    height: auto;
    width: 100%;
}
.brand-page .category-image {
    border: none;
    float: left;
    margin-bottom: 10px;
    padding: 0 20px 0 0;
    width: 30%;
}
.brand-page .category-products {
    clear: both;
}
.brand-page .block-layered-nav.amshopby-filters-top {
    clear:both;
}
/*brand page end*/
/*topmenu start*/
li.amtopmenu-container a, li.amtopmenu-container a>*:not(img) {
    display: flex !important;
    align-items: center;
}
.amtopmenu-container img {
    display: inline-block;
    margin: 5px 0;
}
.amtopmenu-container img.amtopmenu-icon {
    margin-right: 15px;
}
.amtopmenu-container img.amtopmenu-icon-right {
    margin-left: auto ;
}
/*topmenu end*/
/*leftmenu start*/
.leftmenu_brandicon img {
    display:inline;
    padding-right: 5px
}
img.leftmenu_brandicon  {
    display:inline;
    padding-right: 5px;
    float: left;
}
img.leftmenu_brandicon.right {
    float:right;
}
div.block-layered-nav dd.ambrands_leftmenu a {
    float: inherit;
}
.ambrands_leftmenu {
    display: flex;
    align-items: center;
}
.ambrands_leftmenu .leftmenu_brandicon {
    padding-top: 5px;
}
/*leftmenu end*/
/* slider */
.amslider {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% + 1px);
}
.amslider * {
    margin: 0;
    padding: 0;
}
.amslider .swiper-container {
    margin: 20px auto;
}
.amslider .swiper-slide {
    text-align: center;    padding: 1px 0;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}
.amslider .swiper-wrapper{
    display: -moz-grid-line;
}
.amslider .swiper-pagination-bullets {
    bottom: 5px;
    left: 0;
    width: 100%;
}
.amslider .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
}
.ambrands-header-container {
    background: #f58c12;
    padding: 5px 0 5px 35px;
    margin: 15px 0;
}
.ambrands-header-container .ambrands-header{
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}
.ambrands-header-container span {
    margin: 0;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    text-transform: none;
}
.amslider .swiper-slide .swiper-brand {
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid gray;
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100% - 5px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/* safari*/
.amslider .swiper-slide .swiper-brand:not(:root:root) {
    padding: 10px;
}
.amslider .swiper-slide .swiper-brand img {
    height: auto;
}
.amslider .swiper-slide .swiper-brand.brand-label img {
    margin-bottom: 35px;
}
.amslider .swiper-slide .brand-title {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    padding: 0 5px;
    font-size: 15px;
    line-height: 1.2;
}
.amslider .swiper-slide a:hover {
    text-decoration: none;
}
/*slider end*/
/*filter*/
.brands-filters {
    min-height: 50px;
    width: 100%;
    display: inline-block;
}
.brands-filters .letters {
    margin-top: 4px;
}
.brands-filters .letters a {
    font-size: 18px;
    padding: 10px;
}
@media only screen and (max-width: 1140px) {
}
.brands-filters .letters a.all{
    min-width: 90px;
}
.all-brands {margin-left:10px;}
.letters-box {display: flex;
    flex-wrap: wrap;
    justify-content: center;}
.brands-filters .letters-box a{
    padding: 5px 30px;
    background: #f1f1f1;
    width: auto;
    display: inline-block;
    text-align: center;
    margin-bottom: 13px;
    margin-left: 5px;
    margin-right: 5px;
}
.brands-filters .letters-box a.disabled{
    opacity: 0.6;
    pointer-events: none;
    background-color: #F1F1F1;
}
.brands-filters .letters a.hide{
    display: none;
}
.brands-filters .letters a:hover, .brands-filters .letters a.active {
    background: #000;
    color:#fff;
}


.ambrands-search-wrapper {
    margin:  0 auto;
    display: block;
    position:relative;
}
.ambrands-search-wrapper .ambrands-search-input {
    display: block;
    width: 100%;
}
.ambrands-search-wrapper #livesearch a{
    width: 100%;
    padding: 5px 10px;
    display: block;
    float: left;
}
.ambrands-search-wrapper #livesearch{
    display: none;
    width: 100%;
    position: absolute;
    background-color: #fff;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #d9d9d9;
    z-index: 99;
}
.brand-list {
    width: 100%;
    clear:both;
}
.brand-list.vertical .column-separator {
    float: left;
}
.brand-list ul.bare-list {
        margin-bottom: 5px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.brand-list.show-letters dd {
}
.brand-list .brand-label {
    text-align: left;
    line-height: 1.2em
}
.icon .brand-label {
    float: left;
}
.brand-list .bare-list  li.brand-list_item{
    font-style: normal;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #d9d9d9;
    width: calc(1/3*100% - (1 - 1/3)*10px);
    margin-left: 0px;
    margin-bottom: 10px;
}
.brand-list.vertical li.brand-list_item {
    display: flex;
}
.brand-list_item a {
    text-decoration: none;
    text-align: center;
    display: block;
}
.brand-list dt {
    font-size: 36px;
    font-family: 'alright_sans_ltmedium';
}
.brand-list.vertical dt {
    max-width: 90%;
}
.brand-list ul.bare-list img {
    margin: 0 auto;
    float: right;
}
.brand-list ul.bare-list .icon img {
    height: 20px;
    float:left;
    padding-right: 5px;
}
.brand-list ul.bare-list img {
}
.brand-list .text-highlight {
    color: #F94D1A;
}

/*filter end*/
.ambrands-link{
    float: left;
    padding-left: 0px;
    padding-top: 0px;
    position: absolute;
    top: -30px;
    right: 10px;
}
.ambrands-link img {
    max-width: 30px;
    max-height: 30px;
}
.brands-letter {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
    font-size: 36px;

}
.ambrands-link.product-view img{
    max-width: 115px;
    max-height: 50px;
}

@media only screen and (max-width: 770px) {
    .block-layered-nav .block-content.accordion-open > dl > .ambrands_leftmenu.current {
        display: flex !important;
    }
    .block-layered-nav .block-content.accordion-open > dl > .ambrands_leftmenu {
        display: flex !important;
    }
    .brand-list .bare-list  li.brand-list_item{
    font-style: normal;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #d9d9d9;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 10px;
    }
    .brands-filters {
        margin-top:10px;
    }
    .brands-filters .letters-box a {
        padding: 5px 10px;

    }
}
