<?php
/**
 * Copyright (c) 2011-2019 SAS WEB COOKING - Vincent René Lucien Enjalbert. All rights reserved.
 * See http://www.web-cooking.net/licences/magento/LICENSE-EN.txt for license details.
 */
?>
<?php //if (!class_exists('Mage_Core_Helper_Cookie') || !Mage::helper('core/cookie')->isUserNotAllowSaveCookie()): ?>
<?php $accountId = Mage::helper('googleuniversalanalytics')->getAccountId() ?>
<?php $isGtm = Mage::helper('googleuniversalanalytics/gtm')->isActive() ?>
<?php $isOptimize = Mage::helper('googleuniversalanalytics/optimize')->isActive() ?>

<?php /* GTM DATA LAYER */ ?>
<?php if($isGtm && Mage::helper('googleuniversalanalytics/gtm')->shouldAddContainer()): ?>
<script type="text/javascript">
var dataLayer = dataLayer || [];
</script>
<?php endif; ?>
<?php /* !GTM DATA LAYER */ ?>

<?php if(Mage::helper('googleuniversalanalytics/optimize')->shouldAddPageHidingSnippet()): ?>
    <!-- Page hiding snippet (recommended)  -->
    <style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',4000,
    {'<?php echo Mage::helper('googleuniversalanalytics/optimize')->getContainerId() ?>':true});</script>

<?php endif; ?>

<script type="text/javascript">    
    var wcIsGtm = <?php echo $isGtm?'true':'false' ?>;
    var productImpressions = [];
    var promoImpressions = [];
    var wcGuaTrackerName = '<?php echo Mage::helper('googleuniversalanalytics')->getTrackerName()?>';
    var wcGuaGlobalTrackerName = '<?php echo Mage::helper('googleuniversalanalytics')->getGlobalTrackerName()?>';
    var wcGuaGlobalTrackerEnabled = '<?php echo Mage::helper('googleuniversalanalytics')->isGlobalActive()?'1':'0'?>';
    
    var referralExclusionList = [];
    <?php foreach(Mage::helper('googleuniversalanalytics')->getReferralExclusionList() as $domain): ?>
        referralExclusionList.push('<?php echo $domain ?>');
    <?php endforeach; ?>
        
    if(document.referrer) {
        for(excludedDomain in referralExclusionList) {
            if(document.referrer.indexOf(excludedDomain) != -1) {
                document.referrer = '';
            }
        }
    }
    
    
<?php echo $this->_getOptOutTrackingCode($accountId) ?>
<?php if(!$isGtm || $isOptimize ): ?>
        (function(w,e,b,c,oo,ki,ng){w['GoogleAnalyticsObject']=oo;w[oo]=w[oo]||function(){
        (w[oo].q=w[oo].q||[]).push(arguments)},w[oo].l=1*new Date();ki=e.createElement(b),
        ng=e.getElementsByTagName(b)[0];ki.async=1;ki.src=c;ng.parentNode.insertBefore(ki,ng)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    <?php echo $this->_getInitTrackingCode($accountId) ?>
<?php endif; ?>
    
    
<?php echo $this->_getProductDetailsViewCode() ?>
<?php echo $this->_getTimeOnPageEventCode() ?>

<?php if(!$this->getClientId() || preg_match('%-%i', $this->getClientId())/*self-generated ID..*/): ?>
    <?php if($isGtm): ?>
        function updateGuaSession() {
            if(!ga || (typeof ga.getAll != 'function')) { //GA has not been loaded by GTM yet
                setTimeout(updateGuaSession, 1000); 
                return;
           }
            var clientId = ga.getAll()[0].get('clientId');
            if(clientId) {
                var date = new Date();
		date.setTime(date.getTime()+(24*60*60*1000));
                document.cookie = 'guaclientid='+clientId+'; expires='+date.toGMTString()+'; path=/';
            }
        }
        dataLayer.push({
            'event' : 'newSession',
            'eventCallback' : function() {
                if (document.loaded) {
                    updateGuaSession();
                } 
                else {
                    document.observe('dom:loaded', updateGuaSession);
                }
               
            }
        });
    <?php else: ?>
        ga(function(tracker) {
          if(wcGuaTrackerName) {
            var tracker = ga.getByName(wcGuaTrackerName.replace('.',''));      
          }
          var clientId = tracker.get('clientId');
          var date = new Date();
          date.setTime(date.getTime()+(24*60*60*1000));
          document.cookie = 'guaclientid='+clientId+'; expires='+date.toGMTString()+'; path=/';
        });
    <?php endif; ?>
<?php endif; ?>
    
    



<?php echo $this->_getCustomDimensionsCode() ?>
<?php echo $this->_getCustomMetricsCode() ?>
    
<?php echo $this->_getOrdersTrackingCode(); //needs to be first if EE enabled ?>
    

<?php echo $this->_getOptimizeTrackingCode(); ?>

<?php echo $this->_getBeforePageViewCustomTag() ?>
   

<?php //echo $this->_getEventsTrackingCode() ?>
   
<?php echo $this->_getPageViewTrackingCode() ?>
    
<?php echo $this->_getAfterPageViewCustomTag() ?>

</script>
<?php //endif; ?>
