<?php /** @var Firtal_Reepay_Block_Form_Standard $this */ ?>

<fieldset class="form-list">
    <ul class="payment_form_reepay_standard">
        <li><?php echo $this->getPaymentMethodDescription(); ?></li>
        <li>
            <?php echo $this->getMethod()->getConfigData('message'); ?>
        </li>
    </ul>
</fieldset>