/*
PRICE
------------------------------------------------------------
*/

.brandbundle-price-box {
    text-align: center;
    border: 1px solid #EDEDED;
    padding: 10px;
}
.brandbundle-price-savings--percentage {
    color: #ff8c00;
    text-transform: uppercase;
}
.brandbundle-price-final .price {
    font-size: 26px;
}
.brandbundle-price-from {
    color: #a2a2a2;
}

.brandbundle-add-to-cart--inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    background: #F7F7F7;
}
.brandbundle-size +.brandbundle-add-button {
    margin-left: 20px;
}
.brandbundle-add-button #brandbundle-add-to-cart {
    margin-bottom: 0;
}



/*
OPTIONS LIST
------------------------------------------------------------
*/

.brandbundle-options-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.brandbundle-options-list--item {
    position: relative;
}

@media only screen and (min-width: 771px) {
    
    .brandbundle-options-list--item {
        flex-basis: 50%;
    }
    
}
@media only screen and (min-width: 501px) and (max-width: 770px) {
    
    .brandbundle-options-list--item {
        flex-basis: 50%;
    }
    
}
@media only screen and (min-width: 501px) {
	
    .brandbundle-options-list {
        margin-left: -3px;
        margin-right: -3px;
    }

    .brandbundle-options-list--item {
        padding: 3px;
    }
	
}
@media only screen and (max-width: 500px) {
	
    .brandbundle-options-list--item {
        flex-basis: 100%;
        padding:3px;
    }

	
}

.brandbundle-options-list--item-button {
    width: 100%;
    text-align: left;
    -webkit-appearance: none;
    border: 1px solid #A6A6A6;
    padding: 10px;
    border-radius: 3px;
    position: relative;
    outline: none;
    height: 53px;
    font-size: 14px;
}
.brandbundle-options-list--item-button:hover {
    background: #F7F7F7;
}
.brandbundle-options-list--item-button::after {
    content: "";
    border-style: solid;
    border-width: 2px 2px 0 0;
    display: inline-block;
    height: 6px;
    right: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
    vertical-align: top;
    width: 6px;
    margin-top: -2px;
    pointer-events: none;
}
.brandbundle-options-list--item-button--active::after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 0;
}


.brandbundle-options-selector {
    border: 1px solid #A6A6A6;
    background: #fff;
    border-radius: 3px;
    display: none;
}
.brandbundle-options-selector.brandbundle-options-selector--active {
    position: absolute;
    top: 100%;
    margin-top: -4px;
    z-index: 1;
    min-width: 100%;
    display: block;
}

.brandbundle-options-selector--search {
    padding: 8px;
    font-size:13px;
}
.brandbundle-options-selector--search input[name="q"] {
    width: 100%;
    outline: none;
}

.brandbundle-options-selector--list {
    max-height: 275px;
    overflow-y: scroll;
}

.brandbundle-options-selector--item {
    border-top: 1px solid #EDEDED;
}
.brandbundle-options-selector--item-price {
    font-size: 12px;
    color: #a2a2a2;
    line-height: 1.2;
}
.brandbundle-options-selector--item-button {
    width: 100%;
    padding: 7px 8px;
    text-align: left;
    -webkit-appearance: none;
    border: 0;
    background: none;
    outline: none;
    font-size: 13px;
}
.brandbundle-options-selector--item-button:hover {
    background: #f7f7f7;
}


/*
ITEMS
------------------------------------------------------------
*/

.brandbundle-products-grid {
    display: flex;
    flex-wrap: wrap;
    background: white;
}

.brandbundle-item {
    display: flex;
    flex-direction: column;
}
.brandbundle-item--inner {
    padding: 10px;
    border:1px solid #d9d9d9;
}

@media only screen and (min-width: 771px) {

	.brandbundle-item {
        flex-basis: 33.33%;
    }
	
}
@media only screen and (min-width: 501px) and (max-width: 770px) {
	
    .brandbundle-item {
        flex-basis: 50%;
    }
	
}
@media only screen and (min-width: 501px) {
	
    .brandbundle-products-grid {
        margin-bottom:40px;
    }

    .brandbundle-item {
        padding: 10px;
    }
	
}
@media only screen and (max-width: 500px) {
	
    .brandbundle-item {
        flex-basis: 100%;
        padding: 10px 0;
    }
	
}

.brandbundle-item--shop {
    display: flex;
    align-items: flex-start;
}

.brandbundle-item--image,
.brandbundle-item--amount {
    flex-basis: 50%;
}
.brandbundle-item--amount {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.brandbundle-item--info {
    flex-basis: 100%;
    margin-top: 10px;
    height:50px;
}
.brandbundle-item--name {
    margin-bottom: 0;
}
.brandbundle-item--name  {
    font-size:16px;
}
.brandbundle-item--qty {
    margin: 0 8px;
}
.brandbundle-item--qty .button {
    
}

