@CHARSET "UTF-8";
/**
* @author Amasty Team
* @copyright Copyright (c) 2010-2013 Amasty (http://www.amasty.com)
*/

/* amfaq-search */

.amfaq-search.block-subscribe .block-title strong
{

}

/* product view */

#product-faq .ask.button
{
    float: right;
}

#product-faq .title
{
    padding: 7px 0;
}

#product-faq .title span
{
    border-bottom: 1px dashed #666;
    cursor: pointer;
}

#product-faq .title span:hover
{
    color: #666;
}

#product-faq .title:before
{
    content: '+';
    font-weight: normal;
    font-size: 18px;
    display: inline-block;
    width: 20px;
    top: 2px;
    position: relative;
}

#product-faq .title.expanded:before
{
    content: '–';
}

#product-faq dl dd
{
    margin-top: 10px;
}

.product-collateral .box-amfaq
{
    margin: 25px 0 0;
    overflow-wrap: break-word;
    word-break: break-word;
}

#amfaq-ask-form-inline li
{
    list-style: none;
}

.amfaq-page {
    margin-bottom:40px;
}
.amfaq-page button::-moz-focus-inner {
    border: 0;
}
.amfaq-page h1
{
    font-size: 24px;
}
.amfaq-page h2{
    display: inline-block;
    margin-top: 24px;
}
.amfaq-page.amfaq-topic-page h1 {
    margin: 24px 0 15px;
}
.amfaq-page.amfaq-topic-page .amfaq-questions-group {
    margin: 14px 0;
}
.amfaq-page h4 {
    margin: 0 0 14px;
    font-size: 16px;
}
.amfaq-page input[type=text],
.amfaq-page textarea {

}

.amfaq-page li
{
    list-style: disc;
}

.amfaq-page ul,
.amfaq-page ol
{
    padding-left: 40px;
    padding-bottom: 12px;
}

.amfaq-page .amfaq-question-form ul
{
    padding: 0;
}

.amfaq-page .amfaq-info {
    margin: 14px 0;
}
.amfaq-page .amfaq-tags {
    padding: 0 0 20px 24px;
    margin-left: 14px;
    font-size: 14px;
}
.amfaq-page .amfaq-tags.main-tags {
    font-size: 16px;
}
.amfaq-page .amfaq-tags a {
    color: #7e7e7e;
    border-bottom: 1px dotted;
}
.amfaq-page .amfaq-tags a:hover {
    color: #ce730d;
}
.amfaq-page .amfaq-tags.right {
    max-width: 350px;
    float: right;
    margin-top: 30px;
}
.amfaq-page .amfaq-search label {
    display: block;
    padding-bottom: 12px;
}
.amfaq-page .amfaq-search button {
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.amfaq-page .amfaq-search button:hover {
    background-position: 0px -44px;
}
.amfaq-page .amfaq-search button:active {
    background-position: 0px -88px;
}
.fold-out-answer {    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    background: #d9d9d9;
    padding: 10px;}
.amfaq-page .amfaq-search input[type=text] {
    width: 88%;
}
.amfaq-page .amfaq-questions .question {
    padding: 7px 7px 7px 36px;
    margin-bottom: 12px;
    position: relative;
}
.amfaq-page .amfaq-questions .question .title {
    display: block;
}
.amfaq-page .amfaq-questions .question .title:before {
       border: 1px solid #000;
    content: '';
    border-bottom: none;
    border-right: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    width: 6px;
    height: 6px;
    margin: auto;
    margin-top: 5px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    float: left;
    margin-right: 10px;
    margin-top: 8px;
}
.amfaq-page .amfaq-questions .question.expanded .title:before {
    content: '▼';
}
.amfaq-page .amfaq-questions .question .author {
    font-size: 14px;
    margin: 7px 0;
}
.amfaq-page .amfaq-questions .question .read-full {
    text-decoration: underline;
    font-size: 14px;
    display: inline-block;
    padding: 7px 18px 7px 0;
}
.amfaq-page .amfaq-questions .question .read-full:hover {
    text-decoration: none;
}
.amfaq-page .amfaq-questions .question:last-child {
    margin-bottom: 20px;
}
.amfaq-page .amfaq-questions-group:last-child {
    border-bottom: none;
    margin-bottom: 32px;
}
.amfaq-page .amfaq-button {
    border: 0;
    text-decoration: none;
    margin-left: 1%;
    width: 10%;
    height: 44px;
    margin-top: -4px;
}
.amfaq-page .amfaq-button.back {
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.amfaq-page .amfaq-button.back:hover {
    background-position: 0px -44px;
}
.amfaq-page .amfaq-button.back:active {
    background-position: 0px -88px;
}
.amfaq-page .amfaq-button.back i {
    width: 16px;
    height: 13px;
    display: inline-block;
    margin-right: 7px;
}
.amfaq-page .amfaq-button.ask {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-left: 24px;
}
.amfaq-page .amfaq-button.ask:hover {
    background-position: 0px -44px;
}
.amfaq-page .amfaq-button.ask:active {
    background-position: 0px -88px;
}
.amfaq-page .amfaq-button.ask i:before {
    font-style: normal;
    content: '▶';
    margin-right: 7px;
}
.amfaq-page .amfaq-button.ask.expanded i:before {
    content: '▼';
}
.amfaq-page .amfaq-buttons {
    padding-top: 10px;
    border-top: 1px solid #ededed;
    clear: both;
}
.amfaq-page .amfaq-question-form {
    position: relative;
    padding-top: 35px;
    width: 100%;
    height: 398px;
}
.amfaq-page .amfaq-question-form .field {
    margin-right: 12px;
    width: auto;
}
.amfaq-page .amfaq-question-form .field input[type=text] {
    width: 339px;
}
.amfaq-page .amfaq-question-form .wide textarea {
    width: 690px;
    height: 117px;
    font-size: 16px;
}
.amfaq-page .amfaq-question-form input[type=submit] {
    position: absolute;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.amfaq-page.amfaq-question-page .amfaq-question-block {
    width: 724px;
}
.amfaq-page.amfaq-question-page .amfaq-question-block h1 {
    font-weight: normal;
    font-size: 18px;
}
.amfaq-page.amfaq-question-page .amfaq-question-block .author {
    font-size: 14px;
}
.amfaq-page.amfaq-question-page .amfaq-question-block:before {
    display: block;
    content: ' ';
    width: 724px;
    height: 42px;
}
.amfaq-page.amfaq-question-page .amfaq-question-block:after {
    display: block;
    content: ' ';
    width: 724px;
    height: 16px;
}
.amfaq-page.amfaq-question-page .topics {
    max-width: 350px;
    margin: 12px 0;
}
.amfaq-page.amfaq-question-page .topics span {
    white-space: nowrap;
    font-size: 14px;
}
.amfaq-page.amfaq-question-page .amfaq-tags {
    float: right;
    max-width: 350px;
}
.amfaq-page .amfaq-search-results {
    padding-top: 18px;
}
.amfaq-page .show-more {
    text-decoration: underline;
    font-size: 14px;
    display: inline-block;
    color: black;
    padding: 12px 18px 12px 36px;
}
.amfaq-page .show-more:hover {
    text-decoration: none;
}
.amfaq-page {}

.amfaq-page .show-more.preloader {
    background: url(images/preloader.gif) no-repeat;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    font-size: 0;
    display: block;
}

.amfaq-ratings
{
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 7px 7px 7px 7px;
    display: table;
    margin: 8px 0 18px;
}

.amfaq-ratings .rate-this
{
    display: inline-block;
    font-size: 16px;
    margin: 0 0 0 0;
}

.amfaq-ratings .rating-box
{
    cursor: pointer;
}

.amfaq-ratings .rating-box,
.amfaq-ratings .rating-links,
.amfaq-ratings .rating-yesno
{
    display: inline-block;
    float: none;
}

.amfaq-ratings .ratings
{
    margin: 0;
}

.amfaq-ratings .ratings .rating-box
.amfaq-ratings .ratings .rating-yesno
{
    margin: 0 12px 0 12px;
}

.amfaq-social a
{
    background: url(./images/social.gif);
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 1px;
    border-radius: 3px;

    opacity: .5;
}

.amfaq-social
{
    float: right;
    margin-top: 8px;
}

.amfaq-social a:hover
{
    opacity: 1;
}

.amfaq-social a:active
{
    opacity: 1;
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.amfaq-social .tw {background-position: -20px 0;}
.amfaq-social .gp {background-position: -40px 0;}
.amfaq-social .in {background-position: -60px 0;}

.amfaq-page .column
{
    padding: 12px 7px;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.amfaq-page .column:first-child
{
    padding-left: 0;
}

.amfaq-page .column:last-child
{
    padding-right: 0;
}

.attachments
{
    margin: 10px 0;
}

.amfaq-ratings .ratings .rating-links.info
{
    float: none;
    margin: 0 12px 0 12px;
}

.amfaq-ask-link
{
    margin-left: 15px;
}

.amfaq-no-questions
{
    margin-bottom: 20px;
}
.box-collateral.box-amfaq h2 {
    display: none;
}
.amfaq-questions.collapse {
    display: block;
}