<?php
Mage::app()->setCurrentStore(Mage_Core_Model_App::ADMIN_STORE_ID);
?>
<div class="clear"></div>
<h1>Products:</h1>
<?php foreach(Mage::app()->getStores() as $_eachStoreId => $val): ?>
    <?php
    $_storeCode = Mage::app()->getStore($_eachStoreId)->getCode();
    $_storeName = Mage::app()->getStore($_eachStoreId)->getName();
    $_storeId = Mage::app()->getStore($_eachStoreId)->getId();

    $count = Mage::getResourceModel('catalog/product_collection')
        ->addAttributeToSelect('*')
        ->setStoreId($_storeId)
        ->addAttributeToFilter('status', array('eq' => 2))
        ->addAttributeToFilter('visibility', array('in' => array(
            Mage_Catalog_Model_Product_Visibility::VISIBILITY_IN_SEARCH,
            Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH,
        )))
        ->joinField('stock_status','cataloginventory/stock_status','stock_status',
            'product_id=entity_id', array(
                'stock_status' => Mage_CatalogInventory_Model_Stock_Status::STATUS_IN_STOCK,
                'website_id' => 1,
            ))
        ->getSize();

    ?>
    <h2><?php echo $_storeName;?> stats:</h2>
    <?php echo $count; ?> missing translation.
    <br><br>
<?php endforeach; ?>
