<?php
$danishblocks = Mage::getModel('cms/block')->getCollection()
    ->addStoreFilter(1, false);

$danishblockarray = array();

foreach($danishblocks as $block){
    $danishblockarray[] = $block->getIdentifier();
}

?>



<?php foreach(Mage::app()->getStores() as $_eachStoreId => $val): ?>

<?php
$_storeCode = Mage::app()->getStore($_eachStoreId)->getCode();
$_storeName = Mage::app()->getStore($_eachStoreId)->getName();
$_storeId = Mage::app()->getStore($_eachStoreId)->getId();


$blocks = Mage::getModel('cms/block')->getCollection()
    ->addStoreFilter($_storeId, false)
    ->setOrder('identifier', 'DESC');

$blockarray = array();
?>
    <div class="country_block">
        <h1><?php echo $_storeName; ?></h1>
        <?php foreach($blocks as $block): ?>
            <p><?php echo $block->getIdentifier() ?></p>
            <?php $blockarray[] = $block->getIdentifier(); ?>
        <?php endforeach; ?>
        <div class="not-active">
            <?php foreach(array_diff($danishblockarray,$blockarray) as $diffblock): ?>
                <p><?php echo $diffblock; ?></p>
            <?php endforeach; ?>
        </div>
    </div>


<?php endforeach; ?>

<style>
    p{margin:0;}
    .country_block{float:left; width:200px;}
    .not-active{color:red; }
</style>