<h1>Translation</h1>

<h2>Export</h2>
<a href="<?php echo Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_index/export"); ?>?type=category"><button class="button">Category data</button></a>
<a href="<?php echo Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_index/export"); ?>?type=attributes"><button class="button">Product attribute labels</button></a>
<a href="<?php echo Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_index/export"); ?>?type=emails"><button class="button">Email templates</button></a>
<a href="<?php echo Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_index/export"); ?>?type=cmspages"><button class="button">CMS pages</button></a>
<a href="<?php echo Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_index/export"); ?>?type=cmsblocks"><button class="button">CMS blocks</button></a>


<div class="clear"></div>
<br><br>