<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Banners
 */
?>
<?php /** @var Amasty_Banners_Block_Inject $this */?>

<?php if (($_columnCount = $this->getColumnCount()) && $_columnCount > 0): ?>
    <div style="display: none;">
        <?php echo $this->getChildHtml('ambanners.inject.child');?>
    </div>
    <?php $_banners = $this->getBanners(); ?>
    <?php if ($_banners):?>
        <?php /** @var Amasty_Banners_Model_Rule $_banner */?>
        <?php foreach ($_banners as $_banner): ?>

            <script>
                document.observe("dom:loaded", function() {
                    var ambannerInjector<?php echo $_banner->getId();?> = new AmastyBannersInjector(
                        '<?php echo $this->getContainerSelector();?>',
                        '<?php echo $this->getItemSelector();?>',
                        '<?php echo $_banner->getAfterProductRow() ?>',
                        '<?php echo $_banner->getAfterProductNum($_columnCount) ?>',
                        <?php echo (int)$_banner->getData('n_product_width')?>
                    );
                    ambannerInjector<?php echo $_banner->getId();?>.inject($('ambanners_banner_<?php echo $_banner->getId()?>_<?php echo $this->getPosition()?>'));
                });
            </script>

        <?php endforeach; ?>
    <?php endif;?>
<?php endif;?>
