<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_PromoBannersLite
 */
?>
<?php /** @var Amasty_PromoBannersLite_Block_Banner $this */?>
<?php /** @var Mage_SalesRule_Model_Rule $rule */?>

<?php $validRules = $this->getValidRules();
if (Mage::helper('ambannerslite')->isEnable() && isset($validRules)): ?>
<?php foreach($validRules as $rule) :?>
    <?php if ($this->existBanner($rule)) :?>
        <?php if ($this->enablePosition($rule)):?>
            <?php $onclickName = sprintf('clickBannerId%uPosition%s', $rule->getRuleId(), $this->getPosition()) ?>
            <div class="<?php echo ($this->getPosition() == "top" ? "category-image" : "product-options")?>">
                <?php if ($this->getBannerData('_banner_description', $rule)): ?>
                    <div class="ampromo-desc" onClick="<?php echo $onclickName ?>()">
                        <?php echo Mage::helper('cms')->getPageTemplateProcessor()
                            ->filter($this->getBannerData('_banner_description', $rule)); ?>
                    </div>
                <?php endif; ?>
                <?php $img = $this->getImage($rule); ?>
                <?php if ($img) :?>
                    <p>
                        <a href="<?php echo $this->getLink($rule);?>" onClick="<?php echo $onclickName ?>()">
                            <img src="<?php echo $img;?>"/>
                        </a>
                    </p>
                <?php endif; ?>
                <?php if ($this->getBannerData('_banner_gift_images_enable', $rule) && $this->checkForPromoSku($rule)) :?>
                    <ul class="ampromo-gift">
                        <?php foreach($this->getProducts($rule) as $product): ?>
                            <?php
                            $product->getAttributeRawValue($product->getId(), $this->getStoreConfigData('attribute_header'), 1);
                            $id = uniqid("ampromo-gift-img-");
                            ?>
                            <li>
                                <a class="product-image" href="<?php echo $product->getProductUrl()?>">
                                    <img id="<?php echo $id;?>"
                                         width="<?php echo $this->getStoreConfigData('gift_image_width');?>"
                                         height="<?php echo $this->getStoreConfigData('gift_image_height');?>"
                                         src="<?php echo Mage::helper('catalog/image')->init($product, 'thumbnail')
                                             ->resize(
                                                 $this->getStoreConfigData('gift_image_width'),
                                                 $this->getStoreConfigData('gift_image_height')); ?>"/>
                                    <div id="<?php echo $id;?>-data" style="display: none;">
                                        <div class="ampromo-product-name"><?php echo $product->getResource()
                                                ->getAttribute($this->getStoreConfigData('attribute_header'))
                                                ->getFrontend()->getValue($product);?></div>
                                        <div><?php echo $product->getResource()
                                                ->getAttribute($this->getStoreConfigData('attribute_description'))
                                                ->getFrontend()
                                                ->getValue($product);?></div>
                                    </div>
                                </a>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
                <div style="clear: both;"></div>
            </div>

        <?php
        $impressionJS .= sprintf("
        {
          \"id\": \"SCPR%u\",
          \"name\": \"%s\"
        },
        ",
            $rule->getRuleId(), //ID of banner/rule
            $rule->getName() //Name/title of banner/rule
        );

                $bannerClickJS .= sprintf("
        function clickBannerId%uPosition%s() {
            gtag('event', 'select_content', {
              \"promotions\": [
                {
                  \"id\": \"SCPR%u\",
                  \"name\": \"%s\"
                }
              ]
            });
        }",
        $rule->getRuleId(), //ID of banner/rule
        $this->getPosition(), //Banner position
        $rule->getRuleId(), //ID of banner/rule
        $rule->getName() //Name/title of banner/rule
        );
        ?>
        <?php endif;?>
    <?php endif;?>

<?php endforeach; ?>

<?php if(!empty($impressionJs) && !empty($bannerClickJS)): ?>
<script>
    gtag('event', 'view_promotion', {
        "promotions": [
            <?php echo $impressionJS ?>
        ]
    });

    <?php echo $bannerClickJS ?>
</script>
<?php endif; ?>

<?php endif; ?>
<?php if (Mage::helper('ambase')->isModuleActive('Amasty_Promo')) { ?>
<script>
    $$('.ampromo-gift img').each(function (img){
        img.observe('mouseover', ampromo_tooltip_show);
        img.observe('mouseout', ampromo_tooltip_hide);
    });
</script>
<?php } ?>

