<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_PromoBannersLite
 */
?>
<?php
if (Mage::helper('ambannerslite')->isEnable()):
    if ($this->getImage() && $this->getEnabled()) {
        ?><img class="ampromo-label" width="75px" src="<?php echo $this->getImage(); ?>">

        <?php
        $impressionJS .= sprintf("
        {
          \"id\": \"SCPR%u\",
          \"name\": \"%s\"
        },
        ",
            $this->getRuleId(), //ID of banner/rule
            $this->getName() //Name/title of banner/rule
        );
        ?>

        <script>
            gtag('event', 'view_promotion', {
                "promotions": [
                    <?php echo $impressionJS ?>
                ]
            });
        </script>
    <?php } ?>
    <div style="clear: both;"></div>
<?php endif; ?>
