<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_File
 */
?>
<div id="messages">
    <ul class="messages">
        <li class="notice-msg">
            <ul>
                <li>
                    <span><?php echo $this->__('Please save the product first before uploading your attachment') ?></span>
                </li>
            </ul>
        </li>
    </ul>
</div>
