<?php 
$active = Mage::getStoreConfig('facebookpixel/settings/active');
$pixelActive = Mage::getStoreConfig('facebookpixel/pages/success');
$pixelId = Mage::getStoreConfig('facebookpixel/settings/pixel_id');
$idAttribute = Mage::getStoreConfig('facebookpixel/settings/id_attribute');

$order = Mage::getModel('sales/order')->load(Mage::getSingleton('checkout/session')->getLastOrderId());
$currency = Mage::app()->getStore()->getCurrentCurrencyCode();
$total = number_format($order->getGrandTotal(), 2,'.','');
$items = $order->getAllVisibleItems();
$itemIds = array();
?>

<?php if($active && $pixelId && $pixelActive && $order): ?>

	<?php foreach($items as $item) : ?>
		<?php if($idAttribute == 'sku'): ?>
			<?php $product = Mage::getModel('catalog/product')->load($item->getProductId()); ?>
			<?php $itemIds[] = (string)$product->getData($idAttribute); ?>
		<?php else: ?>
			<?php $itemIds[] = (string)$item->getProductId(); ?>
		<?php endif; ?>
	<?php endforeach; ?>
	
	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');
	
	fbq('init', '<?php echo $pixelId; ?>');
	fbq('track', 'PageView');
	fbq('track', 'Purchase', {
		content_ids: <?php echo json_encode($itemIds); ?>,
		content_type: 'product',
		value: '<?php echo $total;?>', 
		currency: '<?php echo $currency;?>'
	});
	
	</script>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=<?php echo $pixelId; ?>&ev=PageView&noscript=1"/></noscript><!-- DO NOT MODIFY -->
	<!-- End Facebook Pixel Code -->
	
<?php endif; ?>