<div>
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top: 10px; margin-bottom: 10px;">
        <tbody>
        <tr>
            <td align="center" valign="top">
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tbody>
                        <tr>
                            <td valign="top">
                                <p><strong>Hej {{var customerName}},</strong></p>
                                <p>Din anmodning om prismatch med dette id # {{var request.id}} på produktet <strong><a href='{{var productLink}}'>{{var productName}}</a></strong> er blevet godkendt.</p>
                                {{depend discount}}<p>Din rabat på dette produkt er <strong>{{var discount}}</strong>.</p>{{/depend}}
                                {{depend discountCode}}<p> Din rabatkode <strong>{{var discountCode}}</strong></p>{{/depend}}
                                {{depend discountUseBefore}}<p>Rabatkoden er aktiv indtil <strong>{{var discountUseBefore}}</strong>.</p>{{/depend}}
                                {{depend linkToCustReq}}
                                <strong><a href='{{var linkToCustReq}}'>Se alle dine anmodninger her</a></strong><br />
                                {{/depend}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
