<div>
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top: 10px; margin-bottom: 10px;">
        <tbody>
        <tr>
            <td align="center" valign="top">
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tbody>
                        <tr>
                            <td valign="top">
                                <p><strong>Dear Admin,</strong></p>
                                <p>{{var customerName}} posted a new price match request for <strong>{{var productName}}</strong></p>
                                {{depend customerPhone}}<p>Customer phone: <strong>{{var customerPhone}}</strong></p>{{/depend}}
                                <p>Link to request in <a href="{{var linkToRequest}}">backend</a></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>