<div>
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top: 10px; margin-bottom: 10px;">
        <tbody>
            <tr>
                <td align="center" valign="top">
                    <table cellspacing="0" cellpadding="0" border="0" width="650">
                        <tbody>
                        <tr>
                            <td valign="top">
                              <p><strong>Kære {{var customerName}},</strong></p>
                                <p>Mange tak for din anmodning om prismatch. Vi har nu modtaget din anmodning på produktet <strong>{{var productName}}</strong>. Vi vil behandle din anmodning hurtigst muligt og sende dig en ny mail, når anmodningen er godkendt.</p>
                                {{depend linkToCustReq}}
                                <strong><a href='{{var linkToCustReq}}'>Se alle dine anmodninger</a></strong><br/>
                                {{/depend}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>