<div>
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top: 10px; margin-bottom: 10px;">
        <tbody>
        <tr>
            <td align="center" valign="top">
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tbody>
                        <tr>
                            <td valign="top">
                                <p><strong>Dear {{var customerName}},</strong></p>
                                <p>Your request # {{var request.Id}} about <strong>{{var productName}}</strong> has been rejected.</p>
                                {{depend linkToCustReq}}
                                <strong><a href='{{var linkToCustReq}}'>See all your requests</a></strong><br />
                                {{/depend}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>