<div class="container">
   <div class="home_section1">
      <div class="row">
         <div class="col-md-8 home_in_wrapper">
            <div class="home_box">
               <a href="#">
               <img src="<?php echo $this->getSkinUrl('images/BV_539x352px_2019-23spots_nilens-jord-2-1567670216_20190905095656.jpg'); ?>">
               </a>
            </div>
         </div>
         <div class="col-md-4 home_in_wrapper">
            <div class="home_box">
               <a href="#">
               <img src="<?php echo $this->getSkinUrl('images/billigvoks-264x352px-2019-spots-vippeserum-1562273582_20190704105302.jpg'); ?>"> 
               </a>
            </div>
         </div>
      </div>
   </div>
   <div class="home_section2">
       <div class="row">
         <div class="col-md-4 col-sm-6 home_in_wrapper">
            <div class="home_box">
               <a href="#">
               <img src="<?php echo $this->getSkinUrl('images/billigvoks-264x352px-2019-spots-outlet-1562273724_20190704105524.jpg'); ?>">
               </a>
            </div>
         </div>
         <div class="col-md-4 col-sm-6 home_in_wrapper">
            <div class="home_box">
               <a href="#">
               <img src="<?php echo $this->getSkinUrl('images/billigvoks-264x352px-2019-spots-1562273821_20190704105701.jpg'); ?>">
               </a>
            </div>
         </div>
         <div class="col-md-4 col-sm-6 home_in_wrapper">
            <div class="home_box">
               <a href="#">
               <img src="<?php echo $this->getSkinUrl('images/billigvoks-264x352px-2019-spots_gwp-1562273822_20190704105702.jpg'); ?>">
               </a>
            </div>
         </div>
      </div>
   </div>
   <div class="home_section3">
       <div class="row">
         <div class="col-md-4 home_in_wrapper">
            <div class="home_box">
               <a href="#">
               <img src="<?php echo $this->getSkinUrl('images/billigvoks-264x352px-2019-spots-moroccanoil-1558966101_20190527040821.jpg'); ?>">
               </a>
            </div>
         </div>
         <div class="col-md-8 home_in_wrapper">
            <div class="home_box">
               <a href="#">
               <img src="<?php echo $this->getSkinUrl('images/BV_539x352px_april-2019-23spots_hårvitaminer3-1563885563_20190723023923.jpg'); ?>"> 
               </a>
            </div>
         </div>
      </div>
   </div>
   <div class="home_section4">
      <div class="row">
      <div class="col-md-8 home_in_wrapper">
         <div class="home_box">
            <a href="#">
            <img src="<?php echo $this->getSkinUrl('images/BV_539x352px_2019-23spots-dermalogica2-1558966860_20190527042100.jpg'); ?>">
            </a>
         </div>
      </div>
      <div class="col-md-4 home_in_wrapper">
         <div class="home_box">
            <a href="#">
            <img src="<?php echo $this->getSkinUrl('images/billigvoks-264x352px-2019-spots-schwarzkopf-1558966861_20190527042101.jpg'); ?>">
            </a>
         </div>
      </div>
       </div>
   </div>
   <div class="home_section5">
       <div class="row">
      <div class="col-md-4 home_in_wrapper">
         <div class="home_box">
            <a href="#">
            <img src="<?php echo $this->getSkinUrl('images/billigvoks-264x352px-2019-spots-sunspa2-1563885447_20190723023727.jpg'); ?>">
            </a>
         </div>
      </div>
      <div class="col-md-8 home_in_wrapper">
         <div class="home_box">
            <a href="#">
            <img src="<?php echo $this->getSkinUrl('images/BV_539x352px_2019-23spots-madison-1558966959_20190527042239.jpg'); ?>">
            </a>
         </div>
      </div>
      </div>
   </div>
   <div class="home_section6">
      <div class="row">
         <div class="col-md-4 home_in_wrapper">
            <div class="home_box">
               <a href="#">
               <img src="<?php echo $this->getSkinUrl('images/billigvoks-264x352px-2019-spots-KM-1558967274_20190527042754.jpg'); ?>">
               </a>
            </div>
         </div>
         <div class="col-md-4 home_in_wrapper">
            <div class="home_box">
               <a href="#">
               <img src="<?php echo $this->getSkinUrl('images/billigvoks-264x352px-2019-spots-voks-1558967275_20190527042755.jpg'); ?>">
               </a>
            </div>
         </div>
         <div class="col-md-4 home_in_wrapper">
            <div class="home_box">
               <a href="#">
               <img src="<?php echo $this->getSkinUrl('images/billigvoks-264x352px-2019-spots-OleH-1558967276_20190527042756.jpg'); ?>">
               </a>
            </div>
         </div>
      </div>
   </div>
   <div class="home_section7">
       <div class="row">
      <div class="col-md-8 home_in_wrapper">
         <div class="home_box">
            <a href="#">
            <img src="<?php echo $this->getSkinUrl('images/BV_539x352px_2019-23spots-marianila2-1563528059_20190719112059.jpg'); ?>">
            </a>
         </div>
      </div>
      <div class="col-md-4 home_in_wrapper">
         <div class="home_box">
            <a href="#">
            <img src="<?php echo $this->getSkinUrl('images/billigvoks-264x352px-2019-spots-loreal-1558967713_20190527043513.jpg'); ?>">
            </a>
         </div>
      </div>
       </div>
   </div>
   <div class="home_section8">
      <div class="row">
         <div class="col-md-4 home_in_wrapper">
            <div class="home_box">
               <a href="#">
               <img src="<?php echo $this->getSkinUrl('images/billigvoks-264x352px-2019-spots-neccin-1558967621_20190527043341.jpg'); ?>">
               </a>
            </div>
         </div>
         <div class="col-md-8 home_in_wrapper">
            <div class="home_box">
               <a href="#">
               <img src="<?php echo $this->getSkinUrl('images/BV_539x352px_2019-23spots-ecooking3-1563884741_20190723022541.jpg'); ?>">
               </a>
            </div>
         </div>
      </div>
   </div>
   <div class="home_section9">
      <div class="row">
      <div class="home_in_wrapper col-md-8">
         <div class="home_box">
            <a href="#">
            <img src="<?php echo $this->getSkinUrl('images/BV_539x352px_marts-2019-23spots-1561966936_20190701094216.jpg'); ?>">
            </a>
         </div>
      </div>
      <div class="home_in_wrapper col-md-4">
         <div class="home_box">
            <a href="#">
            <img src="<?php echo $this->getSkinUrl('images/billigvoks-264x352px-2019-spots-redken-1558967533_20190527043213.jpg'); ?>">
            </a>
         </div>
      </div> 
   </div>
   </div>
   <div class="home_section10">
       <div class="row">
      <div class="col-lg-4 home_in_wrapper">
         <div class="home_box">
            <a href="#">
               <img src="<?php echo $this->getSkinUrl('images/front_page_banner-824.jpg'); ?>">
               <div class="floating_div">
                  <h5>BEAUTY <br> BLOG</h5>
                  <ul>
                     <li class="">Beauty Tips</li>
                     <li class="">product news and</li>
                     <li class="">competitions</li>
                  </ul>
               </div>
            </a>
         </div>
      </div>
      <div class="col-lg-8 home_in_wrapper">
         <div  class="home_box">
            <a href="#">
               <img src="<?php echo $this->getSkinUrl('images/front_page_banner-654.png'); ?>">
              <div class="floating_div">
                  <h2>Welcome to cheapvoks.dk</h2>
                  <p>Billigvoks.dk is one of Denmark's oldest and best established webshops. <br>The company was founded in 2003, and since then we have evolved <br>from being a provider of hair wax to especially young men, to today being a <br>complete beauty and health universe for both men and women. <br>At billigvoks.dk find today all the best and most popular brands <br>within eg skin care, hair care, cosmetics and health at competitive prices. <br>Billigvoks.dk has over 6400 different products in range, and <br>every month new ones are added.</p>
               </div>
            </a>
         </div>
      </div>
      </div>
   </div>
   <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home_section_12')->toHtml(); ?> 
   <!-- <h2 class="h4">Most popular</h2> -->
   <div class="home_section13">
      <?php
         $_helper = $this->helper('catalog/output');
         $storeId = Mage::app()->getStore()->getId();
         $catalog = $this->getLayout()->createBlock('catalog/product_list')->setStoreId($storeId);
          
         $collection = Mage::getModel('catalog/product')->getCollection();
         $collection->addAttributeToSelect('*')
         ->addAttributeToFilter(array(array('attribute' => 'most_popular', 'eq' => true)));
         ?>
      <div class="most_popular-products">
         <div class="container">
            <div class="pg_heading-title">
               <h2>MOST POPULAR</h2>
            </div>
            <ul class="popularproducts row">
               <?php  foreach($collection as $product) {    
                  $imageurl=  Mage::helper('catalog/image')->init($product, 'thumbnail');
                  $original_price = $product->getPrice();
                  $regularPrice = Mage::helper('core')->currency($product->getPrice(), true, false);
                  $finalPrice = $product->getFinalPrice();                   
                  $formattedPrice = Mage::helper('core')->currency($finalPrice, true, false);
                  $special_price = $product->getSpecialPrice();
                  $discount = $original_price - $special_price;
                  $discountpercent = round($discount/$original_price * 100);
                ?>
               <li class="item last list_item col-lg-3 col-md-4 col-sm-6">
                  <div class="product_item">
                     <div class="image_wishlist">
                        <a href="<?php echo $product->getProductUrl(); ?>" class="product-image">
                                   
                        <span class="product-image-custom007">
                        <img  class="custom-product-image027" src="<?php echo $imageurl; ?>" alt="">
                        
                        </span>
                        <span class="saving">Save <?php if($special_price){ echo $discountpercent;} ?>%</span>
                        </a>
                        <a href="<?php echo Mage::helper('wishlist')->getAddUrl($product); ?>" class="btn-wishlist">
                        <img src="<?php  echo $this->getSkinUrl('images/heart.svg'); ?>" alt=""/></a>
                     </div>
                     <div class="product-info">
                     <?php
                        $product = Mage::getModel('catalog/product')->load($product->getId());
                        $brand_name = $product->getAttributeText('brand');  
                     ?> 
                        <p><?php echo $brand_name; ?></p>
                        <h2 class="product-name"><a href="<?php echo $product->getProductUrl(); ?>">
                           <?php
                              $product_name= $product->getName();
                              $product_name_length=strlen($product_name);
                              if($product_name_length > 37 ){
                                echo substr($product_name, 0, 37) . '....';
                              }else{
                                echo $product_name;
                              } ?></a>
                        </h2>
                        <div class="price-box">
                           <span class="regular-price">
                           <?php if($special_price) { ?>
                           <span class="price reg_price">Retail price *<span><?php echo $regularPrice;?></span></span>
                           <?php } ?>
                           <span class="price finali_price"><?php echo $formattedPrice;?></span>
                           </span>                   
                        </div>
                        <div class="addtocart">
                           
                           <form action="<?php echo Mage::helper('checkout/cart')->getAddUrl($product); ?>" method="post" id="product_addtocart_form_<?php echo $product->getId()?>"<?php if($product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                            <?php if(!$product->isGrouped()): ?>
                           <div class="row product_form_btn">
                           <div class="col-md-3">
                              <input type="number" name="qty" id="qty" min="1" maxlength="12" value="<?php echo ($this->getMinimalQty($product)?$this->getMinimalQty($product):1) ?>" />
                            <?php endif; ?>
                           </div>
                            <div class="col-md-9">
                            <button type="button" onclick="this.form.submit()"><span><img src="<?php echo $this->getSkinUrl('images/crt_btn.svg'); ?>"></span><span><?php echo $this->__('Add to the basket') ?></span></button>
                            </div>
                            </div>
                            </form>
                        </div>
                     </div>
                  </div>
               </li>
               <?php } ?>
            </ul>
         </div>
      </div>
   </div>
</div>