<?php if($this->getCollection()->getSize()): ?>

    <?php if($this->getUseContainer()): ?>
    <div class="pager">
    <?php endif ?>

    <?php if($this->getShowAmounts()): ?>
    <p class="amount">

        <?php if($this->getLastPageNum()>1): ?>
            <?php echo $this->__('Items %s to %s of %s total', $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) ?>
        <?php else: ?>
            <strong><?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?></strong>
        <?php endif; ?>
    </p>
    <?php endif ?>

    <?php if($this->getShowPerPage()): ?>
    <div class="limiter">
        <label><?php echo $this->__('Show') ?></label>
        <select onchange="setLocation(this.value)">
        <?php foreach ($this->getAvailableLimit() as  $_key=>$_limit): ?>
            <option value="<?php echo $this->getLimitUrl($_key) ?>"<?php if($this->isLimitCurrent($_key)): ?> selected="selected"<?php endif ?>>
                <?php echo $_limit ?>
            </option>
        <?php endforeach; ?>
        </select> <?php echo $this->__('per page') ?>
    </div>
    <?php endif ?>

    <?php if($this->getLastPageNum()>1): ?>
    <div class="pagesz">
        <div class="prev_page <?php if ($this->canShowPreviousJump()): ?> disabled<?php endif;?>" >
            <a class="previous<?php if(!$this->getAnchorTextForPrevious()): ?> i-previous<?php endif;?>" href="<?php echo $this->getPreviousPageUrl() ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Previous')) ?>">
                <?php if(!$this->getAnchorTextForPrevious()): ?>
                    <?php echo $this->__('Previous') ?>
                <?php else: ?>
                    <?php echo $this->getAnchorTextForPrevious() ?>
                <?php endif;?>
            </a>
        </div>
          <div class="page_select">
            <p><?php echo $this->__('Page') ?></p>    
            <select class="pager_select"onchange="setLocation(this.value)">
                <?php if ($this->canShowFirst()): ?>
                    <option value="<?php echo $this->getFirstPageUrl() ?>">1</option>
                <?php endif;?>

                <?php if ($this->canShowPreviousJump()): ?>
                    <option value="<?php echo $this->getPreviousJumpUrl() ?>">...</option>
                <?php endif;?>

                <?php foreach ($this->getFramePages() as $_page): ?>
                    <?php if ($this->isPageCurrent($_page)): ?>
                        <option value="" class="current" selected="selected"><?php echo $_page ?></option>
                    <?php else: ?>
                        <option value="<?php echo $this->getPageUrl($_page) ?>"><?php echo $_page ?></option>
                    <?php endif;?>
                <?php endforeach;?>


                <?php if ($this->canShowNextJump()): ?>
                    <option value="<?php echo $this->getNextJumpUrl() ?>">...</option>
                <?php endif;?>

                <?php if ($this->canShowLast()): ?>
                    <option value="<?php echo $this->getLastPageUrl() ?>"><?php echo $this->getLastPageNum() ?></option>
                <?php endif;?>
            </select>
            <p><?php echo $this->__('of') ?> <?php echo $this->getLastPageNum() ?></p>
        </div>

            
       

        
                 <div class="next_page <?php if($this->isLastPage()): ?> disabled<?php endif; ?>" >
                    <a class="next<?php if(!$this->getAnchorTextForNext()): ?> i-next<?php endif; ?>" href="<?php echo $this->getNextPageUrl() ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Next')) ?>">
                        <?php if(!$this->getAnchorTextForNext()): ?>
                            <?php echo $this->__('Next') ?>
                        <?php else: ?>
                            <?php echo $this->getAnchorTextForNext() ?>
                        <?php endif;?>
                    </a>
                </div>

    </div>
    <?php endif; ?>

    <?php if($this->getUseContainer()): ?>
    </div>
    <?php endif ?>

<?php endif ?>