<?php $element = $this->getElement(); ?>
<tr id="sale_amount_container">
    <td class="label"><label for="sale_amount_condition"><?php echo $element->getLabel() ?></label></td>
    <td colspan="2" class="value" style="white-space:nowrap;width:auto;">
        <select id="sale_amount_condition" class="select" name="sale_amount_condition" onchange="onChangeCondition(this.value);">
            <?php foreach($element->getConditions() as $k => $v):?>
                <option <?php echo ($k == $element->getCondition())?'selected="selected"':'' ?> value="<?php echo $k ?>"><?php echo $v ?></option>
            <?php endforeach ?>
        </select>
        <input style="width:190px; margin-left: 2px;" class="input-text" id="sale_amount_value" value="<?php echo $element->getValue() ?>" name="sale_amount_value"/>
    </td>
</tr>

<script type="text/javascript">
    var currVal = <?php echo $element->getCondition();?>;
    if (!currVal) {
        $('sale_amount_value').hide();
    }

    function onChangeCondition(value) {
        if (value != '0') {
            $('sale_amount_value').show();
        } else {
            $('sale_amount_value').hide();
        }
    }
</script>