<?php if($this->getItems()->getSize()): ?>
    <div class="block block-related">
        <div class="block-title">
            <strong><span><?php echo $this->__('Related Products') ?></span></strong>
        </div>
        <div class="block-content">
            <ol class="mini-products-list" id="block-related">
                <?php foreach($this->getItems() as $_item): ?>
                    <li style="display: inline-table; margin-left: 10px;">
                        <div class="product">
                            <a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_item->getName()) ?>" class="product-image">
                                <img src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(75, 75) ?>" width="75" height="75" alt="<?php echo $this->htmlEscape($_item->getName()) ?>" />
                            </a>
                            <div class="product-details">
                                <p class="product-name"><a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->htmlEscape($_item->getName()) ?></a></p>
                                <?php echo $this->getPriceHtml($_item, true, '-related') ?>
                            </div>
                        </div>
                    </li>
                <?php endforeach ?>
            </ol>
        </div>
    </div>
<?php endif ?>
