<?php
/**
 * Copyright (c) 2011-2019 SAS WEB COOKING - Vincent René Lucien Enjalbert. All rights reserved.
 * See http://www.web-cooking.net/licences/magento/LICENSE-EN.txt for license details.
 */
?>
<?php $isGtm = Mage::helper('googleuniversalanalytics/gtm')->isActive() ?>
<?php $gtmAccountId = Mage::helper('googleuniversalanalytics/gtm')->getAccountId() ?>

<?php /* GTM CONTAINER */ ?>
<?php if($isGtm): ?>
    <?php if(Mage::helper('googleuniversalanalytics/gtm')->shouldAddContainer()): ?>    
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=<?php echo $gtmAccountId ?>"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <?php endif; ?>
<?php endif; ?>
<?php /* !GTM CONTAINER */ ?>

