<?php if ($this->isKlaviyoEnabled()): ?>

    <script type="text/javascript" async  src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=<?php echo $this->getKlaviyoAccountId(); ?>"></script>

    <?php if (Mage::getSingleton('customer/session')->isLoggedIn()): ?>
      <script type="text/javascript">
      <?php $_customer = $this->getCustomer(); ?>
        var _learnq = _learnq || [];
        _learnq.push(['identify', {
            $email: "<?php echo $_customer->getEmail(); ?>",
            $first_name: "<?php echo $_customer->getFirstname(); ?>",
            $last_name: "<?php echo $_customer->getLastname(); ?>"
        }]);
      </script>
    <?php endif; ?>

<?php endif; ?>
