<style>
    .overview-entity {
        float: left;
        width: 10%;
        margin-right: 1%;
        border: 1px solid;
        height: 150px;
        margin: 10px 20px 10px 0px;
        padding: 10px;
    }
</style>
<div class="translator-wrapper">
    <h2><?php echo mage::helper('sinful_translation')->getStoreLabel($this->getRequest()->getParam('storeid'));?>  <?php echo ucfirst(mage::helper('sinful_translation')->getTranslatorLabel($this->getTranslatorType())); ?></h2>
        <!-- <button id="go_to_dashboard">Go to translation overview</button></h2>
    <script>
        jQuery('#go_to_dashboard').click(function () {
        location.href = "<?php echo Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_translator/index", array('storeid' => $this->getRequest()->getParam('storeid'), 'type' => $this->getTranslatorType())) ?>"
        });
        jQuery('#explainTranslation').click(function () {
            jQuery('#explainTranslationBox').toggle();
        });
    </script>-->

    <?php
    $products = $this->getTranslatorOverviewForMe();

    if(count($products) < 1) {
        echo "No products assigned to you for this store.";
    }

    foreach($products as $item): ?>
        <div class="overview-entity">
            <?php echo $item['info']; ?>
            Barcode: <?php echo $item['barcode'] ?><br />
            Potential: <?php echo round($item['potential']) ?>
            <br /><br />
            <a href="<?php echo Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_translator/translate", array( 'load_entity_id' => $item['id'], 'storeid' => $this->getRequest()->getParam('storeid'), 'type' => $this->getTranslatorType())) ?>">
                <button class="button" style="width:100%;height:30px">Edit</button>
            </a>
        </div>
    <?php endforeach; ?>
</div>