<style>
    .overview-entity {
        float: left;
        width: 10%;
        margin-right: 1%;
        border: 1px solid;
        height: 120px;
        margin: 10px 20px 10px 0px;
        padding: 10px;
    }
</style>
<div class="translator-wrapper">
    <h2><?php echo mage::helper('sinful_translation')->getStoreLabel($this->getRequest()->getParam('storeid'));?>  <?php echo ucfirst(mage::helper('sinful_translation')->getTranslatorLabel($this->getTranslatorType())); ?> - Waiting for approval</h2>

    <?php foreach($this->getTranslatorProductapprove() as $item): ?>
        <div class="overview-entity">
            <?php echo $item['info']; ?>
            Potential: <?php echo round($item['potential']) ?>
            <br /><br />
            <a href="<?php echo Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_translator/translate", array( 'load_entity_id' => $item['id'], 'storeid' => $this->getRequest()->getParam('storeid'), 'type' => $this->getTranslatorType())) ?>">
                <button class="button" style="width:100%;height:30px">Edit</button>
            </a>
        </div>
    <?php endforeach; ?>
</div>