<?php
    $translators = $this->getTranslators();
    $translator = Mage::getModel('translation/translator');

    $redirect = ['review','email'];

    $missing_data = [];
    foreach($translators as $trans_type){
        $translator->initStatic($trans_type);
        $missing_data[$trans_type] = $translator->getCurrentTranslatorModel()->getEntitiesLeft()['total'];
    }

?>

<div class="translator-wrapper">
    <div class="choose-type">
        <h2>Please select translation type</h2>
        <?php foreach($translators as $translator): ?>
            <?php $translatorLabel = mage::helper('sinful_translation')->getTranslatorLabel($translator);?>
            <?php if(in_array($translator, $redirect)):?>
                <?php
                    $translatorUrl = Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_translator/overview", array('storeid' => $this->getRequest()->getParam('storeid'), 'type' => $translator));
                ?>
            <?php else:?>
                <?php
                    $translatorUrl = Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_translator/translate", array('storeid' => $this->getRequest()->getParam('storeid'), 'type' => $translator));
                ?>
            <?php endif;?>
            <div class="translator">
                <a href="<?php echo $translatorUrl;?>">
                    <button class="greenbtn"><?php echo $translatorLabel.' ('.$missing_data[$translator].' missing)'; ?> </button>
                </a>
            </div>

        <?php endforeach; ?>
    </div>
</div>


<div class="clear"></div><br><br>
<table cellspacing="0" width="100%" style="display:none;">
    <tr>
        <td>
            <div class="entry-edit">
                <div class="entry-edit-head"><h4>Translator Stats</h4></div>
                <fieldset style="padding-top:18px;" class="a-center bold">
                    <div class="grid np">
                        <table cellspacing="0" style="border:0;" id="lastSearchGrid_table">
                            <colgroup><col>
                                <col width="100">
                                <col width="100">
                            </colgroup><thead>
                            <tr class="headings">
                                <th class=" no-link"><span class="nobr">User</span></th>
                                <th class=" no-link"><span class="nobr">Products</span></th>
                                <th class=" no-link"><span class="nobr">Speed (Min./P)</span></th>
                                <th></th>
                                <th class=" no-link"><span class="nobr">Categories</span></th>
                                <th class=" no-link"><span class="nobr">Blocks</span></th>
                                <th class=" no-link"><span class="nobr">Attributes</span></th>
                                <th class=" no-link"><span class="nobr">Strings</span></th>
                                <th class=" no-link"><span class="nobr">Emails</span></th>
                                <th class=" no-link"><span class="nobr">Sections</span></th>
                                <th class=" no-link last"><span class="nobr">Items</span></th>
                            </tr>
                            </thead>

                            <?php
                            $timetracker = Mage::getModel('translation/timetracking');
                            $users = Mage::getModel('admin/user')->getCollection()->load();

                            $data = [];
                            foreach($users as $user){
                                if($timetracker->getItemsTranslated($user->getUserId())){
                                    $products = $timetracker->getItemsTranslated($user->getUserId(),'product');
                                    $data[] = array(
                                        'user' =>  $user->getFirstname(),
                                        'product' => $timetracker->getItemsTranslated($user->getUserId(),'product'),
                                        'speed' => $timetracker->getProductSpeed($user->getUserId()),
                                        'category' => $timetracker->getItemsTranslated($user->getUserId(),'category'),
                                        'block' => $timetracker->getItemsTranslated($user->getUserId(),'block'),
                                        'attribute' => $timetracker->getItemsTranslated($user->getUserId(),'attribute'),
                                        'strings' => $timetracker->getItemsTranslated($user->getUserId(),'strings'),
                                        'email' => $timetracker->getItemsTranslated($user->getUserId(),'email'),
                                        'section' => $timetracker->getItemsTranslated($user->getUserId(),'section'),
                                        'item' => $timetracker->getItemsTranslated($user->getUserId(),'item'),
                                    );
                                }
                            }

                            usort($data, function($a, $b) {
                                return $a['product'] < $b['product'];
                            });
                            ?>

                            <tbody>
                            <?php foreach($data as $user): ?>
                                <tr>
                                    <td class=" "><?php echo $user['user']; ?> </td>
                                    <td class=" "><?php echo $user['product']; ?> </td>
                                    <td class=" "><?php echo $user['speed']; ?> </td>
                                    <td class=" "></td>
                                    <td class=" "><?php echo $user['category']; ?> </td>
                                    <td class=" "><?php echo $user['block']; ?> </td>
                                    <td class=" "><?php echo $user['attribute']; ?> </td>
                                    <td class=" "><?php echo $user['strings']; ?> </td>
                                    <td class=" "><?php echo $user['email']; ?> </td>
                                    <td class=" "><?php echo $user['section']; ?> </td>
                                    <td class=" "><?php echo $user['item']; ?> </td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </td>
    </tr>
</table>