<script async type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/js/translation/stopwatch.js"></script>
<script src="https://cdn.tiny.cloud/1/3v4zvzq6pvw0ntldci1enik7dv9vw5zveee9304q93fsxmq5/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<?php
$currentUrl = Mage::app()->getRequest()->getOriginalPathInfo();
$allowedArray = ['adminhtml_translator/translate/load_entity_id','adminhtml_translator/translate/load_sku_id','adminhtml_translator/translate/load_identifier'];
$identifierArray = ['cms', 'block'];
;?>

<script>
    var TinyPlugIn = 'code autoresize searchreplace visualblocks wordcount image link paste lists';
    var TinyToolBar = 'code bold italic underline bullist numlist searchreplace visualblocks wordcount image link';
    var TinyMenuBar = 'edit view insert';
    var templates = [
        {title: 'Internal SEO link', description: 'Remember to change link in HTML', content: '<a href="#"><span style="text-decoration: underline;">INTERNAL SEO LINK</span></a>'}
    ];
</script>

<?php if (mage::helper('sinful_translation')->strposa($currentUrl, $allowedArray) !== false || $this->getTranslatorType() == 'review') :?>

<?php $translationFields = $this->getTranslationFields(); ?>

    <?php foreach($translationFields as $field) :?>

        <?php $editorDesc = '<p>'.$field['desc'].'</p>';?>

        <?php if($field['type'] !== 'hidden') : ?>
          <?php if($field['p-br'] === true) : ?>
                <script>
                    tinymce.init({
                        mode : "exact",
                        selector: '#<?php echo 'field-'.$field['name'];?>',
                        plugins: TinyPlugIn,
                        toolbar: TinyToolBar,
                        menubar: TinyMenuBar,
                        autoresize_on_init: false,
                        resize: false,
                        force_br_newlines : false,
                        force_p_newlines : true,
                        extended_valid_elements: '*',
                        templates: templates,
                        relative_urls : false,
                        remove_script_host : false,
                        convert_urls : true
                    });
                    tinymce.init({
                        mode : "exact",
                        readonly : 1,
                        selector: '#<?php echo 'src-'.$field['name'];?>',
                        plugins: TinyPlugIn,
                        toolbar: TinyToolBar,
                        menubar: TinyMenuBar,
                        autoresize_on_init: false,
                        resize: false,
                        force_br_newlines : false,
                        force_p_newlines : true,
                        extended_valid_elements: '*',
                        templates: templates,
                        relative_urls : false,
                        remove_script_host : false,
                        convert_urls : true
                    });
                </script>
                <?php elseif($field['br-p'] === true) : ?>
                    <script>
                        tinymce.init({
                            mode : "exact",
                            selector: '#<?php echo 'field-'.$field['name'];?>',
                            plugins: TinyPlugIn,
                            toolbar: TinyToolBar,
                            menubar: TinyMenuBar,
                            autoresize_on_init: false,
                            resize: false,
                            force_br_newlines : true,
                            force_p_newlines : false,
                            forced_root_block : '',
                            templates: templates,
                            extended_valid_elements: '*',
                            relative_urls : false,
                            remove_script_host : false,
                            convert_urls : true
                        });
                        tinymce.init({
                            mode : "exact",
                            readonly : 1,
                            selector: '#<?php echo 'src-'.$field['name'];?>',
                            plugins: TinyPlugIn,
                            toolbar: TinyToolBar,
                            menubar: TinyMenuBar,
                            autoresize_on_init: false,
                            resize: false,
                            force_br_newlines : false,
                            force_p_newlines : true,
                            forced_root_block : '',
                            extended_valid_elements: '*',
                            templates: templates,
                            relative_urls : false,
                            remove_script_host : false,
                            convert_urls : true
                        });
                    </script>

                <?php else: ?>
                <script>
                    tinymce.init({
                        mode : "exact",
                        selector: '#<?php echo 'field-'.$field['name'];?>',
                        plugins: TinyPlugIn,
                        toolbar: TinyToolBar,
                        menubar: TinyMenuBar,
                        autoresize_on_init: false,
                        resize: false,
                        forced_root_block : false,
                        force_br_newlines: false,
                        force_p_newlines: false,
                        valid_elements: '',
                        templates: templates,
                        extended_valid_elements: '*',
                        relative_urls : false,
                        remove_script_host : false,
                        convert_urls : true
                    });
                    tinymce.init({
                        mode : "exact",
                        readonly : 1,
                        selector: '#<?php echo 'src-'.$field['name'];?>',
                        plugins: TinyPlugIn,
                        toolbar: TinyToolBar,
                        menubar: TinyMenuBar,
                        autoresize_on_init: false,
                        resize: false,
                        forced_root_block : false,
                        force_br_newlines: false,
                        force_p_newlines: false,
                        extended_valid_elements: '*',
                        templates: templates,
                        relative_urls : false,
                        remove_script_host : false,
                        convert_urls : true
                    });
                </script>

                <?php endif;?>
        <?php endif;?>

    <?php endforeach;?>

<?php endif;?>

<style>
    .defaultSkin table.mceLayout {
        width: 100% !important;
    }

    .source, .translation {
        width: 90%;
        float:left;
    }

    .entity-wrapper{
        display: block;
        float:left;
        width: 100%;
    }

    .source input, .source textarea, .translation input, .translation textarea {width:100%; font-size: 14px;
        line-height: 19px;
    }

    .greenbtn {background: #3ac495;
        color: #FFF;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 0 none;
        font-size: 23px;
        padding: 20px 48px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .current_entity  {
        width:30%;
        display: block;
        border: 1px solid black;
        padding: 10px;
    }

    .previous_entities{
        width: 30%;
        display: block;
        border: 1px solid black;
        padding: 10px;
        margin-left: 10px;
    }
    #button_save_container{
        display: flex;
        flex-direction: row;
        /*justify-content: center;*/
    }

    .tox .tox-statusbar,  .tox .tox-menubar {
        background-color: lightgrey;
    }

    #tmce-field-short_description, #tmce-src-field-short_description  {
        max-height:400px !important;
        height:400px !important;
    }
</style>
<div class="cartoverlay">
    <div></div>
</div>

<?php if(Mage::app()->getRequest()->getParam('load_entity_id') !== ''): ?>
    <div class="timetracker">
        <div>Time: <span id="time"></span></div>
    </div>
    <script>
        jQuery(document).ready(function () {
            show();
            start();
        });

        var idleTime = 0;
        jQuery(document).ready(function () {
            //Increment the idle time counter every minute.
            var idleInterval = setInterval(timerIncrement, 6000); // 100 ms

            //Zero the idle timer on mouse movement.
            jQuery(this).mousemove(function (e) {
                idleTime = 0;
                start();
            });
            jQuery(this).keypress(function (e) {
                idleTime = 0;
                start();
            });
        });

        function timerIncrement() {
            idleTime = idleTime + 1;
            if (idleTime >= 10) { // 1 minute
                stop();
            }
        }
    </script>
<?php endif; ?>

<?php
#Quick and dirty hack for redirect to entity
$lastUrl = $_SERVER['REQUEST_URI'];

if (strpos($lastUrl,'load_entity_id') !== false) {
    $translatorView = $this->canTranslate();
}elseif(strpos($lastUrl,'load_sku_id') !== false) {
    $translatorView = $this->canTranslate();
}elseif(strpos($lastUrl,'load_identifier') !== false) {
    $translatorView = $this->canTranslate();
}else{
    $translatorView = false;
}
?>

<?php if($translatorView): ?>
    <?php
    $fields = $this->getTranslationFields();
    $current_entity_data = $this->getCurrentEntityData();
    $entityId = $this->getRequest()->getParam('load_entity_id');
    $storeId = $this->getRequest()->getParam('storeid');
    $current_status = Mage::getModel('translation/translators_product')->getCurrentStatus($entityId, $storeId);
    $assigned_to = Mage::getModel('translation/translators_product')->getAssignedTo($entityId, $storeId);

    $emailTemplateId = null;
    $identifierUrl = null;

    $submit_url = Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_translator/translate", array('storeid' => $this->getRequest()->getParam('storeid'), 'type' => $this->getTranslatorType()));
    ?>
    <div class="translator-wrapper" style="display:inline-block;width:100%">
        <div class="header-wrapper" style="display:inline-block;width:100%">
            <h2><?php echo ucfirst(mage::helper('sinful_translation')->getTranslatorLabel($this->getTranslatorType())); ?> Translation</h2>
            <div class="translator-left" style="display:inline-block;float:left;width:49%;">
                <div class="user_info">

                    <?php $userArray = Mage::getSingleton('admin/session')->getData();
                    // get individual data
                    $user = Mage::getSingleton('admin/session');
                    $username = $user->getUser()->getUsername();
                    ?>
                    <div class="entity-wrapper">
                        <div class="current_entity left">
                            <div class="left">
                                <p>Author: <strong><?php echo $assigned_to; ?></strong></p>
                                <p>Product Id: <strong><?php echo $current_entity_data['entity_id'] ?></strong></p>
                                <p>Product Name: <strong><?php echo $current_entity_data['entity_name'] ?></p></strong>
                                <?php
                                $requestType = Mage::app()->getRequest()->getParam('type');
                                $urlToShow = ['product', 'category', 'cms', 'review'];
                                ?>
                            </div>
                        </div>

                        <div class="container" style="display: inline-block; width: auto; padding-left: 20px;">
                            <br>
                            <button id="go_to_overview">Go to <?php echo mage::helper('sinful_translation')->getTranslatorLabel($this->getTranslatorType());?> overview</button>
                            <div id="toggleText" style="display: none">
                                <div class="report_skip" style="float:right;">
                                    <textarea type="text" id="report" style="width: 300px;height: 100px;margin-top: 20px;"></textarea>
                                    <input type="hidden" id="entity_name" value="<?php echo $current_entity_data['entity_name'] ?>" />
                                    <input type="hidden" id="entity_id" value="<?php echo $current_entity_data['entity_id'] ?>" />
                                    <input type="hidden" id="entity_sku" value="<?php echo $current_entity_data['entity_sku'] ?>" />
                                    <input type="hidden" id="user" value="<?php echo $username; ?>" />
                                    <input type="hidden" id="type" value="<?php echo ucfirst($this->getTranslatorType()); ?>" />
                                    <input type="hidden" id="store" value="<?php echo $this->getRequest()->getParam('storeid'); ?>" /><br />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="translator-right" style="display:inline-block;float:left;width:49%">
                <h1>STATUS: <?php echo ucfirst($current_status) ?></h1>
            </div>
        </div>
            

            <script>
                jQuery('#displayText').click(function () {
                    javascript:toggle();
                });

                jQuery('#translatorDashboard').click(function () {
                    location.href = "<?php echo Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_translator/index", array('storeid' => $this->getRequest()->getParam('storeid'), 'type' => $this->getTranslatorType())) ?>"
                });

                jQuery('#go_to_dashboard').click(function () {
                    location.href = "<?php echo Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_translator/index", array('storeid' => $this->getRequest()->getParam('storeid'), 'type' => $this->getTranslatorType())) ?>"
                });

                jQuery('#go_to_overview').click(function () {
                    location.href = "<?php echo Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_translator/overview", array('storeid' => $this->getRequest()->getParam('storeid'), 'type' => $this->getTranslatorType())) ?>"
                });
            </script>

            <form style="display: block; width: 45%; float:left;border: 2px solid red;padding:20px;margin-top:20px">

                <h1>ORIGINAL</h1>

                <div class="fields source">
                    <?php foreach($fields as $field): ?>

                    <?php
                    //Skip select fields
                    if($field['type'] == 'select') {
                        continue;
                    }
                    ?>

                     <?php if($field['name'] == 'template_id'): ?>
                         <?php $emailTemplateId = $field['trans_value'];?>
                     <?php endif;?>

                    <?php if($field['name'] == 'identifier'): ?>
                        <?php $identifierUrl = $field['trans_value'];?>
                    <?php endif;?>

                        <?php if($field['type'] != 'hidden'): ?>
                            <div class="field" style="margin-bottom: 25px;padding-bottom: 25px;">
                        <?php else:?>
                            <div class="field">
                        <?php endif;?>

                            <?php if($field['type'] != 'hidden'): ?>
                                <p>Field: <strong><?php echo $field['name'] ?></strong></p>
                                <p style="font-size:16px;"><?php echo $field['desc'];?></p>
                                <?php if($field['change']): ?>
                                    <?php
                                        $field['orig_value'] = base64_decode($field['change'], true);
                                        $field['orig_value'] = htmlspecialchars_decode($field['orig_value'] );
                                    ?>
                                <?php endif; ?>

                            <?php endif; ?>
                                <?php if($field['type'] == 'text'): ?>
                                <input disabled type="text" id="src-<?php echo $field['name']?>" class="src-<?php echo $field['name'] ?>" name="<?php echo $field['name'] ?>" value="<?php echo htmlspecialchars($field['orig_value']) ?>" />
                            <?php elseif($field['type'] == 'textarea'): ?>
                                <textarea disabled type="text" id="src-<?php echo $field['name']?>" class="src-<?php echo $field['name'] ?>" name="<?php echo $field['name'] ?>"><?php echo htmlspecialchars($field['orig_value']) ?></textarea>
                            <?php elseif($field['type'] == 'hidden'): ?>
                                <input disabled type="hidden" id="src-<?php echo $field['name']?>" class="src-<?php echo $field['name'] ?>" name="<?php echo $field['name'] ?>" value="<?php echo htmlspecialchars($field['orig_value']) ?>" />
                            <?php endif; ?>
                        </div>
                    <?php endforeach; ?>
                </div>
            </form>

            <form id="submit_form_save" action="<?php echo $submit_url ?>" method="post" style="display: block; width: 45%; margin-left:20px; float:left;border: 2px solid green;padding:20px;margin-top:20px">

                <h1>NEW</h1>

                <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
                <input type="hidden" name="timetracking" id="timetracking" value="0" />
                <div class="fields translation">
                    <?php foreach($fields as $field): ?>

                            <?php if($field['type'] != 'hidden'): ?>
                                <div class="field" style="margin-bottom: 25px;padding-bottom: 25px;">
                            <?php else:?>
                                <div class="field">
                            <?php endif;?>

                            <?php if($field['type'] != 'hidden' && $field['name'] != 'branch_status'): ?>
                                <p>Field: <strong><?php echo $field['name'] ?></strong></p>
                                <p style="font-size:16px;"><?php echo $field['desc'];?></p>

                            <?php endif; ?>
                            <?php if($field['type'] == 'text'): ?>
                                <input type="text" id="field-<?php echo $field['name'] ?>" name="<?php echo $field['name'] ?>" value="<?php echo htmlspecialchars($field['trans_value']) ?>" />
                            <?php elseif($field['type'] == 'select' && $field['name'] == 'branch_status'): ?>
                                <p style="font-size:16px;"><?php echo 'STATUS'; ?></p>
                                <i>Set to "Waiting for approval" when done editing</i><br />

                                <?php $statuses = mage::helper('sinful_translation')->getStatuses(); ?>
                                <select name="<?php echo $field['name'] ?>" id="<?php echo $field['name'] ?>" style="font-size:16px;padding:10px;">
                                    <?php
                                        foreach($statuses as $key => $status)
                                        {
                                            $selected = '';

                                            if($key == $current_status) {
                                                $selected = ' selected';
                                            }

                                            echo sprintf('<option %s value="%s">%s</option>', $selected, $key, ucfirst($status));
                                        }
                                    ?>
                                </select>

                            <?php elseif($field['type'] == 'select'): ?>

                                <?php $dataSet = $field['data']['trans_value'];
                                if($dataSet == 1){
                                    $currentData = "Yes";
                                }
                                else{
                                    $currentData = "No";
                                }
                                ?>
                                <select name="<?php echo $field['name'] ?>" id="<?php echo $field['name'] ?>">
                                    <option disabled selected><?php echo $currentData;?></option>
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>

                            <?php elseif($field['type'] == 'textarea'): ?>
                                <textarea type="text" id="field-<?php echo $field['name'] ?>" name="<?php echo $field['name'] ?>"><?php echo htmlspecialchars($field['trans_value']) ?></textarea>
                                <?php
                                if (strpos(htmlspecialchars($field['trans_value']), 'Varedeklaration') !== false) {
                                    echo '<div style="background:red; padding:10px; border:1px solid black; color:white;">Please delete all content of Varedeklaration in the field above.</div>';
                                }
                                if (strpos(htmlspecialchars($field['trans_value']), 'Ingredienser') !== false) {
                                    echo '<div style="background:red; padding:10px; border:1px solid black; color:white;">Please delete all content of Ingredienser. in the field above</div>';
                                }
                                ?>
                            <?php elseif($field['type'] == 'hidden'): ?>
                                <input type="hidden" name="<?php echo $field['name'] ?>" value="<?php echo htmlspecialchars($field['trans_value']) ?>" />
                            <?php endif; ?>
                        </div>
                    <?php endforeach; ?>

                    <div id="button_save_container">
                        <button type="submit" class="greenbtn" id="submitBtn">Save & Exit</button>
                        <button type="submit" class="greenbtn" id="submit_and_continue_btn" continue="1">Save & Continue editing</button>
                    </div>
                </div>

            </form>

            <script type="text/javascript">
                jQuery(document).ready(function(){

                    var forceSubmit = false;

                    jQuery("#button_save_container").on('click', '#submitBtn',function(e){

                        jQuery('#submit_form_save').attr('action', '<?php echo $submit_url.'?continue=no&load_entity_id='.$current_entity_data['entity_id']; ?>');

                        submitData(e);
                    });

                    jQuery("#button_save_container").on('click', "#submit_and_continue_btn", function (e) {
                        jQuery('#submit_form_save').attr('action', '<?php echo $submit_url.'?continue=yes&load_entity_id='.$current_entity_data['entity_id'].'&trans_value='.$emailTemplateId.'&identifier='.$identifierUrl ?>');
                        submitData(e);
                    });

                    function submitData(e){
                        var form = jQuery('#submit_form_save');
                        tinyMCE.triggerSave();

                        if(forceSubmit){
                            return
                        }
                        e.preventDefault();
                        e.stopPropagation();

                        if (window.location.href.indexOf("retrans") > -1) {
                            forceSubmit = true;
                            form.submit();
                        }else if (window.location.href.indexOf("review") > -1) {
                            forceSubmit = true;
                            form.submit();
                        }
                        else{

                        var timeSpent = jQuery('#timetracking').val();
                        var entityName = jQuery('#entity_name').val();
                        var entityId = jQuery('#entity_sku').val();
                        var user = jQuery('#user').val();
                        var store = jQuery('#store').val();
                        var dateInput = <?php echo json_encode(date('Y-m-d H:i:s')); ?>;
                        var wordCount = (jQuery('#field-description').val() || "").split(/[\s\.\?]+/).length;
                        var transtype = jQuery('#type').val();
                        var businessUnitCode = "Beauty";
                        var current_status = jQuery('#branch_status').val();
                        var entity_pname = jQuery("#field-name").val();
                        var entity_desc = jQuery("#field-description_ifr").contents().find("body").html();
                        var entity_details = jQuery("#field-product_details_ifr").contents().find("body").html();
                        var entity_metatitle = jQuery("#field-meta_title").val();
                        var entity_metadesc = jQuery("#field-meta_description").val();
                        var entity_metakey = jQuery("#field-meta_keywords").val();
                        var entity_price = jQuery("#field-price").val();
                        var entity_url = jQuery("#field-url_key").val();

                        if(entity_metatitle == "" || entity_metatitle == null){
                            entity_metatitle = "none";
                        }
                        if(entity_metadesc == "" || entity_metadesc == null) {
                            entity_metadesc = "none";
                        }
                        if(entity_metakey == "" || entity_metakey == null){
                            entity_metakey = "none";
                        }

                        if(entity_desc == "" || entity_desc == null){
                            entity_desc = jQuery("#field-content_ifr").contents().find("body").html();
                        }

                        var wcName     = (jQuery('.src-name').val() || "").split(/[\s\.\?]+/).length;
                        var wcDescA    = jQuery('.src-description').val();
                        var wcDescB     = wcDescA.replace(/<(?:.|\n)*?>/gm, '');
                        var wcDesc     = wcDescB.split(/[\s\.\?]+/).length;


                        var wcDetailsA = jQuery('.src-product_details').val();
                        if(wcDetailsA == null){
                            wcDetails = 0;
                        }else{

                            var wcDetailsA = jQuery('.src-product_details').val();
                            var wcDetailsB  = wcDetailsA.replace(/<(?:.|\n)*?>/gm, '');
                            var wcDetails  = wcDetailsB.split(/[\s\.\?]+/).length;

                        }


                        var wcMetaT    = (jQuery('.src-meta_title').val() || "").split(/[\s\.\?]+/).length;
                        var wcMetaD    = (jQuery('.src-meta_description').val() || "").split(/[\s\.\?]+/).length;

                        // Zapier Word Count Post
                     //   jQuery.post("https://hooks.zapier.com/hooks/catch/123123/", { entity_name: entity_pname, entityid: entityId, timespent : timeSpent, username: user, store_id: store, date : dateInput, transla_type : transtype, name: wcName, desc: wcDesc, details: wcDetails, metaT: wcMetaT, metaD: wcMetaD});
                       // jQuery.post( "https://hooks.zapier.com/hooks/catch/123123213", { entity_name: entity_pname, eneity_desc: entity_desc, entity_details: entity_details, entity_metatitle: entity_metatitle, entity_metadesc: entity_metadesc, entity_metakey: entity_metakey, entity_url: entity_url, entity_price : entity_price, entityurl: entity_url, entityid: entityId, username: user, store_id: store, date : dateInput,  transla_type : transtype  });
                        jQuery("#submitBtn").html('Saving...');
                        jQuery.post( "https://hook.integromat.com/l4ruxq6sl0vbggq02et1372jhiq6xvmk", { entity_name: entityName, entityid: entityId, timespent : timeSpent, username: user, business_unit_code : businessUnitCode, store_id: store, date : dateInput, numberofwords : wordCount, transla_type : transtype, status :  current_status } )
                            .complete(function(){
                                forceSubmit = true;
                                form.submit();
                            });
                    }
                }
                })
            </script>
        </div>

    </div>

    <script>
        var load_specifc_url = '<?php echo Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_translator/translate", array('load_entity_id' => 'XXX','storeid' => $this->getRequest()->getParam('storeid'), 'type' => $this->getTranslatorType())) ?>';
        var load_range_url = '<?php echo Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_translator/translate", array('storeid' => $this->getRequest()->getParam('storeid'), 'type' => $this->getTranslatorType(), 'range' => 'XXX')) ?>';

        jQuery('.load_specific').click(function(){
            var entity_id = jQuery('.load_specific_input').val();
            window.open(load_specifc_url.replace('XXX',entity_id), '_blank');
        });
        jQuery('.load_range').click(function(){
            var range_from = jQuery('.range_from').val();
            var range_to = jQuery('.range_to').val();
            window.location = load_range_url.replace('XXX',range_from+'-'+range_to);
        });
    </script>
<?php else: ?>
    <?php
    $range = explode('-',Mage::app()->getRequest()->getParam('range'));
    if(!isset($range[1])) {
        $range[1] = 0;
    }
    ?>
    <div class="translator-wrapper">
        <h2><?php echo ucfirst(mage::helper('sinful_translation')->getTranslatorLabel($this->getTranslatorType())); ?> Translation</h2>

        <?php if(!Mage::app()->getRequest()->getParam('range')): ?>
            <?php if($this->getTranslatorType() == 'product') :?>
                <div class="load-specific">
                    <span><strong>Load Specific SKU:</strong></span> <input class="load_specific_input_sku" type="text" /><button class="load_specific_sku button">Load</button>
                </div>
            <?php elseif(in_array($this->getTranslatorType(), $identifierArray)) :?>
                <div class="load-specific">
                    <span><strong>Load Specific Identifier:</strong></span> <input  class="load_specifc_identifier_input" type="text" /><button class="load_specifc_identifier button">Load</button>
                </div>
            <?php else :?>
            <div class="load-specific">
                <span><strong>Load Specific ID:</strong></span> <input  class="load_specific_input" type="text" /><button class="load_specific button">Load</button>
            </div>
            <?php endif;?>
            <div class="view-translations">
                <button id="go_to_dashboard">Go to translation overview</button>
                <a href="<?php echo Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_translator/overview", array('storeid' => $this->getRequest()->getParam('storeid'), 'type' => $this->getTranslatorType())) ?>">
                    <button class="button">View all <?php echo mage::helper('sinful_translation')->getTranslatorLabel($this->getTranslatorType());?></button>
                </a>
            </div>
        <?php else: ?>
            <div class="cannot_translate">
                <?php if(Mage::app()->getRequest()->getParam('load_entity_id')): ?>
                    <h3>Not found</h3>
                <?php else: ?>
                    <h3>Id range done</h3><br>
                <?php endif; ?>
                <div class="load-specific">
                    <span><strong>Load Specific ID:</strong></span> <input class="load_specific_input" type="text" /> <button class="load_specific button">Load</button>
                </div>
                <div class="view_translations">
                    <a href="<?php echo Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_translator/overview", array('storeid' => $this->getRequest()->getParam('storeid'), 'type' => $this->getTranslatorType())) ?>">
                        <button class="button">View all <?php echo mage::helper('sinful_translation')->getTranslatorLabel($this->getTranslatorType());?></button>
                    </a>
                </div>
            </div>
        <?php endif; ?>
    </div>

    <script>
        var load_specifc_url = '<?php echo Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_translator/translate", array('load_entity_id' => 'XXX','storeid' => $this->getRequest()->getParam('storeid'), 'type' => $this->getTranslatorType())) ?>';
        var load_specifc_url_sku = '<?php echo Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_translator/translate", array('load_sku_id' => 'XXX','storeid' => $this->getRequest()->getParam('storeid'), 'type' => $this->getTranslatorType())) ?>';
        var load_specifc_identifier = '<?php echo Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_translator/translate", array('load_identifier' => 'XXX','storeid' => $this->getRequest()->getParam('storeid'), 'type' => $this->getTranslatorType())) ?>';
        var load_range_url = '<?php echo Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_translator/translate", array('storeid' => $this->getRequest()->getParam('storeid'), 'type' => $this->getTranslatorType(), 'range' => 'XXX')) ?>';

        jQuery('.load_specific').click(function(){
            var entity_id = jQuery('.load_specific_input').val();
            window.location = load_specifc_url.replace('XXX',entity_id);
        });

        jQuery('.load_specific_sku').click(function(){
            var entity_id = jQuery('.load_specific_input_sku').val();
            window.location = load_specifc_url_sku.replace('XXX',entity_id);
        });


        jQuery('.load_specifc_identifier').click(function(){
            var entity_id = jQuery('.load_specifc_identifier_input').val();
            window.location = load_specifc_identifier.replace('XXX',entity_id);
        });

        jQuery('.load_range').click(function(){
            var range_from = jQuery('.range_from').val();
            var range_to = jQuery('.range_to').val();
            window.location = load_range_url.replace('XXX',range_from+'-'+range_to);
        });

        jQuery('#go_to_dashboard').click(function () {
            location.href = "<?php echo Mage::helper("adminhtml")->getUrl("sinfultranslation/adminhtml_translator/index", array('storeid' => $this->getRequest()->getParam('storeid'), 'type' => $this->getTranslatorType())) ?>"
        });
    </script>
<?php endif; ?>

