<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Promo
 */
?>
<?php /** @var Amasty_Promo_Block_Adminhtml_Notifications $this */ ?>
<div class="amrules_notifications" id="amrules_notifications">
    <div id="messages">
        <ul class="messages">
            <li class="notice-msg">
                <ul>
                    <li>
                        <?php echo $this->__("In order to use attributes like SKU or Manufacturer, please activate `Use for Promo Rule Condition` option in ");?>
                        <a href="<?php echo $this->getSettingsUrl();?>"><?php echo $this->__('Product Attributes');?></a>.
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<script>
    Event.observe(window, 'load', function () {
        var actionsNotifications = document.getElementById('amrules_notifications');
        var actions = document.getElementById('rule_actions_fieldset');
        var conditions = document.getElementById('rule_conditions_fieldset');
        var conditionsNotifications = actionsNotifications.cloneNode(true);
        actions.insertBefore(actionsNotifications, actions.firstChild);
        conditions.insertBefore(conditionsNotifications, conditions.firstChild);
    });
</script>
