<?php
    if (!$product = Mage::registry('current_product')) {
        return;
    }

    if ($this->isFirtalSubscriptionInCart()
        || $product->getTypeId() === 'bundle'
        || $product->getTypeId() === 'grouped'
        || $this->isExcluded()
        || $this->isUrgentPriceSet()) {
        return;
    }

    $periods = $this->getSubscriptionPeriods();
?>

<div class="rp_form">
    <div class="rp_form__input_single">
        <label>
            <input type="radio" checked id="rp_onetime-purchase">
            <?php echo $this->__('One-time purchase') ?> <?php echo 'Pris '. Mage::helper('core')->currency($product->getFinalPrice(), true, false); ?>
        </label>
    </div>

    <div class="rp_form__input_sub">
        <label>
            <input type="radio" id="rp_renew">
            <?php if (empty($this->getDiscountAndFixedDiscount())): ?> 
                <span><?php echo $this->__('Auto-renew'); ?></span>
            <?php elseif ($this->getDiscountAndFixedDiscount()): ?>
                <span><?php echo $this->__('Auto-renew & save'); ?></span> 
                <span>
                    <strong>
                        <?php
                        echo $this->getDiscountAndFixedDiscount()
                            ? round($this->getDiscountAndFixedDiscount(), 1) . '%'
                            : $this->getFixedDiscount();
                        ?>

                        <?php
                           echo 'Pris '.Mage::helper('core')->currency(Mage::helper('firtal_reepay')->getLowestDiscountedPrice($product), true, false);
                        ?>
                    </strong>
                </span>
            <?php endif ?>
        </label>
    </div>

    <div class="rp_form__plans <?php echo $this->isFirtalSubscriptionInCart() ? 'rp_form__input-hide' : '' ?>" id="rp_sub_box">
        <div class="rp_select_plans">
            <label for="reepay_plans" id="reepay_plans_label" class="reepay_plans_label"></label>
            <select id="reepay_plans" name="reepay_subscription">
                <?php foreach ($periods as $period): ?>
                    <!--                <input type="radio" style="display:none;" name="--><?php //echo $period->getId(); ?><!--" />-->
                    <!--                <label class="rp_plans_label" for="--><?php //echo $period->getId(); ?><!--">--><?php //echo $period->getTitle() ?><!--</label>-->
                    <option value="<?php echo $period->getId(); ?>"><span><?php echo $period->getTitle() ?></span></option>
                <?php endforeach ?>
            </select>
        </div>
    </div>


</div>


<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<script type="text/javascript">
    (function () {
        document.addEventListener('DOMContentLoaded', function () {
            var autoRenew = document.getElementById('rp_renew');
            var reepaySelect = document.getElementById('reepay_plans');
            var reepaySubBox = document.getElementById('rp_sub_box');
            var onetimePurchase = document.getElementById('rp_onetime-purchase');
            var renew = document.getElementById('rp_renew');
            var price = document.querySelector('.price-box .price');
            var specialPrice = document.querySelector('.special-price .price');

            /**
             * AW Sarp removes special-price, thus the fallback
             */
            if (!specialPrice) {
                specialPrice = price;
            }

            var planLabel = document.querySelector('#reepay_plans_label');
            var autoRenewMessage = <?php echo json_encode(Mage::helper('firtal_reepay')->__('Subscribe to a plan:')); ?>;

            setSelectTagToDefaultSelection(reepaySelect, -1);

            autoRenew.addEventListener('change', isAutoRenewChecked);
            onetimePurchase.addEventListener('change', isOneTimePurchaseChecked);

            function setSelectTagToDefaultSelection(inputTag, defaultIndex) {
                inputTag.selectedIndex = defaultIndex;
            }

            function isOneTimePurchaseChecked() {
                if (onetimePurchase.checked) {
                    setSelectTagToDefaultSelection(reepaySelect, -1);
                    removeReepayCookieIfSet('reepay_subscription_plan');
                    autoRenew.checked = '';
                    reepaySubBox.style.display = 'none'; 
                    planLabel.innerHTML = '';
                    setNewPrice(specialPrice, <?php echo strip_tags(json_encode(Mage::registry('current_product')->getFormatedPrice())); ?>);
                    setNewPrice(price, <?php echo strip_tags(json_encode(Mage::registry('current_product')->getFormatedPrice())); ?>)
                }
            }

            function isAutoRenewChecked() {
                if (autoRenew.checked) {
                    setSelectTagToDefaultSelection(reepaySelect, 0);
                    Cookies.set('reepay_subscription_plan', reepaySelect.options[0].text);
                    autoRenew.checked = true;
                    onetimePurchase.checked = '';
                    reepaySubBox.style.display = 'block'; 
                    planLabel.innerHTML = autoRenewMessage;
                    setNewPrice(price, <?php echo strip_tags(json_encode($this->getSaving())); ?>);
                    setNewPrice(specialPrice, <?php echo strip_tags(json_encode($this->getSaving())); ?>);
                } else {
                    removeReepayCookieIfSet('reepay_subscription_plan');
                    reepaySubBox.style.display = 'none'; 
                }
            }


            removeReepayCookieIfSet('reepay_subscription_plan');
            reepaySelect.addEventListener('change', function () {
                removeReepayCookieIfSet('reepay_subscription_plan');
                Cookies.set('reepay_subscription_plan', reepaySelect.options[reepaySelect.selectedIndex].text);
            });

            function removeReepayCookieIfSet(cookie) {
                if (!cookie) {
                    return;
                }

                if (Cookies.get(cookie)) {
                    Cookies.remove(cookie);
                }
            }

            function setNewPrice(priceElement, price) {
                priceElement.innerText = price;
            }
        });
    }());
</script>
