<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_PromoBannersLite
 */
?>
<?php
if (Mage::helper('ambannerslite')->isEnable()):
    if ($this->getImage() && $this->getEnabled()) {
        ?><img class="ampromo-label" width="75px" alt="<?php echo $this->getAlt(); ?>" src="<?php echo $this->getImage(); ?>">
    <?php } ?>
    <div style="clear: both;"></div>
<?php endif; ?>