<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Pmatch
 * @version    2.1.5
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php $collection = $this->getRequestCollection(); ?>
<div class="page-title">
    <h1><?php echo $this->__('Price Match Requests') ?></h1>
</div>
<?php if ($collection->getSize() == 0) : ?>
    <div class="col-2">
        <?php echo $this->__('You have no submitted requests.'); ?>
    </div>
<?php else : ?>
    <script type="text/javascript">
        function toggleDetailsDisplayState(id) {
            var details = $('details-' + id);
            var detailsButton = $('details-button-' + id);
            var detailsButtonLabel = detailsButton.select('span>span').first();
            if (!details.visible()) {
                detailsButton.addClassName('aw-pm-details-visible');
                details.show();
                detailsButtonLabel.innerHTML = "<?php echo $this->__('Hide')?>";
            } else {
                detailsButton.removeClassName('aw-pm-details-visible');
                details.hide();
                detailsButtonLabel.innerHTML = "<?php echo $this->__('Show')?>";
            }
        }
    </script>
    <div class="box-account box-recent">
        <table id="my-orders-table" class="data-table">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th><?php echo $this->__('#') ?></th>
                    <th><?php echo $this->__('Created On') ?></th>
                    <th><?php echo $this->__('Product') ?></th>
                    <th><?php echo $this->__('Product Price') ?></th>
                    <th><?php echo $this->__('Status') ?></th>
                    <th><?php echo $this->__('Discount') ?></th>
                    <th><?php echo $this->__('Details') ?></th>
                </tr>
            </thead>
            <?php $customerIndexRequest = 0; ?>
            <?php foreach ($collection as $requestId => $request) : ?>
                <tr>
                    <td><?php echo ++$customerIndexRequest; ?></td>
                    <td><?php echo $this->getFormattedDate($request->getData('created_time')); ?></td>
                    <td><a href="<?php echo $this->helper('pmatch')->getProductUrlByRequest($request); ?>"><?php echo $request->getProductName(); ?></a></td>
                    <td><?php echo $this->formatPrice($request->getProductPrice()); ?></td>
                    <td><?php echo $this->getRequestStatusLabel($request); ?></td>
                    <td><?php echo $this->formatPrice($request->getDiscount()); ?></td>
                    <td id="details-button-<?php echo $requestId; ?>">
                        <button type="button" title="<?php echo $this->__('Show'); ?>" class="button" onclick="toggleDetailsDisplayState(<?php echo $requestId; ?>);return false;">
                            <span><span><?php echo $this->__('Show'); ?></span></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td style="display: none" id="details-<?php echo $requestId; ?>" colspan="7" class="aw-pm-details">
                        <p><?php echo $this->__("Competitor's Price"); ?>: <b><?php echo $this->formatPrice($request->getCompetitorPrice()); ?></b></p>
                        <?php if ($request->getCustomerPrice() > 0):?>
                            <p><?php echo $this->__('Your Match'); ?>: <b><?php echo $this->formatPrice($request->getCustomerPrice()); ?></b></p>
                        <?php endif; ?>
                        <?php if ($request->getDiscount() > 0 && $request->getStatus() == AW_Pmatch_Model_Source_Status::APPROVED):?>
                            <p><?php echo $this->__('Coupon Code'); ?>: <b><?php echo $request->getGuestCode(); ?></b></p>
                            <p><?php echo $this->__('Discount Status'); ?>: <b><?php echo $this->getDiscountStatusLabel($request); ?></b></p>
                            <?php if ($request->getData('discount_use_before') != null): ?>
                                <p><?php echo $this->__('Use Discount Before'); ?>: <b><?php echo $this->getFormattedDate($request->getData('discount_use_before')); ?></b></p>
                            <?php endif; ?>
                        <?php endif; ?>
                        <p><?php echo $this->__('Last Update'); ?>: <b><?php echo $this->getFormattedDate($request->getData('update_time')); ?></b></p>
                        <?php if ($request->getInfo()): ?>
                            <p><?php echo $this->__('Additional Information'); ?>: <b><?php echo$request->getInfo(); ?></b></p>
                        <?php endif; ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
    </div>
<?php endif; ?>
<br/>
<div class="buttons-set">
    <p class="back-link">
        <a href="<?php echo $this->getBackUrl() ?>"><?php echo $this->__('Back') ?></a>
    </p>
</div>
