<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Pmatch
 * @version    2.1.5
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ($this->canShow()) : ?>
<?php
$product = $this->getProduct();
$customer = Mage::getSingleton('customer/session')->getCustomer();
$customerAddress = $customer->getDefaultBillingAddress();
?>

<div id="pmatch-form-container" style="display: none; position: relative;z-index:999;">
    <div id="pmatch-overlay" onclick="hidePmatchPopup()"></div>
    <div id="pmatch-popup">
        <div class="pmatch-form">
            <div class="pmatch-form-before"><?php echo $this->getHtmlBeforeForm(); ?></div>
            <form action="<?php echo $this->getAction() ?>" method="post" id="pmatch-form" enctype="multipart/form-data">
                <div class="fieldset">
                    <h2 class="legend"><?php echo $this->__('Price Match') ?></h2>
                    <ul class="form-list">
                        <li>
                            <label class="required" for="customer_name"><em>*</em><?php echo $this->__('Your Name') ?></label>
                            <div class="input-box">
                                <input type="text" class="input-text required-entry" value="<?php echo $customer->getName(); ?>" title="<?php echo $this->__('Your Name') ?>" id="customer_name" name="customer_name" />
                            </div>
                        </li>
                        <li>
                            <label class="required" for="customer_email"><em>*</em><?php echo $this->__('Email') ?></label>
                            <div class="input-box">
                                <input type="text" class="input-text required-entry validate-email" value="<?php echo $customer->getEmail(); ?>" title="<?php echo $this->__('Email') ?>" id="customer_email" name="customer_email" />
                            </div>
                        </li>
                        <li>
                            <label for="customer_phone"><?php echo $this->__('Telephone') ?></label>
                            <div class="input-box">
                                <input type="text" class="input-text" value="<?php echo $customerAddress ? $customerAddress->getTelephone() : '';?>" title="<?php echo $this->__('Telephone') ?>" id="customer_phone" name="customer_phone" />
                            </div>
                        </li>
                        <hr>
                        <li>
                            <label class="required" for="product_name"><em>*</em><?php echo $this->__('Product Name') ?></label>
                            <div class="input-box">
                                <input type="text" class="input-text required-entry" value="<?php echo $product->getName(); ?>" title="<?php echo $this->__('Product Name') ?>" id="product_name" name="product_name" />
                                <input type="hidden" value="<?php echo $customer->getId(); ?>" name="customer_id" />
                                <input type="hidden" value="<?php echo $product->getId(); ?>" name="product_id" />
                                <input type="hidden" value="<?php echo $product->getFinalPrice(); ?>" name="product_price" class="awpm_price_box<?php echo $product->getId(); ?>" />
                                <input type="hidden" value="<?php echo $this->getOriginalProductPrice($product); ?>" name="product_price_original" class = "awpm_price_box<?php echo $product->getId(); ?>" />
                            </div>
                        </li>
                        <li>
                            <label class="required" for="competitor_link"><em>*</em><?php echo $this->__("Competitor's product link") ?></label>
                            <div class="input-box">
                                <input type="text" class="input-text required-entry" value="" title="<?php echo $this->__("Competitor's product link") ?>" id="competitor_link" name="competitor_link" />
                            </div>
                        </li>
                        <li>
                            <label class="required" for="competitor_price_field"><em>*</em><?php echo $this->__("Competitor's price") ?></label>
                            <div class="input-box">
                                <input type="text" class="input-text required-entry validate-number" value="" title="<?php echo $this->__("Competitor's price") ?>" id="competitor_price_field" name="competitor_price" />
                            </div>
                        </li>
                        <?php if ($this->getCanShowOptionCustomerPrice()): ?>
                            <li>
                                <label for="customer_price_field"><?php echo $this->__("I'd like to pay for it") ?></label>
                                <div class="input-box">
                                    <input type="text" class="input-text validate-number" value="" title="<?php echo $this->__("I'd like to pay for it") ?>" id="customer_price_field" name="customer_price" />
                                </div>
                            </li>
                        <?php endif;?>
                        <li>
                            <label for="info"><?php echo $this->__('Information') ?></label>
                            <div class="input-box">
                                <textarea class="input-text pmatch-textarea" title="<?php echo $this->__('Information') ?>" id="info" name="info"></textarea>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="buttons-set">
                    <p class="required pmatch-required"><?php echo $this->__('* Required Fields') ?></p>
                    <button class="button pmatch-submit" title="<?php echo $this->__('Submit') ?>" type="button" onclick="pmatchSubmit();"><span><span><?php echo $this->__('Submit') ?></span></span></button>
                    <button class="button pmatch-cancel" title="<?php echo $this->__('Cancel') ?>" type="button" onclick="hidePmatchPopup();"><span><span><?php echo $this->__('Cancel') ?></span></span></button>
                </div>
            </form>
            <script type="text/javascript">
                (function(){
                    var antiBotEl = new Element('input');
                    antiBotEl.setAttribute('name', 'antibot-field');
                    antiBotEl.setAttribute('type', 'hidden');
                    var d = new Date();
                    antiBotEl.setAttribute('value', 'antibot-' + d.getMilliseconds());
                    $('pmatch-form').select("input[name='customer_id']").first().up().appendChild(antiBotEl);
                })();
            </script>
            <div class="pmatch-form-after"><?php echo $this->getHtmlAfterForm(); ?></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var pmatchFormId = 'pmatch-form';
    var pmatchForm = new VarienForm(pmatchFormId);
    var pmatchContainer = $('pmatch-form-container');

    function showPmatchPopup(){
        Effect.Appear(pmatchContainer,{duration:0.2});
        return false;
    }

    function hidePmatchPopup(){
        Effect.Fade(pmatchContainer,{duration:0.2});
        $(pmatchFormId).reset();
        pmatchForm.validator.reset();
        return false;
    }

    function pmatchSubmit() {
        pmatchForm.submit();
    }
</script>
<?php endif; ?>
