<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Pmatch
 * @version    2.1.5
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ($this->canShow()) : ?>
    <?php $product = $this->getProduct(); ?>
    <?php $requestFormType = Mage::helper('pmatch/config')->getRequestFormType(); ?>

    <div class="price-match" onClick="activateRequestForm();"><?php echo $this->__('<b>Tryk her for at starte et prismatch</b>'); ?></div>
    <script type="text/javascript">
        function activateRequestForm()
        {
            <?php if (AW_Pmatch_Model_Source_Form_Type::POPUP == $requestFormType) : ?>
                showPmatchPopup();
            <?php elseif (AW_Pmatch_Model_Source_Form_Type::SEPARATE_PAGE == $requestFormType) : ?>
                <?php $url = Mage::getUrl('pmatch/request/add/', array('product_id' => $product->getId())); ?>
                setLocation('<?php echo $url; ?>');
            <?php else : ?>
                setLocation('#pricematch');
            <?php endif; ?>
        }
    </script>
<?php endif; ?>
