<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Pmatch
 * @version    2.1.5
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
$product = $this->getProduct();
$customer = Mage::getSingleton('customer/session')->getCustomer();
$customerAddress = $customer->getDefaultBillingAddress();
?>

<div id="pmatch-form-for-insert">
    <div class="pmatch-form" id="pmatch-form-container">
        <div class="pmatch-form-before"><?php echo $this->getHtmlBeforeForm(); ?></div>
        <form action="<?php echo $this->getAction() ?>" method="post" id="pmatch-form" enctype="multipart/form-data">
            <div class="fieldset">
                <div class="prd_top_wrapper">
                <div class="product-name">
                <a href="javascript:history.back()"><div class="mobile-back"></div></a>
                    <h1><?php echo $this->__('Price Match') ?></h1>
                </div>
                </div>
                
                <ul class="form-list">
                    <li class="fields">
                        <div class="field">
                            <label class="required" for="customer_name"><em>*</em><?php echo $this->__('Your Name') ?></label>
                            <div class="input-box">
                                <input type="text" class="input-text required-entry" value="<?php echo $customer->getName(); ?>" title="<?php echo $this->__('Your Name') ?>" id="customer_name" name="customer_name" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="required" for="customer_email"><em>*</em><?php echo $this->__('Email') ?></label>
                            <div class="input-box">
                                <input type="text" class="input-text required-entry validate-email" value="<?php echo $customer->getEmail(); ?>" title="<?php echo $this->__('Email') ?>" id="customer_email" name="customer_email" />
                            </div>
                        </div>
                    </li>
                    <li class="wide">
                        <label for="customer_phone"><?php echo $this->__('Telephone') ?></label>
                        <div class="input-box">
                            <input type="text" class="input-text" value="<?php echo $customerAddress ? $customerAddress->getTelephone() : '';?>" title="<?php echo $this->__('Telephone') ?>" id="customer_phone" name="customer_phone" />
                        </div>
                    </li>
                    <br />
                    <br />
                    <li class="wide">
                        <label class="required" for="product_name"><em>*</em><?php echo $this->__('Product Name') ?></label>
                        <div class="input-box">
                            <input type="text" class="input-text required-entry" value="<?php echo $product->getName(); ?>" title="<?php echo $this->__('Product Name') ?>" id="product_name" name="product_name" />
                            <input type="hidden" value="<?php echo $customer->getId(); ?>" name="customer_id" />
                            <input type="hidden" value="<?php echo $product->getId(); ?>" name="product_id" />
                            <input type="hidden" value="<?php echo $product->getFinalPrice(); ?>" name="product_price" class = "awpm_price_box<?php echo $product->getId(); ?>" />
                            <input type="hidden" value="<?php echo $this->getOriginalProductPrice($product); ?>" name="product_price_original" class = "awpm_price_box<?php echo $product->getId(); ?>" />
                        </div>
                    </li>
                    <li class="wide">
                        <div class="field">
                            <label class="required" for="competitor_link"><em>*</em><?php echo $this->__("Competitor's product link"); ?></label>
                            <div class="input-box">
                                <input type="text" class="input-text required-entry" value="" title="<?php echo $this->__("Competitor's product link"); ?>" id="competitor_link" name="competitor_link" />
                            </div>
                        </div>
                    </li>
                    <li class="fields">
                        <div class="field">
                            <label class="required" for="competitor_price_field"><em>*</em><?php echo $this->__("Competitor's price") ?></label>
                            <div class="input-box">
                                <input type="text" class="input-text required-entry validate-number" value="" title="<?php echo $this->__("Competitor's price") ?>" id="competitor_price_field" name="competitor_price" />
                            </div>
                        </div>
                        <?php if ($this->getCanShowOptionCustomerPrice()): ?>
                            <div class="field">
                                <label for="customer_price_field"><?php echo $this->__("I'd like to pay for it") ?></label>
                                <div class="input-box">
                                    <input type="text" class="input-text validate-number" value="" title="<?php echo $this->__("I'd like to pay for it") ?>" id="customer_price_field" name="customer_price" />
                                </div>
                             </div>
                        <?php endif;?>
                    </li>
                    <li class="wide">
                        <div class="field">
                            <label for="info"><?php echo $this->__('Information') ?></label>
                            <div class="input-box">
                                <textarea class="input-text pmatch-textarea" title="<?php echo $this->__('Information') ?>" id="info" name="info"></textarea>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="buttons-set">
                <p class="back-link"><a href="<?php echo $this->getBackUrl();?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
                <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                <button class="button" title="<?php echo $this->__('Submit') ?>" type="button" onclick="pmatchSubmit()"><span><span><?php echo $this->__('Submit') ?></span></span></button>
            </div>
        </form>
        <script type="text/javascript">
            (function(){
                var antiBotEl = new Element('input');
                antiBotEl.setAttribute('name', 'antibot-field');
                antiBotEl.setAttribute('type', 'hidden');
                var d = new Date();
                antiBotEl.setAttribute('value', 'antibot-' + d.getMilliseconds());
                $('pmatch-form').select("input[name='customer_id']").first().up().appendChild(antiBotEl);
            })();
        </script>
        <div class="pmatch-form-after"><?php echo $this->getHtmlAfterForm(); ?></div>
    </div>
</div>

<script type="text/javascript">
    var pmatchForm = new VarienForm('pmatch-form');
    function pmatchSubmit(){
        pmatchForm.submit();
    }
</script>
