<script>
    var ProductExchangeSelectionPopupUrl = '<?php echo $this->getProductExchangeSelectionPopup(); ?>';
</script>
<?php
    /** @var Mage_Sales_Model_Order $sales_order */
    $sales_order = $this->getRma()->getSalesOrder();

    // IncoverDK#145025269 05/06/2015 11.29.33
    $hack_unix  = ( new Zend_Date( '2015-06-05T11:29:33+02:00' ) )->toString( 'U' );
    $order_unix = $sales_order->getCreatedAtDate()->toString( 'U' );

    $order_is_after_economic_hack = $order_unix > $hack_unix;

?>


<div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Process products'); ?></h4>
</div>

<fieldset id="my-fieldset">
    <div class="grid">
        <table class="data" cellspacing="0">
            <thead>
            <tr class="headings">
                <th></th>
                <th><?php echo $this->__('Location'); ?></th>
                <th><?php echo $this->__('Product sku'); ?></th>
                <th><?php echo $this->__('Product name'); ?></th>
                <th class="a-center"><?php echo $this->__('Reason'); ?></th>
                <th class="a-center"><?php echo $this->__('Request type'); ?></th>
                <th class="a-center"><?php echo $this->__('Available'); ?></th>
                <th class="a-center"><?php echo $this->__('Price'); ?></th>
                <th class="a-center"><?php echo $this->__('Cost'); ?></th>
                <th class="a-center"><?php echo $this->__('Margin'); ?></th>
                <th class="a-center"><?php echo $this->__('No action'); ?></th>
                <th class="a-center"><?php echo $this->__('Back to customer'); ?></th>
                <th class="a-center"><?php echo $this->__('Refund'); ?></th>
                <th class="a-center"><?php echo $this->__('Exchange'); ?></th>
                <th class="a-center"><?php echo $this->__('Product destination'); ?></th>
                <th class="a-center"><?php echo $this->__('Print location label'); ?></th>
            </tr>
            </thead>
            <tbody>
            <?php 
            // Kundeservice beskeder
            $collectedMessagesCS = [];

            // Lager beskeder                    
            $collectedMessagesLA = [];
            foreach ($this->getRma()->getProducts() as $product): ?>
                <?php
                if ($product->getrp_qty() == 0) {
                    continue;
                }
                ?>
                <div>
                    <ul>
                    <?php                                            
                    // Product Return regler
                    // Skal vedligeholdet ved tilføjelse af nye Reason

                    $customer_fault = array("fejlbestil", "fortrudt");
                    $broken_item = array("gået i stykker", "fabrikationsfejl", "gået it", "brugt produkt", "lever ikke op til forventning");
                    $bts_categories = array("forkert antal", "mangler i");

                    if(!function_exists('is_fault'))
                    {
                        function is_fault($retur, $reason) 
                        {
                            foreach ($retur as $fault) {
                                if (stripos($reason, $fault) !== FALSE) {
                                    return true;

                                }
                            }
                        }    
                    }

                    


                    // LABEL ER KUN FOR INCOVER!
                    if(class_exists('Firtal_CoverDesigner_Helper_Data'))
                    {
                        $items = $sales_order->getAllItems();
                        foreach ($items as $item)
                        {
                            $options = unserialize($item->getData('product_options'));
                            foreach ($options['options'] as $option)
                            {
                                if ($option['label'] == Firtal_CoverDesigner_Helper_Data::CUSTOM_ATTRIBUTE_NAME){
                                    $collectedMessagesCS[] = 'rma_design_cover';
                                }
                                
                            }

                        }
                    }
                    
                    
                    if(is_fault($customer_fault, $product->getrp_reason())) {
                        $collectedMessagesCS[] = 'rma_kunde_fragt';
                    }  

                    if(is_fault($broken_item, $product->getrp_reason()) && $product->getProduct()->getCost() > 30) {
                        $collectedMessagesCS[] = 'rma_cost_vurdering';
                    }

                    if(is_fault($bts_categories, $product->getrp_reason())) {
                        $collectedMessagesCS[] = 'rma_back_to_stock';
                    }

                    if ($product->getrp_reason() == 'Sendt forkert vare'){
                        $collectedMessagesCS[] = 'rma_forkert_vare';       
                    }                   

                    if ($product->getrp_request_type() == 'Refundering' && !is_fault($customer_fault, $product->getrp_reason())){
                        $collectedMessagesCS[] = 'rma_refundering_m4m';
                    }
                    
                    
                    
                    if ($product->getrp_reason() == 'Gået itu under fragt'){
                        $collectedMessagesLA[] = 'rma_lager_itu';
                    }

                    if ($product->getrp_reason() == 'Sendt forkert vare'){
                        $collectedMessagesLA[] = 'rma_lager_forkert_vare';
                    }

                    if(is_fault($broken_item, $product->getrp_reason())) {
                        $collectedMessagesLA[] = 'rma_lager_rma_guide';
                    }

                    if ($product->getrp_request_type() == 'Refundering'){
                        $collectedMessagesLA[] = 'rma_refundering_m4m';
                    }

                    ?>
                    </ul>
                </div>              

                <tr>
                    <td><img src="<?php echo mage::helper('ProductReturn')->getProductImage($product->getproduct_id(),65); ?>" /></td>
                    <td class="a-center"><?php echo $product->getProduct()->getStockItem()->getShelfLocation()?:'Mangler lokation'; ?></td>
                    <td class="a-center"><?php if (stristr($product->getSku(),'U-')) {echo '<div style="background:red;color:white;">'.$product->getSku().'</div>';}else{echo $product->getSku();}; ?></td>

                    <td><?php echo $product->getrp_qty() . 'x ' . $this->getProductName($product); ?></td>
                    <td class="a-center"><?php echo $this->__($product->getrp_reason()); ?></td>
                    <td class="a-center"><?php echo $this->__($product->getrp_request_type()); ?></td>
                   <td class="a-center"><?php 
                     if ( ! Mage::getModel('catalog/product')->load($product->getproduct_id())->getStockItem()->getQty() )
                     { echo '<div style="background:red;color:white">UDSOLGT!</div>Waiting for delivery = ' . (Mage::getModel('catalog/product')->load($product->getproduct_id())->getWaitingForDeliveryQty()) .'<div style="">Tjek om det er udgået!</div>';
                    } 
                     else 
                    {echo Mage::getModel('catalog/product')->load($product->getproduct_id())->getStockItem()->getQty();} ?></td>
                    <td class="a-center">
                        <span id="span_product_<?php echo $product->getrp_id(); ?>_price"><?php echo number_format($product->getprice(), 2); ?></span>
                    </td>
                    <td class="">
                        <span id="span_product_<?php echo $product->getrp_id(); ?>_cost"><?php echo number_format($product->getProduct()->getCost(), 2); ?></span>
                    </td>
                    <td class="">
                        <span id="span_product_<?php echo $product->getrp_id(); ?>_margin"><?php echo number_format(($product->getprice()*0.8)-$product->getProduct()->getCost(), 2); ?></span>
                    </td>
                    <?php if ($this->hasBeenProcessed($product)): ?>
                        <td class="a-left" colspan="5"><?php echo $this->getProceedInformation($product); ?></td>
                    <?php else: ?>
                        <td class="a-center"><?php echo $this->getNoActionHtml($product); ?></td>
                        <td class="a-center"><?php echo $this->getReturnProductHtml($product); ?></td>
                        <td class="a-center"><?php echo $this->getRefundHtml($product); ?></td>
                        <td class="a-center"><?php echo $this->getExchangeHtml($product); ?></td>
                        <td class="a-center"><?php echo $this->getProductDestinationHtml($product); ?></td>
                        <td class="a-center"><button onclick="printlabel('<?=$product->getName()?>', '<?=$product->getrp_qty()?>', '<?=$product->getSku()?>', '<?=$product->getProduct()->getStockItem()->getShelfLocation()?:"Mangler lokation"?>')">Print lokation label</button></td>
                    <?php endif; ?>
                </tr>

            <?php endforeach; ?>
            <div style="color: #00529B; background-color: #BDE5F8; border: 1px solid; margin: 10px 0px; padding: 15px 10px 15px 15px; background-repeat: no-repeat; background-position: 10px center;">
                <ul>
                <?php
                
                $uniqueMessagesCS = array_unique($collectedMessagesCS);
                $uniqueMessagesLA = array_unique($collectedMessagesLA);
                
                echo '<li><b>Kundeservice info</b></li>';
                foreach ($uniqueMessagesCS as $message) {
                    echo '<li>'.$this->getLayout()->createBlock('cms/block')->setBlockId($message)->toHtml().'</li>'."\n";
                }

                echo '<hr style="border: 0; height: 1px; background-color: #00529B;">';   
                
                echo '<li><b>Lager info</b></li>';
                foreach ($uniqueMessagesLA as $message) {
                    echo '<li>'.$this->getLayout()->createBlock('cms/block')->setBlockId($message)->toHtml().'</li>'."\n";
                }

                ?>
                </ul>
            </div>
            </tbody>
        </table>
    </div>
</fieldset>

<!-- her -->

<table border="0" width="100%">
    <tr>
        <td width="50%">
            <div class="entry-edit-head">
                <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Credit memo settings'); ?></h4>
            </div>
            <fieldset id="my-fieldset">
                <center><p><i><?php echo $this->__('Applies when you refund customer or for product exchange'); ?></i></p></center>
                <table cellspacing="0" class="form-list" id="block_action" >
                    <tr id="tr_refund_shipping" >
                        <td class="label"><?php echo $this->__('Refund shipping fees'); ?></td>
                        <td class="input-ele"><input type="checkbox" name="data[refund_shipping_fees]" id="refund_shipping_fees" onclick="toggleShippingAmount()" checked></td>
                    </tr>
                    <tr id="tr_refund_shipping_amount" >
                        <td class="label"></td>
                        <td class="input-ele"><?php echo $this->__('Amount (incl tax)'); ?>&nbsp;:&nbsp;<input type="textbox" name="data[refund_shipping_amount]" id="refund_shipping_amount" value="<?php echo $this->getShippingAmountInclTax(); ?>" ></td>
                    </tr>
                    <tr id="tr_refund_shipping">
                        <td class="label"><?php echo $this->__('Adjustment refund'); ?></td>
                        <td class="input-ele">
                            <input type="text" name="data[credit_memo_refund]" id="credit_memo_refund" value="<?php echo $order_is_after_economic_hack ? 0 : 4.4 ?>">
                            <p class="note"><?php echo $this->__('Amount to add to refund'); ?>(<?php echo $this->__('Her skal der stå 4.4'); ?>)</p>
                        </td>
                    </tr>
                    <tr id="tr_refund_shipping">
                        <td class="label"><?php echo $this->__('Adjustment fee'); ?></td>
                        <td class="input-ele">
                            <input type="text" name="data[credit_memo_fee]" id="credit_memo_fee" value="0">
                            <p class="note"><?php echo $this->__('Amount to substract to refund'); ?></p>
                        </td>
                    </tr>
                    <tr id="refund_online">
                        <?php if ($this->canRefundOnline()): ?>
                            <td class="label"><?php echo $this->__('Refund online'); ?></td>
                            <td class="select-ele">
                                <select type="select" name="data[rma_refund_online]" id="data[rma_refund_online]">
                                    <option value="1"><?php echo $this->__('Yes'); ?></option>
                                    <option value="0"><?php echo $this->__('No'); ?></option>
                                </select>
                            </td>
                        <?php else: ?>
                            <td class="label"><?php echo $this->__('Refund offline only'); ?></td>
                            <td></td>
                        <?php endif; ?>

                    </tr>
                    <tr>
                        <td>

                        </td>
                    </tr>
                </table>
            </fieldset>
        </td>
        <td width="50%">
            <div class="entry-edit-head">
                <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Order settings'); ?></h4>
            </div>
            <fieldset id="my-fieldset">
                <center><p><i><?php echo $this->__('Applies when for exchange or return to customer'); ?></i></p></center>
                <table cellspacing="0" class="form-list" id="block_action">
                    <tr id="tr_payment_method">
                        <td class="label"><?php echo $this->__('Payment Method'); ?></td>
                        <td class="input-ele"><?php echo $this->getPaymentMethodAsCombo('data[payment_method]'); ?></td>
                    </tr>
                    <?php 
                    $weight = $this->getRma()->getSalesOrder()->getWeight();?>
                    <tr style="background:blue;color:#fff">

                          <td class="label"><?php echo $this->__('Weight'); ?></td></td><td class="input-ele"><?php echo ( $weight> 3000) ? 'Over 3000kg - skal sendes som pakkeshop eller PostDK Pakke ('.$weight.')' : 'Under 3kg kan sendes som DAO såfremt det ikke er en firma adresse (Vægt i g'.$weight.')'; ?></td>
                        </td>
                    </tr>
                    <tr id="tr_shipping_method">
                        <td class="label"><?php echo $this->__('Shipping Method'); ?></td>
                        <td class="input-ele"><?php echo $this->getCarriersAsCombo('data[rma_carrier]', $this->getRma()->getrma_carrier()); ?></td>
                    </tr>
                    <tr id="tr_shipping_cost">
                        <td class="label"><?php echo $this->__('Shipping Cost'); ?> <?php echo $this->getTaxText(); ?></td>
                        <td class="input-ele">
                            <input type="text" name="data[rma_shipping_cost]" id="data[rma_shipping_cost]" value="0">
                            <p class="note"><?php echo $this->__('Shipping fees to charge to customer'); ?></p>
                        </td>
                    </tr>
                    <tr id="tr_technical_cost">
                        <td class="label"><?php echo $this->__('Technical Cost'); ?> <?php echo $this->getTaxText(); ?></td>
                        <td class="input-ele">
                            <input type="text" name="data[rma_technical_cost]" id="data[rma_technical_cost]" value="0">
                            <p class="note"><?php echo $this->__('Amount for additional costs to charge to customer'); ?></p>
                        </td>
                    </tr>
                    <tr id="tr_technical_caption">
                        <td class="label"><?php echo $this->__('Technical Cost Caption'); ?></td>
                        <td class="input-ele">
                            <input type="text" name="data[rma_libelle_action]" id="data[rma_libelle_action]" value="">
                            <p class="note"><?php echo $this->__('Caption for additional costs to charge to customer'); ?></p>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </td>
    </tr>
</table>

