<script>
    var rmaCreationMode = <?php echo ($this->isCreationMode()? 'true':'false'); ?>;
    var reservationUrl = '<?php echo $this->getUrl('ProductReturn/Admin/ReserveProduct', array('rma_id' => $this->getRma()->getId())); ?>';
    var translationCharged = '<?php echo $this->__(' will be charged'); ?>';
    var translationRefunded = '<?php echo $this->__(' will be refunded'); ?>';

    //translations
    <?php echo $this->addJsTranslation('Please select at least on product'); ?>
    <?php echo $this->addJsTranslation('Please select destination for products to process'); ?>
    <?php echo $this->addJsTranslation('Please confirm products processing'); ?>
</script>

<?php $qtyavailabletotal = 0; ?>

<input type="hidden" id="data[rma_id]" name="data[rma_id]" value="<?php echo $this->getRma()->getId(); ?>">
<input type="hidden" id="data[rma_order_id]" name="data[rma_order_id]"
       value="<?php echo $this->getRma()->getSalesOrder()->getId(); ?>">
<input type="hidden" id="data[rma_customer_id]" name="data[rma_customer_id]"
       value="<?php echo $this->getRma()->getrma_customer_id(); ?>">
<input name="form_key" type="hidden" value="<?php echo $this->getFormKey() ?>"/>
<input id="data[rma_is_locked]" name="data[rma_is_locked]" type="hidden"
       value="<?php echo $this->getRma()->getrma_is_locked() ?>"/>
<div class="entry-edit">

<div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend">General</h4>
</div>

<fieldset id="my-fieldset">
    <table cellspacing="0" class="form-list">
        <tr>
            <td class="label"><?php echo $this->__('Reference'); ?></td>
            <td class="input-ele"><?php if (Mage::getSingleton('admin/session')->isAllowed('admin/sales/productreturn/customerreturn/action/editrmaid')): ?>
                    <input type="text" name="data[rma_ref]" id="data[rma_ref]"
                           value="<?php echo $this->getRma()->getrma_ref(); ?>">
                <?php else: ?>
                    <?php echo $this->getRma()->getrma_ref(); ?>
                    <input type="hidden" name="data[rma_ref]" id="data[rma_ref]"
                           value="<?php echo $this->getRma()->getrma_ref(); ?>">
                <?php endif; ?>
            </td>
            <td width="100">&nbsp;</td>
            <td class="label"><?php echo $this->__('Status'); ?></td>
            <td class="input-ele"><?php echo $this->getStatusesAsCombo('data[rma_status]', $this->getRma()->getrma_status()); ?></td>
        </tr>
        <tr>
            <td class="label"><?php echo $this->__('Created At'); ?></td>
            <td class="input-ele"><?php echo $this->formatDate($this->getRma()->getrma_created_at(), 'medium'); ?></td>
            <td width="100">&nbsp;</td>
            <td class="label"><?php echo $this->__('Manager'); ?></td>
            <td class="input-ele"><?php echo $this->getManagerAsCombo('data[rma_manager_id]', $this->getManager()); ?></td>
        </tr>
        <tr>
            <td class="label"><?php echo $this->__('Updated At'); ?></td>
            <td class="input-ele"><?php echo $this->formatDate($this->getRma()->getrma_updated_at(), 'medium'); ?></td>
            <td width="100">&nbsp;</td>
            <td class="label"><?php echo $this->__('Valid until'); ?></td>
            <td class="input-ele">
                <input size="9" type="text" id="data[rma_expire_date]" name="data[rma_expire_date]"
                       value="<?php echo $this->getRma()->getrma_expire_date(); ?>">
                <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle"
                     id="img_calendar_date"/>
                <script type="text/javascript">
                    Calendar.setup({
                        inputField: 'data[rma_expire_date]',
                        ifFormat: '%Y-%m-%e',
                        button: 'img_calendar_date',
                        align: 'Bl',
                        singleClick: true
                    });
                </script>
            </td>
        </tr>
        <tr>
            <td class="label"><?php echo $this->__('Customer'); ?></td>
            <?php if ($this->getRma()->IamGuest()) : ?>
                <td class="input-ele"><?php echo $this->getRma()->getCustomer()->getName() . ' ' . $this->__('( Guest )'); ?></td>
            <?php else : ?>
                <td class="input-ele"><a
                        href="<?php echo $this->getCustomerUrl(); ?>"><?php echo $this->getRma()->getCustomer()->getName(); ?></a>
                </td>
            <?php endif; ?>
            <td width="100">&nbsp;</td>
            <td class="label"><?php echo $this->__('Products Reception Date'); ?></td>
            <td class="input-ele">
                <input size="9" type="text" id="data[rma_reception_date]" name="data[rma_reception_date]"
                       value="<?php echo $this->getRma()->getrma_reception_date(); ?>">
                <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle"
                     id="img_calendar_rma_reception_date"/>
                <script type="text/javascript">
                    Calendar.setup({
                        inputField: $('data[rma_reception_date]'),
                        ifFormat: '%Y-%m-%e',
                        button: $('img_calendar_rma_reception_date'),
                        align: 'Bl',
                        singleClick: true
                    });
                </script>

            </td>
        </tr>
        <tr>
            <td class="label"><?php echo $this->__('Sales Order'); ?></td>
            <td class="input-ele"><a
                    href="<?php echo $this->getSalesOrderUrl(); ?>"><?php echo $this->getRma()->getSalesOrder()->getincrement_id(); ?></a>
            </td>
            <td width="100">&nbsp;</td>
            <td class="label"><?php echo $this->__('Products Return Date'); ?></td>
            <td class="input-ele">
                <input size="9" type="text" id="data[rma_return_date]" name="data[rma_return_date]"
                       value="<?php echo $this->getRma()->getrma_return_date(); ?>">
                <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle"
                     id="img_calendar_rma_return_date"/>
                <script type="text/javascript">
                    Calendar.setup({
                        inputField: $('data[rma_return_date]'),
                        ifFormat: '%Y-%m-%e',
                        button: $('img_calendar_rma_return_date'),
                        align: 'Bl',
                        singleClick: true
                    });
                </script>
            </td>
        </tr>
        <tr>
            <?php if (Mage::getSingleton('admin/session')->isAllowed('admin/sales/productreturn/customerreturn/view/customerdetail')): ?>
                <td class="label"><?php echo $this->__('Customer Phone'); ?></td>
                <td class="input-ele"><input type="text" name="data[rma_customer_phone]" id="data[rma_customer_phone]"
                                             value="<?php echo $this->getRma()->getrma_customer_phone(); ?>"></td>
            <?php else: ?>
                <td colspan="2"><input type="hidden" name="data[rma_customer_phone]" id="data[rma_customer_phone]"
                                       value="<?php echo $this->getRma()->getrma_customer_phone(); ?>"></td>
            <?php endif; ?>
        </tr>
        <tr>
            <?php if (Mage::getSingleton('admin/session')->isAllowed('admin/sales/productreturn/customerreturn/view/customerdetail')): ?>
                <td class="label"><?php echo $this->__('Customer Email'); ?></td>
                <td class="input-ele">
                    <input type="text" name="data[rma_customer_email]" id="data[rma_customer_email]"
                           value="<?php echo $this->getRma()->getrma_customer_email(); ?>">
                    <img src="<?php echo $this->getSkinUrl('ProductReturn/mail.png'); ?>" onclick="mailToCustomer();">
                </td>
            <?php else: ?>
                <td colspan="2"><input type="hidden" name="data[rma_customer_email]" id="data[rma_customer_email]"
                                       value="<?php echo $this->getRma()->getrma_customer_email(); ?>"></td>
            <?php endif; ?>
        </tr>
        <tr>
            <?php if (Mage::getSingleton('admin/session')->isAllowed('admin/sales/productreturn/customerreturn/view/customerdetail')): ?>
                <td class="label"><?php echo $this->__('Customer Address'); ?></td>
                <td class="input-ele"
                    colspan="4"><?php echo $this->getCustomerAddressesAsCombo('data[rma_address_id]', $this->getRma()->getrma_address_id()); ?></td>
            <?php else: ?>
                <td colspan="2"><input type="hidden" name="data[rma_address_id]" id="data[rma_address_id]"
                                       value="<?php echo $this->getRma()->getrma_address_id(); ?>"></td>
            <?php endif; ?>
        </tr>
        <tr>

                <td class="label"><?php echo $this->__('Forsendelsesmetode'); ?></td>
                <td class="input-ele"
                    colspan="4"><?php echo $this->getRma()->getSalesOrder()->getshipping_description(); ?></td>

        </tr>
    </table>
</fieldset>
<div style="background:orange;border:1px solid black;margin:10px;padding:10px;"><?php
$customer_id = $this->getRma()->getrma_customer_id();
$_orders = Mage::getModel('sales/order')->getCollection()->addFieldToFilter('customer_id',$customer_id)->addFieldToFilter('state','complete');                        
$_orderCnt = $_orders->count(); //orders count
$orderSum = 0;
foreach ($_orders as $order) {
    $orderSum += $order->getBaseGrandTotal();
}
echo 'Denne kunde har indtil videre lagt '.$_orderCnt.' ordre(r), og bestilt for '.$orderSum.'kr.';
 ?>
</div>
<div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Products'); ?></h4>
</div>
<fieldset id="my-fieldset">
    <div class="grid">
        <table cellspacing="0" class="form-list" style="width:100%;">
            <thead>
            <tr class="headings">
                <th><span class="nobr"><?php echo $this->__('Image'); ?></span></th>
                <th><span class="nobr"><?php echo $this->__('Sku'); ?></span></th>
                <th><span class="nobr"><?php echo $this->__('Product'); ?></span></th>
                <th><span class="nobr"><?php echo $this->__('Available Qty'); ?></span></th>
                <th><span class="nobr"><?php echo $this->__('Qty to return'); ?></span></th>
                <th><span class="nobr"><?php echo $this->__('Reason'); ?></span></th>
                <th><span class="nobr"><?php echo $this->__('Request type'); ?></span></th>
                <th><span class="nobr"><?php echo $this->__('Comments'); ?> & <?php echo $this->__('Serials'); ?></span></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($this->getRma()->getProducts() as $product): ?>
                <?php if ($this->displayProduct($product)):               ?>

                    <tr style="<?php if ($product->getProduct()->getTypeId() == 'bundle') echo 'display:none;'; ?><?php if ( $product->getProduct()->getAttributeSetId() == 12) { echo 'background:red;';} ?>">
                        <td>
                            <?php $imgurl = mage::helper('ProductReturn')->getProductImage($product->getproduct_id(), 100); ?>
                            <?php if ($imgurl != ''): ?>
                                <img src="<?php echo $imgurl; ?>"/>
                            <?php endif; ?>
                            <?php if ( $product->getProduct()->getAttributeSetId() == 12) { echo '<div style="background:yellow;">Håndkøbsmedicin kan ikke tages retur';}?>
                        </td>
                        <td>
                            
                            <?php echo mage::helper('ProductReturn')->getProductSku($product->getproduct_id()); ?>
                        </td>
                        <td>
                            <a href="<?php echo $this->getProductUrl($product); ?>"><?php echo $this->getProductName($product); ?></a>
                            

                            <?php if ($this->getOrderOptions($product->getrp_orderitem_id())): ?>
                                <dl class="item-options">
                                    <?php foreach ($this->getOrderOptions($product->getrp_orderitem_id()) as $_option): ?>
                                        <dt><?php echo $_option['label'] ?></dt>
                                        <dd>
                                            <?php if (isset($_option['custom_view']) && $_option['custom_view']): ?>
                                                <?php echo $this->getCustomizedOptionValue($_option); ?>
                                            <?php else: ?>
                                                <?php $_option = $this->getFormattedOption($_option['value']); ?>
                                                <?php echo $_option['value']; ?><?php if (isset($_option['remainder']) && $_option['remainder']): ?><span id="<?php echo $_dots = 'dots' . uniqid()?>"> ...</span><span id="<?php echo $_id = 'id' . uniqid()?>"><?php echo $_option['remainder'] ?></span>
                                                <script type="text/javascript">
                                                    $('<?php echo $_id ?>').hide();
                                                    $('<?php echo $_id ?>').up().observe('mouseover', function(){$('<?php echo $_id ?>').show();});
                                                    $('<?php echo $_id ?>').up().observe('mouseover', function(){$('<?php echo $_dots?>').hide();});
                                                    $('<?php echo $_id ?>').up().observe('mouseout',  function(){$('<?php echo $_id ?>').hide();});
                                                    $('<?php echo $_id ?>').up().observe('mouseout',  function(){$('<?php echo $_dots ?>').show();});
                                                </script>
                                            <?php endif; ?>
                                            <?php endif; ?>
                                        </dd>
                                    <?php endforeach; ?>
                                </dl>
                            <?php endif; ?>


                        </td>
                        <td class="a-center"><?php $qtyavailable = $this->getAvailableQty($product);
                            $qtyavailabletotal += $qtyavailable; echo $qtyavailable;?></td>
                        <?php if ($this->hasBeenProcessed($product) == ''): ?>
                            <td class="a-center"><input type="text" size="4"
                                                        name="data[rp_qty_<?php echo $product->getitem_id(); ?>]"
                                                        id="data[rp_qty_<?php echo $product->getitem_id(); ?>]"
                                                        value="<?php echo (int)$product->getrp_qty(); ?>"></td>
                        <?php else: ?>
                            <td class="a-center"><?php echo (int)$product->getrp_qty(); ?></td>
                        <?php endif; ?>
                        <td class="a-center"><?php echo $this->getProductReasonCombo('data[rp_reason_' . $product->getitem_id() . ']', $product->getrp_reason()); ?><div class="push-reason" id="push-reason">
<u>Pick this reason for all products</u></div></td>
                        <td class="a-center"><?php echo $this->getProductRequesttypeCombo('data[rp_request_type_' . $product->getitem_id() . ']', $product->getrp_request_type()); ?></td>
                        <td class="a-center">
                            <textarea title="<?php echo $this->__('Comments'); ?>" cols="40" rows="5"
                                                       name="data[rp_description_<?php echo $product->getitem_id(); ?>]"
                                                       id="data[rp_description_<?php echo $product->getitem_id(); ?>]"><?php echo $product->getrp_description(); ?></textarea>
                            <hr style="margin: 0 0 5px 0;" />
                            <?php if (Mage::getSingleton('admin/session')->isAllowed('admin/sales/productreturn/customerreturn/action/editserial')): ?>
                                <textarea title="<?php echo $this->__('Serials'); ?>" cols="40" rows="2"
                                          name="data[rp_serials_<?php echo $product->getitem_id(); ?>]"
                                          id="data[rp_serials_<?php echo $product->getitem_id(); ?>]"><?php echo $product->getrp_serials(); ?></textarea>
                            <?php else: ?>
                                <?php echo $product->getrp_serials(); ?>
                                <input type="hidden"
                                       name="data[rp_serials_<?php echo $product->getitem_id(); ?>]"
                                       id="data[rp_serials_<?php echo $product->getitem_id(); ?>]"
                                       value="<?php echo $product->getrp_serials(); ?>"/>
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endif; ?>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</fieldset>
<div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Comments'); ?></h4>
</div>
<fieldset id="my-fieldset">
    <table cellspacing="0" class="form-list">
        <tr style="background:orange;padding:10px;">
            <td class="label" style="color:#fff;"><?php echo $this->__('!IMPORTANT! Comments for the warehouse. (Fx. What was the error) <br>Creates organizer for the new order.'); ?></td>
            <td class="input-ele" style="padding:10px;"><textarea cols="90" rows="5" name="data[rma_private_description]"
                                            id="data[rma_private_description]"><?php echo $this->getRma()->getrma_private_description(); ?></textarea>
            </td>
        </tr>
        <tr>
            <td class="label"><?php echo $this->__('Public Comments'); ?></td>
            <td class="input-ele"><textarea cols="90" rows="5" name="data[rma_public_description]"
                                            id="data[rma_public_description]"><?php echo $this->getRma()->getrma_public_description(); ?></textarea>
            </td>
            <td width="50">&nbsp;</td>
            <td class="input-ele">
                <?php echo $this->__('Add predefined text :'); ?>
                <select name="predefined_text" id="predefined_text" style="width: 300px;"
                        onchange="document.getElementById('data[rma_public_description]').value += this.value + ', '; this.selectedIndex = 0;">
                    <option></option>
                    <?php foreach (Mage::helper('ProductReturn/PredefinedText')->getItems() as $item): ?>
                        <option value="<?php echo $item; ?>"><?php echo $item; ?></option>
                    <?php endforeach; ?>
                </select>
            </td>
        </tr>
    </table>
</fieldset>
</div>
<script>
jQuery(function () {
        var selectSelector = 'select[id*="rp_reason_"]';
    var selects = jQuery(selectSelector);
    jQuery(".push-reason").click(function () {
        var selectValue = jQuery(this).prev(selectSelector).val();
        selects.val(selectValue);
    });
});
</script>