<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Followup
 */
?>
<?php

/**
 * @see Amasty_Followup_Block_Adminhtml_Notifications
 */
?>
<?php if ($this->canShow()): ?>
    <div class="notification-global notification-global-warning">
        <strong style="color:red">Important: </strong>
        <span>
            You have enabled safe mode for Amasty Follow UP module, it's disable to sent anything to live users.
            For disable safe mode - please turn off setting in
            <a href="<?php echo $this->getSecurityAdminUrl(); ?>">System -> Configuration -> Follow Up Email</a>.
        </span>
    </div>
<?php endif; ?>
