.clearb { clear: both; }
.hidden { display: none; }

.checkboxes.layouted li {
	background-color: #EFEFEF;
	border: 1px solid #CFCFCF;
	margin: 2px;
	padding: 2px 3px;
	position: relative;
	width: 270px;
}

ul.checkboxes.layouted.floated {
	width: 560px;
}

.checkboxes.layouted.floated li {
	float: left;
	margin-right: 5px !important;
	width: 80px;
}

.checkboxes.layouted li.selected {
	background-color: #FFF9C7;
	border-color: #AFAFAF;
}

.overlay {
	background-color: #000;
	opacity: .7;
	filter: alpha(opacity = 70);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 200%;
	z-index: 10;
}

#anchor-content {
	position: relative;
}

.btn_activate {
	color: green;
}

.overlay {
	opacity: 0.9;
	height: 200%;
}

.overlay-data {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 15;
}

.overlay-data .container {
	width: 785px;
	position: relative;
	margin: 80px auto 20px auto;
}

.overlay-data .box {
	border: 0px solid #dddddd;
	background: #fff url('images/nscexport/box_top.png') repeat-x top center;
	margin: 25px 0;
	border-radius: 5px 5px;
	-webkit-box-shadow: 0 1px 1px 0 #cfcfcf;
	box-shadow: 0 1px 1px 0 #cfcfcf;
	padding: 0px;
	padding-top: 10px;
}

.overlay-data .box .koongo .logo {
	width: 155px;
	height: 50px;
	background: #fff url('images/nscexport/koongo_logo.png') no-repeat top
		center;
	margin: 12px auto 14px auto;
	float: none;
}

.overlay-data .box .koongo .line {
	width: 100%;
	height: 1px;
	margin: 10px 0;
	background-color: #eaeaea;
}

.overlay-data .box  .btn-set .l {
	width: 325px;
	float: left;
	text-align: right;
	margin: 0 25px 0 42px;
}

.overlay-data .box .btn-set .r {
	width: 325px;
	float: left;
	text-align: left;
	margin: 0 42px 0 25px;
}

.overlay-data .box .btn-set {
	margin: 21px 0 30px 0;
}

.overlay-data .box .btn-set .info {
	text-align: center;
	margin: 13px 0px;
	font-style: italic;
	font-size: 14px;
}

.overlay-data .box .btn-set .info span {
	color: #f86a00;
}

.overlay-data .box .btn-set button {
	width: 100%;
}

.overlay-data .box .unit .logo {
	width: 120px;
	height: 60px;
	margin: 12px 15px 14px 35px;
	float: left;
}

.overlay-data .box .unit .logo.custom {
	margin-top: 52px;
}

.overlay-data .box .unit .logo.custom img {
	width: 100%;
}

.overlay-data .box .line {
	width: 100%;
	height: 1px;
	margin: 10px 0;
	background-color: #eaeaea;
}

.overlay-data .box .unit .line {
	width: 1px;
	height: 87px;
	float: left;
	margin: 15px 16px;
	background-color: #eaeaea;
}

.overlay-data .box .unit .info {
	text-align: left;
	float: left;
	width: 255px;
	margin: 13px 30px 13px 15px;
	font-style: italic;
	font-size: 13px;
	color: #525252;
}

.overlay-data .box .unit .btn-one {
	float: left;
	width: 239px;
}

.overlay-data .box .unit .btn-one .sub-info {
	padding: 0px 0px 10px 0;
	text-align: center;
	font-style: italic;
}

.overlay-data .btn-koongo {
	font-size: 22px;
	font-weight: bold;
	color: #000000;
	text-shadow: 1px 1px 0px #ffc68f;
	background: #ffcd9b; /* Old browsers */
	background: -moz-linear-gradient(top, #ffcd9b 0%, #ffac59 1%, #ff840c 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffcd9b),
		color-stop(1%, #ffac59), color-stop(100%, #ff840c) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffcd9b 0%, #ffac59 1%, #ff840c 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffcd9b 0%, #ffac59 1%, #ff840c 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffcd9b 0%, #ffac59 1%, #ff840c 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffcd9b 0%, #ffac59 1%, #ff840c 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffcd9b',
		endColorstr='#ff840c', GradientType=0 ); /* IE6-9 */
	border-color: #dc7839 #c89509 #bd5f2c;
	padding: 21px 32px;
	border-radius: 6px;
}

.overlay-data .btn-koongo:hover {
	background: #ffcd9b; /* Old browsers */
	background: -moz-linear-gradient(top, #ffcd9b 0%, #ff9730 1%, #ff7b00 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffcd9b),
		color-stop(1%, #ff9730), color-stop(100%, #ff7b00) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffcd9b 0%, #ff9730 1%, #ff7b00 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffcd9b 0%, #ff9730 1%, #ff7b00 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffcd9b 0%, #ff9730 1%, #ff7b00 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffcd9b 0%, #ff9730 1%, #ff7b00 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffcd9b',
		endColorstr='#ff7b00', GradientType=0 ); /* IE6-9 */
}

.overlay-data .btn {
	margin: 17px 0 10px 0;
	width: 100%;
	font-size: 17px;
	font-weight: bold;
	color: #303030;
	text-shadow: 1px 1px 0px #ffe18c;
	background: #ffef9b;
	background: -moz-linear-gradient(top, #ffef9b 1%, #ffe357 3%, #ffb90c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffef9b),
		color-stop(3%, #ffe357), color-stop(100%, #ffb90c) );
	background: -webkit-linear-gradient(top, #ffef9b 1%, #ffe357 3%, #ffb90c 100%);
	background: -o-linear-gradient(top, #ffef9b 1%, #ffe357 3%, #ffb90c 100%);
	background: -ms-linear-gradient(top, #ffef9b 1%, #ffe357 3%, #ffb90c 100%);
	background: linear-gradient(to bottom, #ffef9b 1%, #ffe357 3%, #ffb90c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffef9b',
		endColorstr='#ffb90c', GradientType=0 );
	border-color: #dc7839 #c89509 #bd5f2c;
	padding: 10px 10px;
	border-radius: 6px;
}

.overlay-data .btn:hover {
	color: #000;
	background: #ffef9b;
	background: -moz-linear-gradient(top, #ffef9b 1%, #ffdb3f 3%, #ffb200 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffef9b),
		color-stop(3%, #ffdb3f), color-stop(100%, #ffb200) );
	background: -webkit-linear-gradient(top, #ffef9b 1%, #ffdb3f 3%, #ffb200 100%);
	background: -o-linear-gradient(top, #ffef9b 1%, #ffdb3f 3%, #ffb200 100%);
	background: -ms-linear-gradient(top, #ffef9b 1%, #ffdb3f 3%, #ffb200 100%);
	background: linear-gradient(to bottom, #ffef9b 1%, #ffdb3f 3%, #ffb200 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffef9b',
		endColorstr='#ffb200', GradientType=0 );
}

.overlay-data .destroy {
	clear: both;
}

.btn-koongo-submit-orange {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-shadow: 1px 1px 0px #ffc68f;
	background: #ffcd9b; /* Old browsers */
	background: -moz-linear-gradient(top, #ffcd9b 0%, #ffac59 1%, #ff840c 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffcd9b),
		color-stop(1%, #ffac59), color-stop(100%, #ff840c) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffcd9b 0%, #ffac59 1%, #ff840c 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffcd9b 0%, #ffac59 1%, #ff840c 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffcd9b 0%, #ffac59 1%, #ff840c 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffcd9b 0%, #ffac59 1%, #ff840c 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffcd9b',
		endColorstr='#ff840c', GradientType=0 ); /* IE6-9 */
	border-color: #dc7839 #c89509 #bd5f2c;
	padding: 9px 18px;
	border-width: 1px;
	border-radius: 6px;
	min-width: 280px;
}

.btn-koongo-submit-orange:hover {
	cursor: pointer;
	background: #ffcd9b; /* Old browsers */
	background: -moz-linear-gradient(top, #ffcd9b 0%, #ff9730 1%, #ff7b00 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffcd9b),
		color-stop(1%, #ff9730), color-stop(100%, #ff7b00) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffcd9b 0%, #ff9730 1%, #ff7b00 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffcd9b 0%, #ff9730 1%, #ff7b00 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffcd9b 0%, #ff9730 1%, #ff7b00 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffcd9b 0%, #ff9730 1%, #ff7b00 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffcd9b',
		endColorstr='#ff7b00', GradientType=0 ); /* IE6-9 */
}

.btn-koongo-submit-yellow {
	font-size: 14px;
	font-weight: bold;
	color: #303030;
	text-shadow: 1px 1px 0px #ffe18c;
	background: #ffef9b;
	background: -moz-linear-gradient(top, #ffef9b 1%, #ffe357 3%, #ffb90c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffef9b),
		color-stop(3%, #ffe357), color-stop(100%, #ffb90c) );
	background: -webkit-linear-gradient(top, #ffef9b 1%, #ffe357 3%, #ffb90c 100%);
	background: -o-linear-gradient(top, #ffef9b 1%, #ffe357 3%, #ffb90c 100%);
	background: -ms-linear-gradient(top, #ffef9b 1%, #ffe357 3%, #ffb90c 100%);
	background: linear-gradient(to bottom, #ffef9b 1%, #ffe357 3%, #ffb90c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffef9b',
		endColorstr='#ffb90c', GradientType=0 );
	border-color: #dc7839 #c89509 #bd5f2c;
	padding: 9px 18px;
	border-width: 1px;
	border-radius: 6px;
	min-width: 280px;
}

.btn-koongo-submit-yellow:hover {
	cursor: pointer;
	color: #000;
	background: #ffef9b;
	background: -moz-linear-gradient(top, #ffef9b 1%, #ffdb3f 3%, #ffb200 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffef9b),
		color-stop(3%, #ffdb3f), color-stop(100%, #ffb200) );
	background: -webkit-linear-gradient(top, #ffef9b 1%, #ffdb3f 3%, #ffb200 100%);
	background: -o-linear-gradient(top, #ffef9b 1%, #ffdb3f 3%, #ffb200 100%);
	background: -ms-linear-gradient(top, #ffef9b 1%, #ffdb3f 3%, #ffb200 100%);
	background: linear-gradient(to bottom, #ffef9b 1%, #ffdb3f 3%, #ffb200 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffef9b',
		endColorstr='#ffb200', GradientType=0 );
}

#overlay-feed-manual {
  display:none;
  opacity: 0;
}

#overlay-data-feed-manual{
  display:none;
}

.overlay-data .loader {opacity: 0.0; width: 60px; height: 60px; position:absolute; left: calc(50% - 30px); top: calc(50% - 30px);  background: url('images/nscexport/loader.gif') no-repeat top center; }
  

.overlay-data.feed-manual .container {
  width: 980px;
}

.overlay-data.feed-manual .box {
  padding: 25px 20px 15px 20px;
}

.overlay-data.feed-manual .close {
  width:  18px;
  height: 18px;
  position:absolute;
  right: 20px;
  top: 25px;
  display:block;
  background: no-repeat url(images/nscexport/close_modal.png); 
  opacity: 0.3;
}

.overlay-data.feed-manual .btn-koongo {
  padding: 11px 17px;
  font-size: 15px;
  width: auto;
  margin: 0px 5px 0px 0px;
  border: 1px solid #dc7839;
  text-decoration: none;
}

.overlay-data.feed-manual .btn {
  padding: 11px 17px;
  font-size: 15px;
  width: auto;
  margin: 0px 5px 0px 0px;
}

.overlay-data.feed-manual .close:hover {
  opacity: 0.4;
}

.overlay-data.feed-manual .title {
  font-size: 22px;
  color: #f57234;
  font-weight: bold;
  padding: 2px 0 7px 0;
}

.overlay-data.feed-manual .manual {
  max-height: 450px;
  min-height: 250px;
  overflow-y: auto;
  margin: 5px 0;
  padding-right: 20px;
}

.manual li {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 10px;
  line-height: 20px;
}

.manual ul {
  margin-bottom: 10px;
}

.manual h3 {
  margin-top: 10px;
}

.manual .img-polaroid {
  border: 1px solid #dfdfdf;
  padding: 4px;
  margin: 5px 0 10px 0;
}

.manual .img-rounded {
 border-radius: 3px;
}


.activation_form {
	float: left;
	width: 49%;
	margin: 0px 2% 0px 0px;
	min-width: 522px;
}

.contact_form {
	float: left;
	width: 49%;
	margin: 0px 0px 0px 0px;
	min-width: 522px;
}

button.livechat {
	background: none;
	border: 0;
}

.videos {
	
}

.videos .item {
	width: 300px;
	height: 380px;
	float: left;
	border: 1px solid #ddd;
	margin: 10px;
	position: relative;
}

.videos .item img {
	width: 100%;
	height: 225px;
}

.videos .item-content {
	padding: 8px 15px;
}

.videos .item-content h4 {
	font-size: 1.2em;
}

.videos .item-content .description {
	font-size: 1.05em;
	color: #999;
	line-height: 1.5em;
}

.videos .item-footer {	
	text-align: right;
	border-top: 1px solid #ddd;
    bottom: 0;
    padding: 8px 15px;
    position: absolute;
    width: 270px;
	color: #555;
}

.videos .item-footer .timer {
	font-weight: bold;
}

#nscexportGrid_table button {margin-bottom: 5px; min-width:100%;}
#nscexportGrid_table a {display:block; 
						text-align:center;
						width:100%;
						}
						
.ftp-item {
	cursor: pointer;
}
.ftp-item.active td {
    background-color: #e0ffa8;
}						
#ftpclient-container.grid td {
	padding: 2px 8px;
}

.preview-filename {
	padding: 2px 8px;
	background-color: #eee;
	margin-top: 5px;
}

.entry-edit.col-50 {
	width: 48%;
	margin-right: 20px;
	float: left;
}

@media ( min-width :980px) {

	.entry-edit.submission-form {
		width: 37%;
		float: left;
		margin-right: 20px;
	}
	
	.entry-edit.submission-form .form-list td.label label { width: 100%; }

	.entry-edit.submission-form .form-list td.label {
		width: auto;
		min-width: 20%;
		max-width: 100px;
	}
	
	.entry-edit.submission-form .form-list td.value {
		width: auto;
		min-width: 78%;
		max-width: 300px;
	}
	
	.entry-edit.submission-form .form-list td.value input.input-text,
	.entry-edit.submission-form .form-list td.value input.input-textarea {
		width: 93%;
	}
	.entry-edit.submission-form .form-list td.value select.select,
	.entry-edit.submission-form .form-list td.value p.note,
	.entry-edit.submission-form .form-list td.value span
	{
		width: 95%;
	}
	
	.entry-edit.submission-form .form-list td.value p.note span {
		max-width: 98%;
	}
	
	.entry-edit.submission-form .form-list td.value span {
		display: inline-block;		
	}
	
	
	.entry-edit.submission-list {
		float: left;
		width: 60%;
	}	
}

.adminhtml-nscexport-profiles-grid-submission div.main-col {
	margin-left: 150px;
}
.adminhtml-nscexport-profiles-grid-submission div.side-col {
	width: 150px;
	margin-right: -150px;
}
.adminhtml-nscexport-profiles-grid-submission .columns {
	background-position: 147px 0;
}

.entry-edit.submission-list .form-list { width: 100%; }
.entry-edit.submission-list .form-list td.label { display: none; }

.preview-info {
	margin-left: 20px;
}
.profile-info td {
	text-align: right;
	padding-right: 10px;
}

.submission-list-button {
	margin-bottom: 5px;
	margin-left: 5px;
}

