
<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Brands
 */
?>
<?php
/** @var Amasty_Brands_Block_Brand $this */
$brand = $this->getBrand();
$image = $brand->getData('icon_topmenu');
$logo = $brand->getData('image');
$Category=Mage::registry('current_category');
$cms_block_id = $brand->getData('slider_cms_block_id');
$carousel = Mage::getModel('cms/block')->load($cms_block_id)->getContent();
$color = $brand->getBrandColour();
$view_types = $brand->getData('view_types');
?>
<div class="cat_top_wrapper">
                <div class="imgdes_wrapper" style="background:<?php echo $color;?>">
                    <div class="container">
                        <div class="cat_top_txt <?php if($color) { ?>show_ban<?php }else{ ?>hide_ban<?php } ?>">
                            <div class="brands-name-mobile">
                                <h1><?php echo $brand->getTitle()?></h1>
                                <p><?php echo $brand->getMetaDescription()?></p>
                            </div>
                            <div class="category-image-container1">
                                <div class="brands-name full-img">
                                    <h1><?php echo $brand->getTitle()?></h1>
                                    <?php if(Mage::app()->getStore()->getStoreId() == 1): ?>
                                        <p class="category-description">
                                            <?php echo $brand->getMetaDescription()?>
                                        </p>
                                    <?php endif; ?>
                                    <script>
                                        jQuery('.rd').click(function(){
                                            jQuery('.hd').hide();
                                            jQuery('.fd').show();
                                        })
                                    </script>
                                </div>
                                <div class="category-image-container-inner">
                                    <?php if($image) { ?>
                                        <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB)?>/media/amasty/brands/topmenu/<?php echo $image; ?>"> <?php } ?>
                                </div>
                            </div>
                            <div class="card-brands-product <?php if($view_types == 1) { ?>main<?php }else{ ?>second<?php } ?>" style="background:<?php echo $brand->getBrandCardBackground()?>">
                                <?php if ($view_types == 1): ?>
                                <div class="product-img-main">
                                    <div class="wrapper-img">
                                    <?php if($image) { ?>
                                        <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB)?>/media/amasty/brands/topmenu/<?php echo $image; ?>"> <?php } ?>
                                    </div>
                                </div>
                                <?php else: ?>
                                <div class="logo-brand">
                                    <?php if($logo) { ?>
                                        <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB)?>/media/amasty/brands/<?php echo $logo; ?>"> <?php } ?>
                                </div>
                                <?php if (!empty($image)):?>
                                <div class="wrap-product-img">
                                    <div class="product-img">
                                        <?php if($image) { ?>
                                            <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB)?>/media/amasty/brands/topmenu/<?php echo $image; ?>"> <?php } ?>
                                        <div class="bottom_color" style="background:<?php echo $brand->getBrandColourBottom()?>"></div>
                                    </div>
                                </div>
                                <?endif;?>
                                <?php endif; ?>
                            </div>
                            <div class="info-brand">
                                <div class="brands-name">
                                    <h1><?php echo $brand->getTitle()?></h1>
                                    <?php if(Mage::app()->getStore()->getStoreId() == 1): ?>
                                        <p class="category-description">
                                            <?php echo $brand->getMetaDescription()?>
                                        </p>
                                    <?php endif; ?>
                                    <script>
                                        jQuery('.rd').click(function(){
                                            jQuery('.hd').hide();
                                            jQuery('.fd').show();
                                        })
                                    </script>
                                </div>
                                <div class="brands-carousel">
                                    <div class="amshopby-subcategories-wrapper">
                                        <div class="slider slider-category">
                                               <?php echo Mage::helper('cms')->getPageTemplateProcessor()->filter($carousel); ?>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div> 
                </div>
            </div>