<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Brands
 */
?>
<?php
/** @var Amasty_Brands_Block_Brand $this */
$brand = $this->getBrand();
?>
    <div class="bottom-category-box container">
		<div class="second-description">
			<div class="btmdes">
				<?php echo nl2br($brand->getDescription()); ?>
			</div>
		</div>
	</div>

