<?php
/**
 * Copyright (c) 2011-2019 SAS WEB COOKING - Vincent René Lucien Enjalbert. All rights reserved.
 * See http://www.web-cooking.net/licences/magento/LICENSE-EN.txt for license details.
 */
?>
<?php if(Mage::helper('googleuniversalanalytics')->useRemarketing()): ?>
<?php $totalValue = $this->getTotalValue(); ?>
<script type="text/javascript">
var google_tag_params = {
ecomm_prodid: <?php echo $this->getProdId() ?>,
ecomm_pagetype: '<?php echo $this->getPageType() ?>',
ecomm_totalvalue: <?php echo $totalValue ?>,
};
</script>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = <?php echo $this->getConversionId() ?>;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<div style="display: none">
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
</div>
<noscript>
<div style="display:inline;position:fixed;bottom:-1000px;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/<?php echo $this->getConversionId() ?>/?value=<?php echo $totalValue ?>&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<?php endif; ?>
