.banner-text {
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: black;
    right: 40px;
    width: fit-content;
    background: white;
    padding: 10px 20px;
}
.cms-index-index .products-grid .actions {position:relative;}

@media (max-width:1199px){

    .sidebar .block-layered-nav .block-content > dl > dt,
    .category-products .pager .amount strong,
    .category-description{
        font-size: 14px;
    }
    .sidebar .block-content li a,
    .prd_list_wrapper > li .product-info h2 a{
        font-size: 14px;
    }
    .prd_list_wrapper > li .product-info .price-box .special-price .price{
        font-size:20px;
    }
    .discount_txt p{
        font-size:16px;
    }
    .breadcrumbs li{
        font-size:11px;
    }
    .header-minicart .skip-cart .mini_left span, .header-minicart .skip-cart .mini_right span:not(.mobilemini_icon){
        font-size: 12px;
    }
    .destop_nav ul.sub-cats li.category_menu_list > a{
        font-size:13px;
    }
    .foo_news_con .block-title strong {
        font-size: 30px;
    }
    .foo_news_con .block-subscribe .block-title p {
        font-size: 15px;
        /*line-height: 32px;*/
    }
    .list_container .list-inline li a,body{
        font-size:14px;
    }
    .home_in_img{font-size: 13px;}
       .block-layered-nav dd .amshopby-attr, .block-layered-nav dd .amshopby-attr:hover, .sidebar .block-content #narrow-by-list2 li a{
  
     background: url(../images/checkbox.svg) left 7px no-repeat;
     background-size: 17px 17px;
   }
   .block-layered-nav dd .amshopby-attr-selected, .block-layered-nav dd .amshopby-attr-selected:hover{

     background: url(../images/checkbox-after.svg) left 7px no-repeat;
     background-size: 17px 17px;

   }
  
}
@media (max-width:1100px) {
   .col1-layout .prd_list_wrapper > li,
    .prd_list_wrapper > li {
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 33%;
    }
    .box-up-sell .prd_list_wrapper > li {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .related-clerk > li {
    -ms-flex: 0 0 33%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 10px;
}
}

@media (max-width:991px){
    .prd_list_wrapper .product-info h2 {
        margin-bottom:0px;
    }
    .banner-text { 
    position: relative;
    right: inherit;
    left: inherit;
    bottom: inherit;
    margin-top: 11px;
    padding:0px;}
    .header_in .logo {
        max-width: 204px;
        width:204px;
        min-height: auto;
        padding-bottom:15px;
    }
    #header-search{
        max-width:300px;
        order: 1;
    }
    .skip-links{
        order: 3;
    }
    .head_top li a{
        text-align:center;
    }
    .head_top{
        font-size:11px;
        line-height:13px;
    }
    .sidebar .block-content li a, .prd_list_wrapper > li .product-info h2 a {
        font-size: 14px;
    }
    .block-layered-nav dd .amshopby-attr, .block-layered-nav dd .amshopby-attr:hover {
        background: url(../images/checkbox.svg) left 4px no-repeat;
        background-size: 17px 17px;
    }
     .block-layered-nav dd .amshopby-attr-selected, .block-layered-nav dd .amshopby-attr-selected:hover{

     background: url(../images/checkbox-after.svg) left 4px no-repeat;
     background-size: 17px 17px;

   }
    .prd_list_wrapper > li .product-info .price-box .special-price .price, .price-box .regular-price  {
        font-size: 20px;
    }
    .prd_list_wrapper > li .product-info .price-box .old-price span  {
        font-size: 11px;
    }
    .sidebar .block-layered-nav .block-content > dl > dt, .category-products .pager .amount strong, .category-description {
        font-size: 13px;
        line-height: 20px;
    }
    .discount_txt p {
        font-size: 14px;
    }
    #search{
        font-size:12px;
    }
    #amshopby-price-from-slider, #amshopby-price-to-slider{
        font-size: 13px;
    }
    .list_head{
        font-size: 16px;
    }
    .list_container .list-inline li a, body {
        font-size: 14px;
    }
    .page_footer_top,.foo_news,.btmdes_container,.imgdes_wrapper {
        padding: 30px 0;
    }
    .page_footer_top .list_container {
        padding-bottom: 0;
    }
    .category-description{
        margin-bottom:0;
    }
    .product-img-box {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    }
    .prd_mid_om {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    display: none;
    }
    .prd_lft {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    }
    .prd_top_wrapper h1 {
    font-size: 20px;
    line-height: 26px;
    max-width:90%;
    }
    .prd_top_wrapper {
    padding: 5px 0px 15px;
    }
    .prd_lft .tier-price-selected {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 12px;
    }
    .tier-prices.product-pricing{
        margin-top: 20px;
    }
    .prd_tab_up .product-collateral, .up-sell-container, .bundle-container {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
    }
    .prd_tab_up .box-up-sell{
        -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;

    }
    .product-essential{
        margin-bottom: 20px;
    }
    #accordion>dl>dt{
        font-size: 16px;
            padding: 16px 25px;
    padding-right: 65px;
    }

    #accordion>dl>dd {
        padding:16px 25px;
    }
    .after_price_block{
            font-size: 13px;
    line-height: 18px;
    }
    /*.page_footer_top .list_container{*/
    /*    -ms-flex: 0 0 50%;*/
    /*flex: 0 0 50%;*/
    /*max-width: 50%;*/
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
    /*}*/
    .foo_news_con .block-subscribe .block-title p {
    font-size: 15px;
    /*line-height: 28px;*/
}
.foo_news_con .block-title strong {
    font-size: 22px;
}
/*.foo_news_con .block-subscribe{*/
/*    background-size: 45px;*/
/*        padding-top: 58px;*/
/*}*/
.foo_news_con .block-title {
    margin-bottom: 20px;
}
 .foo_news{

    padding: 30px 0;
 }
 .mid_header .container{
    padding: 0 15px;

 }
 .price_save{
    margin-bottom: 0;

 }
}
@media (max-width:770px) {
        .imgdes_wrapper {
        padding: 0;
    }
    .prd_list_wrapper > li {
        padding: 0 5px;
    }

    .cus_prd_wrapper_in {padding:10px;}
     p.desacco_in {padding:15px;}
    .prd_top_wrapper .mobile-back {display:block !important;position:absolute;}
    h1 {font-size:20px;}
    h2 {font-size:18px;}
    h3 {font-size:16px;}
    h4 {font-size:15px;}
    h5 {font-size:14px;}
    .name-description h1 {
    padding-top: 5px;
    }
    .category-image-container1 {padding:0px;}
    .skip-links .skip-link.skip-search{
        display: none;
    }
    .bottom-category-box.container {
        padding: 0px;
        margin: 0px;
        width: 100%;
        max-width: 100%;
        background:white;
        border:0px;
    }
    .second-description p {
        margin-bottom: 0px;}
    .skip-content {
        display: block;
    }
         .category-products-top {
        padding-top: 0px !important;
      }
          .header_in .logo {
        order: 2;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 12px;
    }
    .header_in {
        padding-top:5px;
    }
    .checkout .header_in {
        padding-top: 10px;
    }

    .checkout .header_in .logo {
            order: 2;
            margin: 0 auto;
            position: relative;
            left: 0;
            right: 0;
            top: 10px;
            padding-bottom: 10PX;
    }
    .skip-links {
        order: 2;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-top: none;
        border-bottom: none;
    }
    #header-search {
        max-width: 100%;
        order: 3;
        margin: 5px 0px 5px 0px;
    }
    .skip-nav,.header_in .account-cart-wrapper {
        width: 25%;
        justify-content: flex-end;
    }
    .skip-nav{
        width: auto;
        border-right:0;
        color: #000;
    }
    .skip-nav{
        text-align:left;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .skip-nav .label{
        text-transform: uppercase;
        font-family: 'alright_sans_ltmedium';
        font-size: 14px;
        color:#000;
    }
    .logo .small{
        display: none;
    }

    .header-minicart .skip-cart{
        border: none;
        padding: 0;
    }
    .header-minicart .mini_left{
        display: none;
    }
    .header-minicart .skip-cart .mini_right .count {
    line-height: 17px !important;
    left: 35px;
    width: 15px;
    height: 15px;
    font-size: 10px !important;
    padding: 0px;
    top: -6px;
    }
    .header_in .skip-content{
        padding:0 !important;
    }
    .skip-link.skip-nav .icon,.skip-link.skip-nav .icon:hover{
        background: url(../images/menu-new.svg) no-repeat;
        background-size: 22px;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background-position: 0 0 !important;
            padding-left: 20px;

    }
    .mm-wrapper_opening .skip-link.skip-nav .icon{
        
        background: url(../images/close.svg) no-repeat;
        background-size: 22px;

    }
    #search {
        font-size: 16px;
        color: #4A4A4A;
        height: 43px;
    }
    #search::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #4A4A4A;
    }
    #search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    #4A4A4A;
       opacity:  1;
    }
    #search::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    #4A4A4A;
       opacity:  1;
    }
    #search:-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    #4A4A4A;
    }
    #search::-ms-input-placeholder { /* Microsoft Edge */
       color:    #4A4A4A;
    }
    
    #search::placeholder { /* Most modern browsers support this now. */
       color:    #4A4A4A;
    }
    .top_header .price-match, .usp-wrapper .price-match {display:none;}
    .breadcrumbs li {
        font-size: 13px;
    }
    .breadcrumbs a,.breadcrumbs strong{
        color: #4A4A4A;
    }

    .discount_txt {
        background:#fff;
        padding: 10px 0;
    }
    .discount_txt p {
        padding: 10px 0;
        background: #FF9D76;
    }
    .name-description {padding: 10px 15px;text-align:center;}
    .show_ban .name-description,.category-image-container1 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .category-image-container1{
        order: 1;
    }
    .show_ban .name-description{
        order: 2;

    }

    .page_footer_top, .foo_news, .btmdes_container {
        padding: 25px 0;
    }
    .category-image-container-inner .category-image img{
        margin-bottom: 20px;
    }
    .catalog-product-view .breadcrumbs  {
        display:none;
    }
    .product-name {
    color: #212529;
    font-size: 14px;
    margin: 0px 15px;
    }

    .breadcrumbs {
        overflow: hidden;
        padding: 6px 0px 3px 0px;
        background:inherit;
    }
       .breadcrumbs span {
     float: left;
     padding: 0 2px;
   }
    .breadcrumbs ul {
        margin-left: 12px;
    }

    .category-products-top h5{
        display: none;
    }
    .category-products-top {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }

    .cat_container{
        overflow-x: hidden;
    }
    .category-products-top{
        background-color:#fff;
        position: relative;
    }
    .category-products-top::before{
        content: "";
        background-color:#fff;
        top: 0;
        left: -50%;
        right: -50%;
        margin: 0 auto;
        height: 100%;
        display: inline-block;
        width: 3000px;
        position: absolute;
        z-index: -1;
    }
    .block-content.toggle-content .actions{
        display: none;
    }
    .block-layered-nav .block-subtitle--filter {
        background: transparent url(../images/filter-icon.svg) right 10px center no-repeat;
        background-size: 15px;
        border: 1px solid #9B9B9B;
        margin-bottom: 0;
        display: block;
        color: #000;
        padding: 0 10px;
        padding-right: 34px;
        font-size: 16px;
        text-align: center;
        height: 34px;
        line-height: 34px;
        width: calc(50% - 10px);
        margin-left: auto;
    }
    .category-products .toolbar .sorter{
            justify-content: flex-start;
            margin: 10px 0px 15px 0px;
    }
    .block-layered-nav .block-subtitle--filter::after{
        display: none;
    }
    .block-layered-nav .block-subtitle--filter:hover {
        background-color: transparent;
        color: #000;
    }
    .category-products .toolbar .sorter .sort-by select {
        height: 34px;
        width:100%;
        max-width:100%;
        min-width: 100%;
        border-radius: 0;
        border: 1px solid #9B9B9B;
        line-height: 34px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .sorter>.sort-by{
        width:  100%;
    }
    .category-products{
        position: relative;
    }
    .col2-left-layout .category-products .toolbar .sorter {
        position: absolute;
        z-index: 9;
        left: 0;
            top: -44px;
            margin:0px;
    }
    dl#narrow-by-list, dl#narrow-by-list2 {
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 99999;
        background-color:#fff;
        padding: 22px 0;
        bottom: 0;
        position: fixed;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .block-layered-nav .block-content > dl > dt::after{
        display: none;
    }
    .sidebar .block-layered-nav .block-content > dl > dt {
        font-size: 18px;
        line-height: 20px;
        font-family: 'alright_sans_lt_regularRg';
        color: #37435B;
        border-bottom: 1px solid #CACDD4;
        padding: 15px 30px;
        background:none !important;
        position: relative;
        padding-right: 50px;
    }
    .sidebar .block-layered-nav .block-content > dl > dt::after{
        background:url(../images/down-arrow.svg) center no-repeat;
        content: "";
        position: absolute;
            right: 28px;
        left:auto;
        width:20px;
        height: 20px;
        border: none;
        display: block;
        top:16px;
        transform: rotate(-90deg);
        transition: all ease-in-out 0.3s;
    }
    .block-layered-nav.amshopby-collapse-enabled .toggle-content.accordion-open dt.current::after{
        border: none;
        background:url(../images/down-arrow.svg) center no-repeat;
            right: 28px;
        left:auto;
        width:20px;
        height: 20px;
        border: none;
        top:16px;
        transform: rotate(0deg);
    }
    .sidebar .block-layered-nav .block-content > dl > dt:first-child{
        border-top: 1px solid #CACDD4;
    }
    .sidebar .block-content li a{
        font-size: 18px;
    }
    .sidebar .block-content li a{
        margin-left: 0px;
    }
    .sidebar .block-layered-nav .block-content > dl > dd{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .col1-layout .prd_list_wrapper > li,
    .prd_list_wrapper > li {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .prd_list_wrapper > li .product-info .price-box .special-price .price {
        font-size: 20px;
    }
    .products-grid .price-box{
        font-size: 12px;
    }
    .products-grid .product-info .actions .button {
        border: 1px solid #9B9B9B;
        border-radius: 0;
    }
    .products-grid .product-info .actions .button{
        font-size: 13px;
    }
    .toolbar-bottom .pagesz{
        flex-wrap: wrap;
    }
    .prev_page{
        order: 2;
    }
    .next_page{
        order:3;
    }
    .pagesz .page_select {
        order: 1;
        margin: 0 auto 20px;
        justify-content: center;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .prd_container .container{
        padding-right: 0;
        padding-left: 0;
    }
    .prd_tab_up .product-collateral {
        margin-bottom: 20px;
    }
 /*   .page_footer .container{*/
 /*padding-right: 0;*/
 /*       padding-left: 0;*/

 /*   }*/
    .page_footer .foo_news .container{ 
        padding-right: 15px;
        padding-left: 15px;

    }
    .page_footer_top .container{

    }
    .sorter>.sort-by{
        margin-right: 10px;
    }
    .category-products .toolbar{
        padding: 0;
            margin: 0;
    }
    .block-layered-nav .block-content{
    }
     .filter_top{
    display: flex;
    justify-content: space-between;
  }


.btmdes h2{
background: url(../images/footer-down-arrow.svg) right 30px center no-repeat;
    background-size: 10px;
    margin-bottom: 0;
    padding-right: 15px;
    padding: 0 15px;
    padding-right: 50px;
    font-size: 16px;
}
.accord .btmdes h2{
    background: url(../images/footer-up-arrow.svg) right 30px center no-repeat;
    background-size: 10px;
}
.desacco_in{
    display: none;
    padding: 20px 30px;
}
.accord .desacco_in{
    display: block;

}
.btmdes{
    border-bottom: 1px solid #F4F4F4;
        padding-top: 15px;
    padding-bottom: 15px;
    background:white;
}
.btmdes:first-child {
    border-top: 1px solid #F4F4F4;
}
 .block-layered-nav dd .amshopby-attr, .block-layered-nav dd .amshopby-attr:hover {
        background: url(../images/checkbox.svg) left 9px no-repeat;
        background-size: 17px 17px;
    }
     .block-layered-nav dd .amshopby-attr-selected, .block-layered-nav dd .amshopby-attr-selected:hover{

     background: url(../images/checkbox-after.svg) left 9px no-repeat;
     background-size: 17px 17px;

   }

     .minicart_btm{
      margin-bottom: 20px;
     }
     .account-login .content{
        padding-left: 0;
        padding-right: 0;
     }
     .account-login .button{
        width: 100%;

     }
     .account-login .content{
        padding-top: 70px;
     }
     .account-login{
        padding-bottom: 70px;
     }
     .my-account .addresses-list .col-1, .my-account .addresses-list .col-2 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.dashboard .col2-set .col-1{
      -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
        width: 100%; 
}
.dashboard .col2-set .col-2{
        -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
        width: 100%; 
}
  .forget_wrapper{
    padding:70px 0;
  }
  .header-minicart .skip-cart .mini_right .count{
        line-height: 18px !important;
  }
}
@media (max-width:767px) {
    .page_footer_top .list_container{
        -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    }
    .acco_in{
        display: none;
        /*margin-top: 20px;*/
            padding: 20px 30px;
    }
    .page_footer_top .list_head{
        background: url(../images/footer-down-arrow.svg) right 30px center no-repeat;
        background-size: 10px;
        margin-bottom: 0;
        padding-right: 15px;  
        padding:0 30px;
        padding-right: 50px;
    }
      .page_footer_top .current .list_head{
        background: url(../images/footer-up-arrow.svg) right 30px center no-repeat;
        background-size: 10px;
    }
     .page_footer_top .current .acco_in{
        display: block;

      }
      .page_footer_top .list_container{
        border-bottom: 1px solid #F4F4F4;
       margin-bottom: 20px;
      }
      .foo_mid{
        display: none;
        /*background: #fff;*/
      }
       .foo_mid figure{
        padding: 18px 30px;
            border-bottom: 1px solid #F4F4F4;

       }
       /*.page_footer_top{*/
       /* padding-top: 0;*/

       /*}*/

       .btmdes_left {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;

    }
    .btmdes_right {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width:  100%;
    }
    .checkout-onepage-index .col-1, .checkout-onepage-index .col-2 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width:  100%;
}
#login-form .input-text{
    width: 100%;

}
}
@media (max-width:479px) {
.prd_list_wrapper > li .product-info .price-box .special-price .price {
    font-size: 20px;
}
.next_page, .prev_page{
    width:  100%;
}
.pagesz .previous, .pagesz .next{
    width: 100%;
}
.prev_page{
   margin-bottom: 20px;
 }

}
@media (max-width:440px) {
    .box-up-sell .prd_list_wrapper > li {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.prd_list_wrapper > li {
   -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.header_in .logo {
    max-width: 122px;
    width: 122px;
    top:15px;
    }
.skip-nav .label{
    font-size: 12px;
}


}
/* Frontpage */
.frontpage .row div {
    margin-bottom: 15px;
}
.frontpage-clerk div {
    margin-bottom: 0px;
}
.frontpage-headline:before {
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    border-top: 1px solid #d8d8d8;
    margin-bottom: -1em;
}

.frontpage-headline h2 {
    background: white;
    display: inline-block;
    padding: 3px 20px 0px 20px;
}
.category-link-wrapper, .usp-wrapper {
display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.usp-wrapper {
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-left: -5px;
    margin-right: -5px;
}
.link-section, .usp-section {
    margin: 0px auto 0px auto;
}
.usp-section {margin-bottom:0px;}
.category-link-wrapper a {
    padding: 17.5px 30px;
    background: #f1f1f1;
    width: auto;
    display: inline-block;
    text-align: center;
    margin-bottom: 13px;
    margin-left: 5px;
    margin-right: 5px;
}


.banner-cta {
        margin-top: 0px;
    font-size: 16px;
    font-family: 'alright_sans_ltmedium';
    border-bottom-width: 2px;
    border-color: black;
    border-bottom-style: solid;
    display: inline-block;
    color: black;
}
.banner-text h3 {    margin-bottom: 0px;
    color: grey;
    font-size: 22px;}
.banner-text .banner-headline {
        font-size: 1.5em;
    margin: 5px 0px 0px 0px;
    color: dimgrey;
}
.banner-text p {
    margin: 0px;
    font-size: 1em;
    line-height: 31px;
    font-family: 'alright_sans_ltmedium';
    color: black;
}
.banner a:hover {text-decoration: none;}
.usp {   padding: 5px 10px;
    width: auto;
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    flex: auto;
    border: 1px solid #d9d9d9;
    flex: 1 1 0px;
    margin-bottom: 20px;
}
@media (min-width:991px){
.banner-text p {font-size: 19px;}

}
@media (max-width:575px){
.banner-text { 
    position: absolute;
    left: 40px;
    right: 40px;
    margin-top: 11px;
    padding: 10px;
    min-width: 60%;
    bottom: 20px;}
}
@media (max-width:650px){
.product-image-thumbs li {
    background:white;
}
.more-views {
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 89%;
    margin: 0 auto;
}
 .product-img-box {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom:10px;
    position:relative;
    }
    .prd_mid_om {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    display: none;
    }
    .prd_lft {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    }  
}
@media all and (min-width: 1200px){
    .cat_top_txt .brands-name-mobile{
        display: none;
    }
}
@media all and (max-width: 1200px){
    .cat_top_txt .brands-name-mobile{
        display: none;
    }
}
@media all and (max-width: 1024px){
    .page_footer .foo_news .foo_news_con .block-subscribe{
        flex-direction: column;
        align-items: center;
        padding: 36px 0;
    }
    .page_footer .foo_news .foo_news_con .block-subscribe .block-title p{
        text-align: center;
    }
}
@media all and (max-width: 768px){
    .cat_top_txt{
        flex-direction: column;
    }
    .cat_top_txt .brands-name-mobile{
        display: block;
        padding: 24px 0;
    }
    .cat_top_txt .brands-name-mobile h1{
        font-size: 2.5rem;
    }
    .cat_top_txt .card-brands-product{
        width: 100%;
        margin: 0 0 24px;
        padding: 24px 0 0;
    }
    .cat_top_txt .info-brand{
        width: 100%;
    }
    .cat_top_txt .info-brand .brands-name{
        display: none;
    }
    .cat_top_txt .info-brand .brands-carousel .amshopby-subcategories-wrapper{
        padding-left: 0;
    }
    .cat_top_txt .info-brand .brands-carousel .amshopby-subcategories-wrapper .slider-category .slick-prev{
        left: -20px;
        z-index: 2;
    }
    .cat_top_txt .info-brand .brands-carousel .amshopby-subcategories-wrapper .slider-category .slick-next{
        right: 9px;
    }
    .page_footer .foo_news .foo_news_con .block-subscribe{
        flex-direction: column;
        align-items: center;
        padding: 36px 0;
    }
    .page_footer .foo_news .foo_news_con .block-subscribe .block-title p{
        text-align: center;
    }
    .page_footer .footer-payment-block .container .row{
        justify-content: center;
    }
}
@media all and (max-width: 767px){
    .cat_top_txt .brands-name-mobile h1{
        font-size: 24px;
    }
    #search_mini_form .search-button{
        top: 0;
    }
    .input-box button{
        margin: 0.6rem auto;
    }
    .amshopby-subcategories-wrapper .amshopby-subcategory .item-wrap .box-shadow{
        margin: 0;
    }
    .amshopby-subcategories-wrapper .slider-category .slick-list .slick-slide{
        margin: 0 7px;
    }
}
@media all and (max-width: 650px){

    .product-view{
        padding: 0 10px;
    }
    .prd_top_wrapper.mobile{
        display: block;
    }
    .prd_top_wrapper.mobile .product-name{
        text-align: left;
        color: #222222;
        font-weight: 500;
        margin: 0;
    }
    .prd_top_wrapper.mobile .product-name h1{
        font-size: 24px;
        margin: 0;

    }
    .prd_top_wrapper.mobile .prd_mid_om_wrap{
        padding-top: 16px;
    }
    .prd_top_wrapper.mobile .prd_mid_om_wrap .short-description .std{
        text-align: left;
        color: #4c4c4c;
        font-size: 15px;
        line-height: 1.33;
    }
    .product-essential .prd_lft .prd_lft_wrap .product-name,
    .product-essential .prd_lft .prd_lft_wrap .prd_mid_om_wrap{
        display: none;
    }
    #zoomIn,
    #zoomOut{
        display: none!important;
    }
    .price-box .regular-price{
        font-size: 32px;
        text-align: center;
    }
    .price-box .regular-price sup{
        font-size: 16px;
    }
    .fotorama__wrap,
    .fotorama__stage{
        width: 100% !important;
    }
    .prd_dtls_main .product-img-box{
        padding: 0;
    }

    .wrap-warehouse-info .link-brand{
        display: none;
    }
    .amxnotif-block .wrapper-subscribe{
        flex-direction: column;
    }
    .amxnotif-block .wrapper-subscribe .amxnotif-email{
        margin: 0;
        width: 100%;
        margin-bottom: 16px;
    }
    .zoomContainer{
        display: none;
    }

    .klaviyo-form .lnviXl.lnviXl{
        flex-direction: column;
    }
    .klaviyo-form .iJakFv.iJakFv{
        flex: 1;
        padding: 0 0 10px 0!important;
    }
    .klaviyo-form .eevQNn.eevQNn.eevQNn.eevQNn.eevQNn.eevQNn{
        width: 290px;
    }
    .klaviyo-form .jEMqpu.jEMqpu.jEMqpu.jEMqpu.jEMqpu.jEMqpu{
        width: 100%;
    }
    .fotorama--fullscreen .fotorama__stage{
        height: 800px!important;
    }
    .fotorama.product-image-gallery.fotorama--fullscreen{
        background: #222!important;
        opacity: 0.85;
    }
    .fotorama--fullscreen .fotorama__stage{
        background: #222!important;
    }
    .fotorama--fullscreen .fotorama__nav-wrap,
    .fotorama--fullscreen .fotorama__arr{
        display: none;
    }
    .fotorama--fullscreen .fotorama__stage .fotorama__img{
        transform: none!important;
        width: 100% !important;
        height: initial !important;
        background: #fff;
    }
    .fotorama--fullscreen .fotorama__html{
        width: 100%;
        height: 100%;
        padding: 0 10px;
    }
    .fotorama--fullscreen .fotorama__html .opacity-img::after{
        background-color: inherit;
    }
    .fotorama--fullscreen .fotorama__html .videoPoster{
        display: none;
    }
    .fotorama--fullscreen .embed-responsive{
        overflow: visible;
        height: 100%;
    }
    .fotorama--fullscreen .fotorama__html .video #mainvideo-page{
        top: 0;
        height: 100%;
        z-index: 9999999;
    }
    .fotorama--fullscreen .mobile-description-product{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 16px 8px;
        margin-top: 16px;
        background-color: #fff;
    }
    .fotorama--fullscreen .mobile-description-product .name-product-mobile{
        font-size: 15px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.27;
        letter-spacing: normal;
        color: #222;
        width: 137px;
        text-align: left;
        margin: 0;
    }
    .fotorama--fullscreen .mobile-description-product .mobile-price{
        font-size: 32px;
        color: #222;
        font-weight: 700;
    }
    .fotorama--fullscreen .embed-responsive::before{
        padding-top: 56%;
    }
    .fotorama--fullscreen .video{
        position: relative;
    }
    .fotorama--fullscreen .fotorama__fullscreen-icon{
        width: 35px!important;
        height: 35px!important;
    }

}
@media all and (max-width: 450px){
    .product-view .product-essential{
        padding-top: 45px;
    }
    .fotorama__stage__frame img{
        left: 0!important;
        width: 284px!important;
        height: 303px!important;
    }
    .fotorama__stage{
        height: 303px!important;
    }
    .product-image .fotorama__stage__frame .fotorama__html{
        height: 200px;
        top: 50px;
    }
    .product-image .fotorama__stage__frame .fotorama__html .video .videoPoster{
        width: 70px;
        height: 70px;
        background-size: 60px;
        top: 32%;
        left: 41%;
    }
    .cat_top_txt .card-brands-product.main{
        padding: 0;
    }
}