
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<?php echo $this->getGoogleApiKey(); ?>"></script>

<div id="SP_overlay" class="reveal-modal" role="dialog">

    <div id="SP_modal-header">
        <a class="close-reveal-modal" id="SP_closeModal" aria-label="Close">&#215;</a>
    </div>



    <div id="SP_overlay_content" class="row">
        <div id="SP_droppointDiv" class="col-12 col-lg-3">
            <ul id="droppointList" class="SP_infoList"></ul>
        </div>
        <div id="SP_map" class="col-6 "></div>
        <div id="SP_infobox" class="col-12 col-lg-3 "></div>
    </div>


    <div class="modal-footer" id="SP_modal-footer">
        <div id="SP_filters" class="col-12 col-lg-3" ></div>
        <div class="col-6 "  ></div>
        <div class="col-12 col-lg-3" >
            <button id="SP_save" type="button" class="button large" data-dismiss="modal">Gem dit valg af pakkeshop</button>
        </div>
    </div>
</div>