<script>
    window.SP_BASE_URL = "<?php echo Mage::getBaseUrl() ?>";
    shippingpickerSettings = <?php echo $this->getSettings();?>;


    var getShippingAddress = function(callback){
        new Ajax.Request(window.SP_BASE_URL + '/shippingpicker/index/getShippingAddress', {
            method: 'GET',
            onComplete: function(transport){
                var json = transport.responseText.evalJSON();
                callback(json)
            }
        });
    };


    var hasAnyDroppoints = function(callback) {
        new Ajax.Request(window.SP_BASE_URL + '/shippingpicker/index/getHasShippingRates', {
            method: 'GET',
            onComplete: function(transport){
                var json = transport.responseText.evalJSON();
                if (!json.hasRates) {
                    callback(false);
                    return;
                }
                getShippingAddress(function(json){
                    if (json.ERROR){
                        callback(false, 'NOSHIPPING');
                        return;
                    }
                    var zip = json.zip;

                    var shippingAddress = json;

                    new Ajax.Request(window.SP_BASE_URL + '/shippingpicker/index/getAllDroppoints', {
                        method: 'GET',
                        parameters: {postcode: zip},
                        onComplete: function (transport) {
                            var json = transport.responseText.evalJSON();
                            if (json.ERROR) {
                                callback(false);
                                return;
                            }

                            var providers = json;

                            for (var k in json){
                                if (json[k].status==0){
                                    callback(true);
                                    autoSelectRecommended(shippingAddress, providers);
                                    return;
                                }
                            }
                            callback(false);
                        }
                    });
                });
            }
        });
    };


    var autoSelectRecommended = function(address, providers){
        if (!shippingpickerSettings.autoSelect) return;

        var SP = window.ShippingPicker(shippingpickerSettings);
        SP.shippingAddress = address;
        SP.providers = providers;

        if (SP.shippingAddress.coordinates) {
            SP.calculateAllDroppointDistance();
        }

        SP.recommendedDroppoint = SP.findRecommendDroppoint();
        if (SP.recommendedDroppoint) {

            SP.choice = SP.recommendedDroppoint;


            SP.selectShippingRadio(true);
        }


        jQuery('#SP_openOverlay').click(function(){
            if (jQuery(this).data('loading') == true && !jQuery('#SP_shippingRadio').is(':disabled')) return;
            SP.saveDroppointChoice();
        });

        jQuery('#SP_shippingRadio').click(function(){
            jQuery('#SP_openOverlay').click();
        });

        jQuery('#SP_link_openOverlay').text('Ændre pakkeshop').click(function(e){
            e.stopPropagation();
            e.preventDefault();

            if (jQuery('#SP_openOverlay').data('loading') == true) return;
            jQuery('#SP_overlay').foundation('reveal', 'open');
            SP.init();
            SP.saved = false;

            // Close modal on click outside modal
            jQuery(document.body).click(function (e) {
                if (!jQuery('#SP_overlay').is(":visible")) return;
                if (!jQuery(e.target).is('.reveal-modal-bg')) return;

                jQuery('#SP_closeModal').click();
            });


            // Close modal on press ESCAPE
            jQuery(document.body).keydown(function (event) {
                if (event.keyCode == 27) { // 27 = ESC
                    jQuery('#SP_closeModal').click();
                }
            });

            // Close modal on button click
            jQuery('#SP_closeModal').click(function () {
                console.log('tissemand')
                jQuery('#SP_overlay').foundation('reveal', 'close');
                SP.clear();

            });
        });

    };

    // Check if any droppoints are avaliable.
    jQuery('#SP_delivery-type-div').ready(function(){
        hasAnyDroppoints(function(res, reason) {
            if (res || reason === "NOSHIPPING") return;
            jQuery('#SP_delivery-type-div').hide();
            jQuery('#ShippingpickerMethod').hide();
        });
    });
</script>

<dd class="delivery-well-type" id="SP_delivery-type-div">Pakkeshop</dd>
    <div class="shipment-select-method" id="ShippingpickerMethod">
        <script>
            var settings = <?php echo $this->getSettings(); ?>

            jQuery('#SP_openOverlay').ready(function(){
                if (settings.autoSelect){
                    jQuery('#SP_shippingRadio').attr('disabled', true);

                    return;
                }


                // Open modal on radio click
                jQuery('#SP_shippingRadio').prop('checked', false).click(function(){
                    jQuery('#SP_openOverlay').click();
                    jQuery(this).prop('checked', false);
                });



                // Primary opening function. Open modal on button click.
                jQuery('#SP_openOverlay').click(function() {
                    if (jQuery(this).data('loading') == true) return;
                    jQuery('#SP_overlay').foundation('reveal', 'open');


                    if (typeof SP != 'undefined' && SP) {
                        SP.clear();
                        SP = null;
                    }
                    var SP = ShippingPicker(settings);
                    SP.init();

                    // Close modal on click outside modal
                    jQuery(document.body).click(function (e) {
                        if (!jQuery('#SP_overlay').is(":visible")) return;
                        if (!jQuery(e.target).is('.reveal-modal-bg')) return;

                        jQuery('#SP_closeModal').click();
                    });

                    // Close modal on button click
                    jQuery('#SP_closeModal').click(function () {
                        if (typeof SP == 'undefined' || !SP) return;
                        SP.clear();
                        SP = null;
                        jQuery('#SP_overlay').foundation('reveal', 'close');
                    });

                    // Close modal on press ESCAPE
                    jQuery(document.body).keydown(function (event) {
                        if (event.keyCode == 27) { // 27 = ESC
                            jQuery('#SP_closeModal').click();
                        }
                    });
                });
            });
        </script>
        <input name="shipping_method" type="radio" class="validate-one-required-by-name" value="" id="SP_shippingRadio" data-toggle="modal" data-target="#SP_overlay"/>
        <label id="SP_openOverlay" for="s_method_ShippingStuff">
                Vælg pakkeshop tættest på dig (Dag til dag levering) <span class="cutoff"> <?php
            if(date('N') > 0 && date('N') < 5) { 
                $cutoff = 'Bestil inden kl. 21';
            } else {
                $cutoff = 'Bestil inden kl. 16';
            } ?> - <?php echo $cutoff ?> - </span> <b>Fra 33,00 kr - og gratis over 499,-</b><br>
                <img class="shipment-logo" src="https://www.helsebixen.dk/shop/media/shipmentlogos/post.png" alt="">
                <img class="shipment-logo" src="https://www.helsebixen.dk/shop/media/shipmentlogos/dao.png" alt="">
                <img class="shipment-logo" src="https://www.helsebixen.dk/shop/media/shipmentlogos/gls-shipment.png" alt="">
                <img class="shipment-logo" src="https://www.helsebixen.dk/shop/media/shipmentlogos/bring.png" alt="">
        </label>

        <a id="SP_link_openOverlay"></a>
    </div>
