    <div class="entry-edit">
    <div class="entry-edit-head">
        <h4><?php echo $this->getTabTitle(); ?></h4>
    </div>
    <div class="fieldset fieldset-wide">
        <?php echo $this->getPaymentInformationHtml(); ?>
    </div>
</div>
