<?php if ($points = $this->getProductPoints()):?>
    <?php if ($this->getProduct()->getTypeId() == Mage_Catalog_Model_Product_Type::TYPE_BUNDLE):?>
        <div class="reward-points"><?php echo $this->__("You'll earn up to %s for this item",Mage::helper('rewards')->formatPoints($points))?></div>
    <?php else: ?>
        <div class="reward-points"><?php echo $this->__("You'll earn %s for this item",Mage::helper('rewards')->formatPoints($points))?></div>
    <?php endif;?>
<?php endif;?>