<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript">
jQuery.noConflict();
</script>

<fieldset>
        <legend>Order search</legend>
        <span id="global_search_indicator" class="autocomplete-indicator" style="display: none">
            <img src="<?php echo $this->getSkinUrl('images/ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading...') ?>" class="v-middle"/>
        </span>
        <?php $defSearch = $this->__('Order number search') ?>
        <input style="padding: 10px;
  background-color: rgb(239, 222, 201);
  border: 2px solid #C7A0A0;
  color: white;
  font-size: 13px;" id="order_search" name="query" type="text" class="input-text" value="Order number search" onfocus="if(this.value=='<?php echo $defSearch ?>')this.value=''; " onblur="if(this.value=='')this.value='<?php echo $defSearch ?>';" />


    </fieldset>


        <script type="text/javascript">
        	jQuery(document).ready(function()
        	{
        		var canSubmit = true;
	        	jQuery("#order_search").keyup(function(e)
	        		{
	        			var ordernumber = jQuery("#order_search").val();
	        			if(e.keyCode == 13)
	        			{
	        				jQuery("#firtal_search_text").html("Ordrenissen leder efter "+ordernumber+"...");
	        				jQuery("#firtal_search_div").fadeIn();
							jQuery("#firtal_search_image").attr("src", '<?=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB)?>img/firtal/backendsearch/looking.gif').css({height:'100%'});

	        				canSubmit = false;
	        				setTimeout(function(){
	        				jQuery.get('<?=Mage::getBaseUrl()?>firtalsearch/index/order', {'order_id':ordernumber}, function(returnData)
	        					{
	        						if(returnData === false)
	        						{
	        							jQuery("#firtal_search_image").attr("src", '<?=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB)?>img/firtal/backendsearch/notfound.gif').css({height:'100%'});
	        							jQuery("#firtal_search_text").html("Ordren findes ikke...");

	        							jQuery("#firtal_search_div").delay(800).fadeOut();
	        						}
	        						else
	        						{
										jQuery("#firtal_search_image").attr("src", '<?=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB)?>img/firtal/backendsearch/found.gif').css({height:'100%'});

	        							if(returnData.length==1){
		        							jQuery("#firtal_search_text").html("Han fandt ordren ("+returnData[0].incrementId+")! Sender dig videre...");
		        							window.setTimeout(function()
		        							{
			        							window.location.href=returnData[0].url;
			        						},800);
		        						}
		        						else
		        						{
		        							var newHtml = "Nissen fandt flere ordrer! Hvilken leder du efter?<br>";
		        							for (var i = returnData.length - 1; i >= 0; i--) {
		        								newHtml = newHtml+'<a href="'+returnData[i].url+'">'+returnData[i].incrementId+'</a> | ';
		        							};

		        							newHtml = newHtml.slice(0, -2);

		        							jQuery("#firtal_search_text").html(newHtml);
		        						}
		        					}
	        						canSubmit = true;
	        					});
							},1200);
	        			}
	        		});
        	});
        </script>


        <div id="firtal_search_div" style="position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.5); display:block; top:0; left:0; z-index:999; color:#000; display:none;">
        	<div style="width:500px; height:126px; top:50%; left:50%; margin-left:-250px; margin-top:-63px; display:block; position:absolute; z-index:1000; background-color:#fff; border-radius:20px;" id="firtal_search_div_inner">
        		<img src="<?=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB)?>img/firtal/backendsearch/looking.gif" style="float:left;" id="firtal_search_image"/>
        		<div id="firtal_search_text" style="font-size:20px; text-align:center; line-height:20px; margin-top:40px;">Ordrenissen leder efter <span id="firtal_search_number"></span>...</div>
        	</div>
        </div>
