<div id="brandbundle-price-container">
    <div class="brandbundle-price-box">
        <div class="brandbundle-price-savings">
            <span class="brandbundle-price-savings--percentage">
                <strong><?php echo $this->__('Spar %s', '<span class="price"></span>'); ?></strong>
            </span>
            <span class="brandbundle-price-savings--retail-price"><?php echo $this->__('Vejl. pris i butikkerne: %s', '<strong><span class="price"></span></strong>'); ?>
        </div>
        <div class="brandbundle-price-final">
            <span class="price-label"><?php echo $this->__('Pris'); ?></span>
            <span class="price"></span>
        </div>
        <div class="brandbundle-price-from"><?php echo $this->__('Fra %s pr. stk.', '<span class="price"></span>'); ?></div>
    </div>
</div>
<div id="brandbundle-options-container">
    <ul class="brandbundle-options-list">
    </ul>
    <?php /*
    <div class="brandbundle-options-selector">
        <div class="brandbundle-options-selector--search">
            <input type="text" name="q" autocomplete="off" placeholder="<?php echo $this->__('Search products'); ?>"/>
        </div>
        <ul class="brandbundle-options-selector--list">
            <li class="brandbundle-options-selector--item">
                <button type="button" class="brandbundle-options-selector--item-button" data-value="1">
                    <div class="brandbundle-options-selector--item-name">Varenavn 1</div>
                    <div class="brandbundle-options-selector--item-price">+0,00 DKK</div>
                </button>
            </li>
            <li class="brandbundle-options-selector--item">
                <button type="button" class="brandbundle-options-selector--item-button" data-value="2">
                    <div class="brandbundle-options-selector--item-name">Varenavn 2</div>
                    <div class="brandbundle-options-selector--item-price">+17,25 DKK</div>
                </button>
            </li>
            <li class="brandbundle-options-selector--item">
                <button type="button" class="brandbundle-options-selector--item-button" data-value="3">
                    <div class="brandbundle-options-selector--item-name">Varenavn 3</div>
                    <div class="brandbundle-options-selector--item-price">+25,00 DKK</div>
                </button>
            </li>
        </ul>
    </div>
    */ ?>
</div>
<div id="brandbundle-add-to-cart-container">
    <div class="brandbundle-add-to-cart--inner">
        <div class="brandbundle-size"> 
            <label for="brandbundle-size"><?php echo $this->__('Bundle size'); ?></label>
            <select id="brandbundle-size" name="brandbundle-size">
                <option value="2"><?php echo $this->__('%d Items',2); ?></option>
                <option value="4"><?php echo $this->__('%d Items',4); ?></option>
                <option value="6" selected="selected"><?php echo $this->__('%d Items',6); ?></option>
            </select>
        </div>
        <div class="brandbundle-add-button add-to-cart-buttons"> 
            <input type="hidden" name="qty" value="1" />
            <button type="submit" class="button btn-cart" id="brandbundle-add-to-cart"><span><?php echo $this->__('Add to Cart'); ?></span></button>
        </div>
    </div>
</div>

<script type="text/javascript">
    Translator.add('Please select an item','<?php echo Mage::helper('brandbundle')->__('Please select an item')?>');
</script>