<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Rules
 */
?>
<?php if (is_array($this->getTotal()->getDebugInfo())) : ?>
<?php foreach ($this->getTotal()->getDebugInfo() as $ruleId => $info): ?>
    <tr class="summary-details-amrules summary-details">
        <td class="a-right" colspan="<?php echo $this->getColspan(); ?>">
            <?php echo  '(' . $ruleId . ')' . $info['label']; ?>
            <br />
        </td>
        <td class="a-right" rowspan="1">
            -<?php echo $this->helper('checkout')->formatPrice($info['amount']); ?>
        </td>
    </tr>
<?php endforeach; ?>
<?php endif; ?>
<tr class="summary-total" onclick="expandDetails(this, '.summary-details-amrules')" >
    <td colspan="<?php echo $this->getColspan(); ?>" style="<?php echo $this->getTotal()->getStyle() ?>" class="a-right">
        <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?><strong><?php endif; ?>
             <div class="summary-collapse"><?php echo $this->getTotal()->getTitle() ?></div>
        <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?></strong><?php endif; ?>
    </td>
    <td style="<?php echo $this->getTotal()->getStyle() ?>" class="a-right">
        <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?><strong><?php endif; ?>
            <?php echo $this->helper('checkout')->formatPrice($this->getTotal()->getValue()) ?>
        <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?></strong><?php endif; ?>
    </td>
</tr>
