<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<div class="block block-subscribe amfaq-search">
    <div class="block-title">
        <strong><span><?php echo $this->__('Search FAQ') ?></span></strong>
    </div>
    <form action="<?php echo Mage::helper('amfaq')->getSearchUrl() ?>" method="get" id="newsletter-validate-detail">
        <div class="block-content">
            <div class="form-subscribe-header">
                <label for="newsletter"><?php echo $this->__('Enter phrase to find') ?></label>
            </div>
            <div class="input-box">
                <input type="text" name="q" title="<?php echo $this->__('Search query') ?>" class="input-text required-entry validate-email" />
            </div>
            <div class="actions">
                <button type="submit" title="<?php echo $this->__('Search') ?>" class="button"><span><span><?php echo $this->__('Search') ?></span></span></button>
            </div>
        </div>
    </form>
</div>