<?php /** @var  Firtal_Antifraud_Block_Config_Rules $this */ ?>
<tr>
    <td>Rules</td>
    <td>
        <style>
            button.scalable {
                padding: 5px 10px;
            }

            button#addRuleBtn {
                margin-top: 10px;
            }

            .validator, .condition-value {
                width: 300px;
                height: 30px;
                padding-left: 10px;
            }

            .conditionTemplate, #ruleTemplate{
                display:none;
            }
        </style>

        <?php foreach ($this->getRules() as $ruleIndex => $rule): ?>
            <div class="antifraud-rule grid" id="<?php echo $this->isRuleTemplate($ruleIndex) ? 'ruleTemplate' : '' ?>">
                <table>
                    <thead>
                    <tr>
                        <td colspan="3">
                            <h2>Rule
                                <button style="margin-left: 10px;" class="scalable delete removeRule">
                                    <?php echo $this->__('Remove rule'); ?>
                                </button>
                            </h2>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($rule as $conditionIndex => $condition):
                        $requiresValue = true;
                        ?>
                        <tr class="condition<?php echo $this->isConditionTemplate($conditionIndex) ? " conditionTemplate" : "" ?>">
                            <td>
                                <select class="validator"
                                        name="<?php echo $this->getConfigName() . "[" . $ruleIndex . "][" . $conditionIndex . "][validator]"; ?>">
                                    <?php /** @var array $validator */
                                    foreach ($this->getValidators() as $validator):
                                        if ($condition['validator'] === $validator['label']) {
                                            $requiresValue = $validator['requires_value'];
                                        }
                                        ?>
                                        <option data-requires-value="<?php echo $validator['requires_value'] ? "1" : "0" ?>"
                                                value="<?php echo $validator['value']; ?>" <?php echo $condition['validator'] === $validator['value'] ? 'selected' : ''; ?>>
                                            <?php echo $validator['label']; ?>
                                        </option>
                                    <?php endforeach; ?>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="condition-value"
                                       style="display: <?php echo !$requiresValue ? 'none' : 'auto' ?>"
                                       name="<?php echo $this->getConfigName() . "[" . $ruleIndex . "][" . $conditionIndex . "][value]"; ?>"
                                       value="<?php echo $condition['value']; ?>"
                                >
                            </td>
                            <td>
                                <button class="scalable delete removeCondition">
                                    <?php echo $this->__('Remove condition'); ?>
                                </button>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3">
                            <button class="scalable add addConditionBtn">+ Add condition</button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        <?php endforeach; ?>

        <button class="scalable add" id="addRuleBtn">
            <?php echo '+ ' . (method_exists($this,
                    'getAddRowButtonText') ? $this->getAddRowButtonText() : 'Add row'); ?>
        </button>


        <script type="text/javascript">
            (function ($) {

                var Rules = {

                    ruleTemplateSelector: '#ruleTemplate',
                    antiFraudRuleSelector: '.antifraud-rule',

                    addRuleBtnSelector: '#addRuleBtn',
                    removeRuleSelector: '.removeRule',
                    removeConditionSelector: '.removeCondition',

                    conditionTemplateSelector: ".conditionTemplate",
                    conditionSelector: ".condition",
                    addConditionBtnSelector: '.addConditionBtn',

                    init: function () {
                        
                        $(this.addRuleBtnSelector).off('click').click(this.add.bind(this, Rules.getIndex()));

                        Rules.attachRemoveRuleEvents();

                        $(this.antiFraudRuleSelector).not(this.ruleTemplateSelector).each(function () {
                            var ruleDiv = $(this);

                            Rules.attachConditionEvents(ruleDiv.find("select"), ruleDiv.find("input"));

                            Rules.attachAddConditionButtonEvents(
                                ruleDiv.find(Rules.addConditionBtnSelector),
                                ruleDiv.find(Rules.conditionTemplateSelector),
                                ruleDiv.find(Rules.conditionSelector).length
                            )
                        });
                    },

                    getIndex: function () {
                        return $(Rules.antiFraudRuleSelector).length -1;
                    },

                    attachRemoveConditionEvents: function () {

                        $(Rules.removeConditionSelector).off('click').on('click', function (e) {
                            e.preventDefault();
                            var condition = $(this).parents(Rules.conditionSelector);

                            condition.fadeOut(200, function () {
                                condition.remove();
                            })
                        });
                    }, attachRemoveRuleEvents: function () {

                        $(Rules.removeRuleSelector).off('click').on('click', (function (e) {
                            e.preventDefault();

                            var rule = $(this).parents(Rules.antiFraudRuleSelector);

                            rule.fadeOut(200, function () {
                                rule.remove();
                            });

                        }));
                        this.attachRemoveConditionEvents();

                    },

                    addCondition: function (e, conditionIndex, conditionTemplate) {

                        e.preventDefault();

                        var newCondition       = conditionTemplate.clone().fadeIn(200).removeClass("conditionTemplate"),
                            newValidatorSelect = newCondition.find('select'),
                            newValueInput      = newCondition.find('input');

                        newValidatorSelect.attr("name", newValidatorSelect.attr("name").replace(":CONDITION", conditionIndex));
                        newValueInput.attr("name", newValueInput.attr("name").replace(":CONDITION", conditionIndex));

                        newCondition.insertBefore(conditionTemplate);

                        this.attachConditionEvents(newValidatorSelect, newValueInput);

                    },
                    attachConditionEvents: function (validatorSelect) {

                        validatorSelect.off('change').on('change', function () {
                            var method = $(this).find(':selected')
                                .data('requires-value')
                                ? "fadeIn" : "fadeOut";

                            $(this).parents('tr.condition').find('input')[method](200);
                        });

                        this.attachRemoveConditionEvents();
                    },

                    add: function (ruleIndex, e) {

                        e.preventDefault();

                        var newRule           = $("#ruleTemplate").clone().fadeIn(200).removeAttr("id"),
                            conditionTemplate = newRule.find(this.conditionTemplateSelector),
                            validatorSelect   = conditionTemplate.find('select'),
                            valueInput        = conditionTemplate.find('input'),
                            addConditionBtn   = newRule.find(this.addConditionBtnSelector);

                        newRule.insertBefore(this.ruleTemplateSelector);

                        validatorSelect.attr("name", validatorSelect.attr("name").replace(":RULE", ruleIndex));
                        valueInput.attr("name", valueInput.attr("name").replace(":RULE", ruleIndex));

                        this.attachAddConditionButtonEvents(addConditionBtn, conditionTemplate);
                        this.attachRemoveRuleEvents();
                    },

                    attachAddConditionButtonEvents: function (addConditionBtn, template, startIndex) {
                        var conditionIndex = startIndex || 0;

                        addConditionBtn.off('click').on('click', function (event) {
                            this.addCondition(event, ++conditionIndex, template);
                        }.bind(this));
                    }

                };
                Rules.init();
            })(jQuery)
        </script>

    </td>
    <?php
//
//    <td class="use-default">
/*        <input id="<?php echo $this->getConfigName(); ?>_inherit" name="<?php echo $this->getConfigName(); ?>[inherit]" type="checkbox" value="1" class="checkbox config-inherit" onclick="toggleValueElements(this, Element.previous(this.parentNode))" />*/
/*        <label for="<?php echo $this->getConfigName(); ?>_inherit" class="inherit">Use Default</label>*/
//    </td>
    ?>

</tr>
