<?php
/**
 * Magento Module developed by NoStress Commerce
 *
 * NOTICE OF LICENSE
 *
 * This program is licensed under the Koongo software licence (by NoStress Commerce). 
 * With the purchase, download of the software or the installation of the software 
 * in your application you accept the licence agreement. The allowed usage is outlined in the
 * Koongo software licence which can be found under https://docs.koongo.com/display/koongo/License+Conditions
 *
 * Any modification or distribution is strictly forbidden. The license
 * grants you the installation in one application. For multiuse you will need
 * to purchase further licences at https://store.koongo.com/.
 *
 * See the Koongo software licence agreement for more details.
 * @copyright Copyright (c) 2017 NoStress Commerce (http://www.nostresscommerce.cz, http://www.koongo.com/)
 *
 */
?>
<div class="entry-edit submission-form">
    <?php echo $this->getFormHtml();?>
</div>
<div class="entry-edit submission-list">
    <?php echo $this->getListForm()->getHtml(); ?>
</div>
<div class="clearb"></div>

<?php echo $this->getChildHtml('form_after');?>

<?php $refreshUrl = $this->getUrl("*/*/submissionList", array( 'id'=>$this->getProfile()->getId())); ?>
<script type="text/javascript">

function showTab( tab) {
	var link = $jq("#"+tab);
	submission_tabsJsTabs.showTabContent( link[0]);
}

function testExportApiConnection( url) {

	var postdata = $jq("#edit_form [name^='upload']").serialize();

	if( editForm.validate()) {
	
    	new Ajax.Request( url, {
    		method: 'post',
    		parameters: postdata,
            onSuccess: function(data) {
                data = data.responseText.evalJSON();
                alert( data.message);
    
                if( data.error === true) {
                    $jq( '.see-reports-button').attr( 'disabled', 'disabled').addClass( 'disabled');
                } else {
                    $jq( '.see-reports-button').removeAttr( 'disabled').removeClass( 'disabled');
                }
                
                if( !data.error) {

                	if (typeof afterTestConnection === "function") {
                        afterTestConnection( data, function() {
                        	postdata = $jq("#edit_form [name^='upload']").serialize();
                            refreshSubmissionList( postdata);
                        });
                    } else {

                    	refreshSubmissionList( postdata);
                    }
                	
                }
            }
        });
    }
}

var refreshUrl = '<?php echo $refreshUrl; ?>';


function downloadFile( name) {
	
	var filename = rootPath + '/' + name;
	
	var win = window.open( refreshUrl + '?file=' + filename, '_blank');
	  	win.focus();
}

function refreshSubmissionList( params)
{

	new Ajax.Request( refreshUrl, {
		method: 'post',
		parameters: params,
        onSuccess: function(data) {
            data = data.responseText;

            $jq('#submission-list-container').html(data);
            rootPath = $jq('#submission-list-container .rootPath').html();
        }
    });
};

function serializeObject( form) {
	
	var paramObj = {};
	$jq.each( form.serializeArray(), function(_, kv) {
	  if (paramObj.hasOwnProperty(kv.name)) {
	    paramObj[kv.name] = $jq.makeArray(paramObj[kv.name]);
	    paramObj[kv.name].push(kv.value);
	  }
	  else {
	    paramObj[kv.name] = kv.value;
	  }
	});
	
	return paramObj;
}

</script>
