<?php
/**
 * Magento Module developed by NoStress Commerce
 *
 * NOTICE OF LICENSE
 *
 * This program is licensed under the Koongo software licence (by NoStress Commerce). 
 * With the purchase, download of the software or the installation of the software 
 * in your application you accept the licence agreement. The allowed usage is outlined in the
 * Koongo software licence which can be found under https://docs.koongo.com/display/koongo/License+Conditions
 *
 * Any modification or distribution is strictly forbidden. The license
 * grants you the installation in one application. For multiuse you will need
 * to purchase further licences at https://store.koongo.com/.
 *
 * See the Koongo software licence agreement for more details.
 * @copyright Copyright (c) 2017 NoStress Commerce (http://www.nostresscommerce.cz, http://www.koongo.com/)
 *
 */
?>

<?php
/**
 * @see  Nostress_Nscexport_Block_Adminhtml_Nscexport_Activation
 */
 ?>
<?php echo $this->getFormInitScripts() ?>
<div class="content-header">
    <?php echo $this->getHeaderHtml() ?>
    <p class="form-buttons"><?php echo $this->getButtonsHtml('header') ?></p>
</div>
<div class="activation_form">
	<?php echo $this->getFormHtml() ?>
</div>
<div class="contact_form">
	<?php echo $this->getChildHtml('contactForm') ?>
</div>
<?php if ($this->hasFooterButtons()): ?>
    <div class="content-footer">
        <p class="form-buttons"><?php echo $this->getButtonsHtml('footer') ?></p>
    </div>
<?php endif; ?>
<script type="text/javascript">
    editForm = new varienForm('edit_form', '<?php echo $this->getValidationUrl() ?>');
    contactForm = new varienForm('contact_form', '<?php echo $this->getValidationUrl() ?>');

	function addOverlay() 
	{
	   // create overlay and append to page
	   var overlay = document.createElement("div");
	   overlay.setAttribute("id","overlay");
	   overlay.setAttribute("class", "overlay");

	   elem = document.getElementById('anchor-content');
	   elem.appendChild(overlay);
	}
</script>
<?php echo $this->getFormScripts() ?>

<div id="loading-mask" style="display:none;">
    <p class="loader" id="loading_mask_loader">
    	<?php echo $this->__('Activation in progress.') ?><br/><?php echo $this->__('The process may take up to 30 seconds.') ?><br/><br/>
    	<img src="<?php echo $this->getSkinUrl('images/ajax-loader-tr.gif') ?>" alt="<?php echo $this->__('Activation in progress.') ?>"/>
    </p>
</div>