<?php
/**
 * Magento Module developed by NoStress Commerce
 *
 * NOTICE OF LICENSE
 *
 * This program is licensed under the Koongo software licence (by NoStress Commerce). 
 * With the purchase, download of the software or the installation of the software 
 * in your application you accept the licence agreement. The allowed usage is outlined in the
 * Koongo software licence which can be found under https://docs.koongo.com/display/koongo/License+Conditions
 *
 * Any modification or distribution is strictly forbidden. The license
 * grants you the installation in one application. For multiuse you will need
 * to purchase further licences at https://store.koongo.com/.
 *
 * See the Koongo software licence agreement for more details.
 * @copyright Copyright (c) 2017 NoStress Commerce (http://www.nostresscommerce.cz, http://www.koongo.com/)
 *
 */
?>
<?php
/**
 * Template for Mage_Adminhtml_Block_Widget_Grid_Container
 */
?>
<?php 	if(Mage::helper('nscexport/version')->isLicenseEmpty()): ?>
  <div id="overlay" class="overlay"></div>
  <div id="overlay-data" class="overlay-data">
    <div class="container">
      <div class="box">
        <div class="koongo">
          <div class="logo"></div>
          <div class="line"></div>
          <div class="btn-set">
            <div class="l">
            	<?php 
					$info = $this->getTrialConnectorInfo();
					$code = $info->getCode()?$info->getCode():'KOONGO_FREE_TRIAL_30D';
					$label = $info->getLabel()?$info->getLabel():$this->__('Activate as Koongo Trial');
					$title = $info->getTitle()?$info->getTitle():$this->__('Activate as Koongo Trial');
					$shortDescription = $info->getShortDescription()?$info->getShortDescription():$this->__('I want to try for 30 days for <span>FREE</span>!');
					
            		echo $this->getButtonHtml($this->getActivateFormUrl($code),"btn-koongo",$title,"btn_activate_trial",$label); 
            	?>
              <div class="destroy"></div>
              <div class="info">
              	<?php echo $shortDescription; ?>               
              </div>              
            </div>
            <div class="r">
            	<?php 
					$info = $this->getLiveConnectorInfo();					
					$label = $info->getLabel()?$info->getLabel():$this->__('Activate as Koongo Full');
					$title = $info->getTitle()?$info->getTitle():$this->__('Activate as Koongo Full');
					$shortDescription = $info->getShortDescription()?$info->getShortDescription():'I have payed for full version and I have a live license key.';
					
            		echo $this->getButtonHtml($this->getLicenseConfigUrl(),"btn-koongo",$title,"btn_activate_live",$label); 
            	?>         
              <div class="destroy"></div>
              <div class="info">
                <?php echo $shortDescription; ?>    
              </div>	
            </div>
            <div class="destroy"></div>
          </div>
        </div> 
      </div>
      
      
      <?php 
		$connectors = $this->getCustomConnectors();	
		$first = true;
	    if(!empty($connectors)):?>
		  <div class="box">
		  <?php 
			foreach($connectors as $info):	
				if(!$first)
					echo '<div class="line"></div>';
				else 
					$first = false;
			?> 				
		        <div class="unit">
		          <div class="logo custom"><img alt="<?php echo $info->getImageTitle(); ?>" title="<?php echo $info->getImageTitle(); ?>" src="<?php echo $info->getImageUrl(); ?>"></div>	          
		          <div class="line"></div>
		          <div class="info">
		          	<?php echo $info->getDescription(); ?>	             
		          </div>
		          <div class="btn-one">
		          	<?php  echo $this->getButtonHtml($this->getActivateFormUrl($info->getCode()),"btn",$info->getTitle(),"btn_activate_live",$info->getLabel()); ?> 
		            <div class="sub-info"><?php echo $info->getShortDescription(); ?></div> 
		          </div>      
		          <div class="destroy"></div>
		        </div> 	        
	        <?php endforeach; ?>
	      </div>
      <?php endif;?>

    </div>
	</div>
<?php endif;?>


  <!-- OVERLAY FEED MANUAL -->
  <div id="overlay-feed-manual" class="overlay"></div>
  <div id="overlay-data-feed-manual" class="overlay-data feed-manual">
    <div class="container">
      <div class="box">
        <div class="koongo">
          <a class="close" href="javascript:closeSubmissionInfo();"></a>
          <div>
	          <img id="feed-manual-logo" class="img-thumbnail" style="max-width:100px;float:left" title="" src="" alt="">
		      <div style="padding-left:120px;vertical-alignment:middle"> 
		          <div id="feed-manual-name" class="title"></div>
		          <div class="url" id="feed-url-section">
		          	<strong><?php echo $this->__("Your Feed URL") ?>: </strong><a href="#" target="_blank" id="feed-file-url"></a>          	          
		          </div>
	          </div>
          </div>
          <br>
          <div class="line"></div>
          <div class="loader"></div>
          <div id="feed-manual-manual" class="manual"></div>
          <div class="line"></div>
          <button style="" onclick="event.stopPropagation();closeSubmissionInfo();" class="btn" type="button" title="<?php echo $this->__("Close") ?>"><?php echo $this->__("Close") ?></button>
          <a id="feed-manual-link"  href="#" target="_blank" class="btn-koongo" title=""></a><!-- <?php echo $this->__("Channel page") ?> -->
        </div> 
      </div>
    </div>
	</div>

<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td style="<?php echo $this->getHeaderWidth() ?>"><?php echo $this->getHeaderHtml() ?></td>
            <td class="form-buttons"><?php echo $this->getButtonsHtml() ?></td>
        </tr>
    </table>
</div>
<div>
    <?php echo $this->getGridHtml() ?>
</div>

    <script type="text/javascript">
	//<![CDATA[
	window.onload=function() 
	{
		//Remove header js toolbar
		$$('.' + 'content-header-floating')[0].remove();
	}

    function loadSubmissionInfo(channelLabel,pageName,link,url,feedUrl,imageUrl,executeProfileUrl) {

      $jq('#feed-manual-name').html(pageName);
      $jq('#feed-manual-logo').attr('src',imageUrl);
      $jq('#feed-manual-logo').attr('title',channelLabel);
      
      if(link == '')
    	$jq('#feed-manual-link').hide();  
      else
      {	
          $jq('#feed-manual-link').attr('href',link);
          $jq('#feed-manual-link').html('<?php echo Mage::helper('nscexport')->__("More about ");?>'+channelLabel); 
          $jq('#feed-manual-link').attr('title','<?php echo Mage::helper('nscexport')->__("More information about ");?>'+channelLabel); 
      }     

  	  if(feedUrl == '')
  	  {
  	  	var executeProfileAnchor = '<a href="'+executeProfileUrl+'" ><?php echo Mage::helper('nscexport')->__("Execute Profile")."."; ?></a>';
        $jq('#feed-url-section').html("<strong><?php echo Mage::helper('nscexport')->__("Feed File doesn't exist.")." ". Mage::helper('nscexport')->__("Please")." "; ?></strong>"+executeProfileAnchor); 
  	  }
  	  else
  	  {
        $jq('#feed-file-url').attr('href',feedUrl); 
        $jq('#feed-file-url').html(feedUrl); 
  	  }    
       
      $jq('#overlay-feed-manual').css( 'opacity', 0.0);
      $jq('#overlay-feed-manual').css( 'display', 'block');
      $jq('#overlay-feed-manual').animate({opacity: 0.9}, 300, 'linear', function() {
        scroll();
        $jq('#overlay-data-feed-manual').fadeIn(300, function(){
          $jq('.loader').animate({opacity: 1.0}, 150);
          $jq.post('<?php echo Mage::helper("adminhtml")->getUrl('koongo/channel/loadChannelManual'); ?>', {url:url}, function(data) {
            $jq('.loader').animate({opacity: 0.0}, 50);
            $jq('#feed-manual-manual').html( data); 

          });
        });
      });
  	}

    function closeSubmissionInfo() {
       $jq('#overlay-data-feed-manual').fadeOut();
       $jq('#overlay-feed-manual').animate({opacity: 0.0}, 300, 'linear', function() {
        $jq('#overlay-feed-manual').css( 'display', 'none');
        $jq('#feed-manual-manual').html(""); 
       });
    }
    
    function scroll()
    {
    	$jq('html,body').animate({ scrollTop: 0 }, 'medium');
  	}

    //]]>
    </script>