<?php
/**
 * Magento Module developed by NoStress Commerce
 *
 * NOTICE OF LICENSE
 *
 * This program is licensed under the Koongo software licence (by NoStress Commerce). 
 * With the purchase, download of the software or the installation of the software 
 * in your application you accept the licence agreement. The allowed usage is outlined in the
 * Koongo software licence which can be found under https://docs.koongo.com/display/koongo/License+Conditions
 *
 * Any modification or distribution is strictly forbidden. The license
 * grants you the installation in one application. For multiuse you will need
 * to purchase further licences at https://store.koongo.com/.
 *
 * See the Koongo software licence agreement for more details.
 * @copyright Copyright (c) 2017 NoStress Commerce (http://www.nostresscommerce.cz, http://www.koongo.com/)
 *
 */
?>

<?php
$profile = $this->getProfile();
$feed = $profile->getFeedObject();
$channelLabel = $feed->getChannelLabel();
$filetype = $feed->getFileType();
$exportApiAdapter = $profile->getExportApiAdapter();
$apiLabel = $exportApiAdapter->getLabel();

?>
<div class="entry-edit col-50">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Submission Instructions')?></h4>
        
        <div class="form-buttons">
            <?php echo $this->getHelpButtonHtmlByFieldset( 'preview'); ?>
        </div>
    </div>
    <div class="fieldset fieldset-wide">
        <div class="hor-scroll">
            <?php if( $exportApiAdapter->getCode() == Nostress_Nscexport_Model_Profile::EXPORT_API_FTP) { ?>
                <h5><?php echo $this->__('1. Almost Done')?></h5>
                <p class='preview-info'><?php echo $this->__('Navigate to your %s merchant account or create a new account.', $channelLabel); ?></p>
                
                 <br />
                <h5><?php echo $this->__('2. Copy and paste URL of the feed file into Your %s account.', $channelLabel); ?> ( <a href='#' onclick='javascript:showTab( "preview_tab_manual"); '><?php echo $this->__('See %s submission manual', $channelLabel); ?></a>)</h5>
                <p class='preview-info'>
                    <input class='preview-filename' style="width: <?php echo (strlen( $profile->getUrl())+1)*7; ?>px" type='text' readonly="readonly" value="<?php echo $profile->getUrl(); ?>" />
                </p>
                
                <br />
                <b><?php echo $this->__('or adjust'); ?></b>
                
                <button title="<?php echo $this->__('%s Submission', $apiLabel)?>" type="button" class="scalable"
                    onclick="setLocation('<?php echo $this->getUrl( '*/*/submission', array( 'id'=>$profile->getId())); ?>')" style="">
                        <span><span><span><?php echo $this->__('%s Submission', $apiLabel); ?></span></span></span></button>
                        
            <?php } elseif( $exportApiAdapter->getCode() == Nostress_Nscexport_Model_Profile::EXPORT_API_BESLIST) { ?>
                <h5><?php echo $this->__('Almost Done')?></h5>
                <p class='preview-info'><?php echo $this->__('Check your %s feed and continue with submission via API >> ', $channelLabel); ?>
	                <button title="<?php echo $this->__('Submit via %s',$apiLabel)?>" type="button" class="scalable"
	                    onclick="setLocation('<?php echo $this->getUrl( '*/*/submission', array( 'id'=>$profile->getId())); ?>')" style="">
	                        <span><span><span><?php echo $this->__('Submit via %s',$apiLabel)?></span></span></span></button>
                </p>
                
                <p class='preview-info'>For more details <a href='#' onclick='javascript:showTab( "preview_tab_manual"); '><?php echo $this->__('See %s submission manual', $channelLabel); ?></a></p>
                
            <?php } ?>
        </div>
    </div>
</div>

<div class="entry-edit col-50">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Profile Info')?></h4>
    </div>
    <div class="fieldset fieldset-wide">
        <div class="hor-scroll">
            <table class='profile-info'>
                <tr>
                    <td><?php echo $this->__('Profile name');?>:</td>
                    <th><?php echo $profile->getName(); ?></th>
                </tr>
                <tr>
                    <td><?php echo $this->__('Feed name');?>:</td>
                    <th><?php echo $feed->getLink(); ?></th>
                </tr>
                <tr>
                    <td><?php echo $this->__('Feed type');?>:</td>
                    <th><?php echo $feed->getType(); ?></th>
                </tr>
                <tr>
                    <td><?php echo $this->__('Message');?>:</td>
                    <th><?php echo $this->getLayout()->createBlock('nscexport/adminhtml_nscexport_grid_renderer_status')->render( $profile); ?></th>
                </tr>
                <tr>
                    <td><?php echo $this->__('Last Run Time');?>:</td>
                    <th><?php echo $profile->getUpdateTime(); ?></th>
                </tr>
            </table>
            
        </div>
    </div>
</div>

<div class='clear'></div>

    
<ul id="preview_tab" class="tabs-horiz">
    <li>
        <a href="#" id="preview_tab_file" title="Preview" class="tab-item-link active">
            <span><span class="changed" title="The information in this tab has been changed."></span><span class="error" title=""></span><?php echo ucfirst( $filetype)." ".$this->__('Feed Preview')?></span>
        </a>
        <div id="preview_tab_file_content" style="display:none">
        
            <div class="entry-edit">
                <div class="entry-edit-head">
                    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo ucfirst( $filetype)." ".$this->__('Feed Preview')?></h4>
                </div>
                <div class="fieldset fieldset-wide">
                    <div class="hor-scroll grid">
                        <?php echo $profile->getPreview(); ?>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a href="#" id="preview_tab_manual" title="Manual" class="tab-item-link">
            <span><span class="changed" title="The information in this tab has been changed."></span><span class="error" title=""></span><?php echo $this->__('Submission Manual')?></span>
        </a>
        <div id="preview_tab_manual_content" style="display:none">
            <div class="entry-edit">
                <div class="entry-edit-head">
                    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Submission Manual')?></h4>
                </div>
                <div class="fieldset fieldset-wide">
                    <div class="hor-scroll manual">
                        <?php echo $this->getManual(); ?>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
<script type="text/javascript">
    var preview_tabs = new varienTabs('preview_tab', 'preview_tab_content', 'preview_tab_file', []);
    
    function showTab( tab) {
    	var link = $jq("#"+tab);
    	preview_tabs.showTabContent( link[0]);
    }
    
</script>
<div id="preview_tab_content"></div>
