div#SP_droppointDiv{
    height:100%;
    /*width:200px;*/
    /*background-color:#1cff00;*/
    overflow: auto;
    left: 0;
}

div#SP_map{
    height:100%;
    /*width:400px;*/
    /*background-color:#0000ff;*/
    border: 2px solid #ddd;


}
.reveal-modal {    display: none;
    z-index: 99;
    position: absolute;
    top: 50px;
    left: 50%;
    width: 80%;
    height: auto;
    margin-left: -40%;
    padding: 1.25em;
    border: solid 1px #666;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);}
.SP_droppoint{
    position: relative;
    height:75px;
    width: 100%;
    background-color: white;
    border:1px solid #000000;
}

.droppointprice {float:right;}
.droppointprovider {float:left;}
.droppointprice.free {
    background: #e57d22;
    padding: 0px 5px;
    color: #fff;
    font-weight: bold;}
#SP_cutoff {}

div#SP_recommendedDroppoint{
    float: right;
    background: #0d8302;
    padding: 0px 5px;
    color: #fff;
    font-weight: bold;
}

.SP_droppointAnchor{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

}
.shipment-select-method img {
    display: inline;
    margin-bottom: -4px;
    margin-right: 9px;
}
#SP_overlay{
    font-size:13px;
    height: 75vh;
    width: 75vw;
    overflow: auto;
    position: fixed;
    top: 10vh !important;
    border:0px;
    z-index:999;
}

#SP_closeModal{
    float: right;
    font-size: 28px;
    font-weight: 200;
    font-family: helvetica neue;
    line-height: 13px;
}

#SP_closeModal:hover{
    text-decoration:none;
    opacity: 1;
}

#SP_overlay_content{
    height: 74%;
    overflow: auto;
}

#SP_infobox{

    margin-left: 0;
    margin-top: 1px;
}

#img.SP_Loading{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


ul.SP_infoList{
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
    margin-bottom: 0;
}

#SP_save{
    float: right;
    display: none;
    width: 100%;
}

div#SP_filters{

}

li.SP_infoItem{
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;

}

label.SP_providerCheckLabel{
    padding-right: 10px;
    float: left;
    display: none;
}

p#SP_filterTitle{
    float: left;
    display: none;
}


li.SP_droppointItem{
    position: relative;
    min-height: 75px;
    width: 100%;
    overflow: auto;
}

img#SP_loadingImg{
    display: block;
    margin: auto;

}

p#SP_sliderLabel{
    float: left;
}



div#SP_modal-footer{
    padding:0;
    padding-top:15px;
}

div#SP_modal-header{
}



@media screen and (max-width: 768px) {
    #SP_overlay{
        height: 80vh;
        width: 100vw;
        padding: 0;
        margin: 0;
        left: 0;
        top: 0 !important;
    }
    div#SP_modal-header {
    height: 30px;
    padding: 6px 20px;
}
    .ul.SP_infoList {margin-left:10px;}
    #SP_infobox {box-shadow: -1px -1px 14px #d4d4d4;}

    div#SP_map{
        display: none;
    }

    div#SP_droppointDiv{
        /*height: 50%;*/
    }

    div#SP_filters{
        display:none;
    }

    #SP_amountSlider{
        display: none;
    }
    #SP_sliderLabel{
        display: none;
    }
}