<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Followup
 */
?>

<div id="messages"><ul class="messages"><li class="notice-msg"><ul><li><span>Before sending test messages, please fill in the <a target="_blank" href="<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/system_config/edit/section/amfollowup");?>"><?php echo $this->__("test email")?></a> in the extension configuration section</span></li></ul></li></ul></div>