<?php $brandBundle = $this->getBrandBundle();
    $_product = $this->getProduct();
?>
<a href="<?php echo $brandBundle->getUrlPath(); ?>" onclick="localStorage.setItem('brandbundle-child-ref-<?php echo $brandBundle->getId(); ?>',<?php echo $_product->getId(); ?>);" title="<?php echo $this->stripTags($this->getImageLabel($brandBundle, 'small_image'), null, true) ?>">
<div class="part-of-brandbundle-container row">
    
    
        <?php $_imgSize = 175; ?>
        <div class="bundle-image"><img id="product-collection-image-<?php echo $brandBundle->getId(); ?>"
             src="<?php echo $this->helper('catalog/image')->init($brandBundle, 'small_image')->keepFrame(false)->resize($_imgSize); ?>"
             alt="<?php echo $this->stripTags($this->getImageLabel($brandBundle, 'small_image'), null, true) ?>" />
        </div>
        
        <div class="bundle-callout">
            <div class="bbundle-head strong"><?php echo $this->__('En del af dette tilbud:') ?></div>
            <div class="bbundle-name"><?php echo $brandBundle->getName(); ?></div><?php /* Price */ ?>
        <div class="bbundle-price"><?php echo $this->getLayout()->createBlock('brandbundle/related_list')->setTemplate('brandbundle/product/list/price.phtml')->setProduct($brandBundle)->toHtml(); ?></div>
            
        </div>
        
        
        
 
    
</div>
   </a>