<?php
/** @var Firtal_Reepay_Block_Customer_Subscription $this */
$subscriptions = $this->getSubscriptions() ?? null;
$clerkTemplate = trim(Mage::getStoreConfig('reepaysubscription_options/subscriptions/clerk_template'));
?>

<?php
    // Make sure cookies is deleted on refresh
    Mage::getSingleton('core/cookie')->delete('rp_add_productSubscriptionId');
?>

<div class="page-title">
    <div class="page-head">
        <h3><?php echo $this->__('Active Subscriptions Period'); ?></h3>
        <?php if (!$subscriptions): ?>
            <p><?php echo $this->__('You have no product subscriptoins yet...'); ?></p>
            <?php return; ?>
        <?php endif; ?>
    </div>

    <table class="data-table">
        <thead>
        <tr class="first last">
            <th><?php echo $this->__('Id'); ?></th>
            <th><?php echo $this->__('Quantity'); ?></th>
            <th><?php echo $this->__('Product'); ?></th>
            <th><?php echo $this->__('Subscription period'); ?></th>
            <th><?php echo $this->__('Next delivery date'); ?></th>
            <th><?php echo $this->__('Price'); ?></th>
            <th><?php echo $this->__('Edit'); ?></th>
        </tr>
        </thead>
        <tbody>
        <?php /** @var Firtal_Reepay_Model_DTO_Subscription $subscription */ ?>
        <?php if (!empty($subscriptions)): ?>
            <?php foreach ($subscriptions as $subscription): ?>
                <?php /** @var Firtal_Reepay_Model_DTO_ProductSubscription $productSubscription */ ?>
                <?php foreach ($subscription->getProductSubscriptions() as $productSubscription): ?>
                    <tr>
                        <td><?php echo $subscription->getId(); ?></td>
                        <form name="rp_productsubscriptionChangeInQty"
                              action="<?php echo "/reepay/subscriptions/edit/{$productSubscription->getId()}" ?>"
                              method="post" onsubmit="event.preventDefault(); rpConfirmQty(this);">
                            <?php echo $this->getBlockHtml('formkey'); ?>
                            <input type="hidden" name="subscriptionId"
                                   value="<?php echo $subscription->getId(); ?>">
                            <input type="hidden" name="productSubscriptionId"
                                   value="<?php echo $productSubscription->getId(); ?>">
                            <td>
                                <input
                                    type="number"
                                    id="rp_productSubscriptionQty"
                                    name="productSubscriptionQty"
                                    value="<?php echo $productSubscription->getQty(); ?>"
                                    style="width: 50%; display: inline-block"
                                    <?php echo $productSubscription->getId() == Mage::getStoreConfig('reepaysubscription_options/subscriptions/plus_subscription_product') ? readonly : '' ?>
                                />
                                <?php if ($productSubscription->getId() != Mage::getStoreConfig('reepaysubscription_options/subscriptions/plus_subscription_product')): ?>
                                    <button class="small" style="display: inline-block; float: right;width: 49%;" type="submit">
                                        <?php echo $this->__('Update'); ?>
                                    </button>
                                <?php endif; ?>
                            </td>
                        </form>
                        <td><?php echo $productSubscription->getProduct()->getName(); ?></td>
                        <td><?php echo $productSubscription->getPeriod()->getTitle(); ?></td>
                        <td><?php echo $subscription->getNextDeliveryDate(); ?></td>
                        <td><?php echo Mage::helper('core')->formatCurrency($subscription->getProductPriceFromSubscription($productSubscription->getId())); ?></td>
                        <td class="a-center last">
                            <?php $id = "{$subscription->getId()}_{$productSubscription->getId()}" ?>
                            <form action="<?php echo "/reepay/subscriptions/cancel?subscriptionId={$subscription->getId()}&productSubscriptionId={$productSubscription->getId()}" ?>"
                                  method="POST">
                                <?php echo $this->getBlockHtml('formkey') ?>
                                <button type="submit" class="small">
                                    <?php echo $this->__('Cancel this line'); ?>
                                </button>
                            </form>
                        </td>
                    </tr>
                <?php endforeach; ?>
            <?php endforeach; ?>
        <?php endif; ?>
        </tbody>
    </table>
    <div class="rp-add-subscriptions">
        <form class="rp-add-subscriptions__form" action="<?php echo Mage::getUrl('reepay/subscriptions/add'); ?>"
              method="post">
            <?php echo $this->getBlockHtml('formkey'); ?>
            <h3>
                <?php echo $this->__('Find more product'); ?>
            </h3>
            <div class="columns large-6 medium-6 small-12">
                <div class="rp-add-subscriptions__input">
                    <label for="rp_subscriptions_select">
                    <?php echo $this->__('Search for new products to subscribe to'); ?>
                    </label>
                    <input type="text" name="rp_subscription_search" id="rp_subscription_search"
                           placeholder="<?php echo $this->__('Search for new products to subscribe to'); ?>" autocomplete="off" required/>
                    <span class="clerk"
                          data-template="@<?php echo $clerkTemplate; ?>"
                          data-bind-live-search="#rp_subscription_search"
                          data-live-search-categories="false"></span>
                </div>
            </div>
            <div class="columns large-6 medium-6 small-12 rp-add-subscriptions__select">
                <label for="rp_subscriptions_select">
                    <?php echo $this->__('Add product to which subscription?'); ?>
                </label>
                <select name="rp_subscriptions_select_subscription" id="rp_subscriptions_select_subscription">
                    <?php foreach ($subscriptions as $subscription): ?>
                        <option value="<?php echo $subscription->getId() ?>"><?php echo $subscription->getId() . ' - ' . $subscription->getProductSubscriptions()[0]->getPeriod()->getTitle() ?></option>
                    <?php endforeach; ?>
                </select>
                <button type="submit" class="small" onclick="validateQuery()">
                    <?php echo $this->__('Add product to subscription'); ?>
                </button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" defer>
    function rpConfirmQty(form) {
        var oldQty = document.querySelector('#rp_productSubscriptionQty').value;

        if (oldQty == 0) {
            document.querySelector('#rp_productSubscriptionQty').value = <?php echo $productSubscription->getQty() ?: ''; ?>;
            alert('You cannot change quanity to 0. Please try again');
            return;
        }

        if (confirm('Do you really want to change your subscription quantity?')) {
            var qty = document.querySelector('#rp_productSubscriptionQty').value;
            form.submit();
            return true;
        }

        document.querySelector('#rp_productSubscriptionQty').value = <?php echo $productSubscription->getQty(); ?>;
        return false;
    }

    function setValueForClerkSearch(query) {
        if (!query) {
            return;
        }

        var input = document.querySelector('#rp_subscription_search');

        input.value = query;

        if (input.value === query) {
            hideTag('.clerk-live-search-container');
        }

        if (Cookies.get('rp_add_productSubscriptionId')) {
            Cookies.remove('rp_add_productSubscriptionId');
        }
    }

    function hideTag(htmlSelector) {
        var tag = document.querySelector(htmlSelector);
        tag.style.display = 'none';
    }

    function setProductSubscriptionIdInCookie(event, subscriptionId, query) {
        event.preventDefault();

        if (!query) {
            return;
        }

        setValueForClerkSearch(query);

        Cookies.set('rp_add_productSubscriptionId', subscriptionId);
    }
</script>
