.overlay_pmatch-popup {
    background-color: #000000;
    z-index: 100 !important;
    opacity: 0.6;
    filter: Alpha(Opacity=60);
}
.pmatch-popup_close {
    float: right;
    width: 17px;
    height: 17px;
    background: url("../images/close_label.gif") no-repeat;
    border: none;
    cursor: pointer;
}

.pmatch-form .fieldset, .pmatch-form fieldset.group-select {
    margin: 0;
}

.pmatch-form fieldset.group-select {
    width: 600px;
    padding: 22px 0 12px 10px;
}

.pmatch-form .buttons-set, .pmatch-form .button-set {
    margin: 0;
}

.pmatch-form .button-set {
    width: 610px;
}

.pmatch-form .input-box {
    text-align: left;
}

.pmatch-popup_title {
    display: none;
}

.pmatch-form-before {
    margin: 0 0 9px;
}

.pmatch-textarea {
    width: 100%;
}

#pmatch-overlay {
    background-color: #000000;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.3;
    filter: Alpha(Opacity=30);
    z-index: 100;
}

#pmatch-popup {
    background-color: white;
    width: 450px;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 16777272322;
    padding: 0;
    max-height: 100%;
    overflow: auto;
    height: 100%;
}

.pmatch-form {
        margin: 0 auto;

    max-width: 80%;
    margin-bottom: 40px;
}
.pmatch-form .back-link {display:none;}
.pmatch-form .button, .pmatch-form .required {
    text-align: center;
}
.pmatch-form .input-text {width:100%;max-width:100%;}
#pmatch-popup label {
    text-align: left;
}

/* Price Match Requests */
[id^=details-button-] > button {
    min-width: 65px;
}
.aw-pm-details-visible {
    border-bottom: none !important;
    background-color: #eeeeee;
}
.aw-pm-details {
    background-color: #eeeeee;
}
.aw-pm-details p {
    margin: 0;
}

.pmatch-request-index .data-table {
    border-color: #D9D9D9;
    border-style: solid;
    border-width: 1px;
}

.pmatch-required {
}
.pmatch-submit {
    clear: right;
}
.pmatch-cancel {
}
