<?php $order = $this->getOrder(); ?>
<script src="https://checkout.reepay.com/checkout.js"></script>
<script type="text/javascript">
    <?php if ($this->renderModalCheckout()): ?>
    var rp = new Reepay.ModalCheckout(<?php echo json_encode($this->getChargeSessionId()) ?>);

    rp.addEventHandler(Reepay.Event.Accept, function () {
        window.location.replace(<?php echo json_encode($this->getAcceptUrl($order->getIncrementId())) ?>);
    });

    rp.addEventHandler(Reepay.Event.Error, function () {
        window.location.replace(<?php echo json_encode($this->getCheckoutCartPage()) ?>);
    });

    rp.addEventHandler(Reepay.Event.Cancel, function () {
        window.location.replace(<?php echo json_encode($this->getCheckoutCartPage()) ?>);
        //window.location.replace(<?php //echo json_encode($this->getCancelUrl($order->getIncrementId())) ?>//);
    });
    <?php elseif (!$this->renderModalCheckout()): ?>
        var rp = new Reepay.WindowCheckout(<?php echo json_encode($this->getChargeSessionId()) ?>);
    <?php endif; ?>
</script>

