<?php
/**
  * Copyright (c) 2011-2019 SAS WEB COOKING - Vincent René Lucien Enjalbert. All rights reserved.
 * See http://www.web-cooking.net/licences/magento/LICENSE-EN.txt for license details.
 */
?>
<div class="content-header">
    <table cellspacing="0">
        <tbody>
            <tr>
                <td style="width:50%;"><h3 class="icon-head head-gua-dashboard"><?php echo $this->__('Google Analytics Dashboard')?></h3></td>
                <td class="form-buttons"></td>
            </tr>
        </tbody>
    </table>
</div>

<?php if(!Mage::getStoreConfig('googleuniversalanalytics/api/access_code')): ?>
<button onclick="setLocation('<?php echo $this->getUrl('adminhtml/system_config/edit', array('section'=>'googleuniversalanalytics')) ?>#googleuniversalanalytics_dashboard-head')"><?php echo $this->__('Authenticate'); ?></button>
<?php else: ?>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <?php echo $this->getChildHtml() ?>
    <br/><br/><small><em><strong>Web Cooking's note :</strong> This page is under construction. If you have any suggestion, feel free to tell us at chef [at] web-cooking [dot] net</em></small>
<?php endif; ?>