<?php if ($this->_section == 'awall'): ?>
<div id="awall_extensions_table">
    <table class="form-list">
        <tbody>
            <?php foreach ($this->getExtensions() as $extension): ?>
        <tr>
            <td><img src="<?php echo $this->getIcon($extension)->getSource()?>"
                     alt="<?php echo $this->getIcon($extension)->getTitle()?>"
                     title="<?php echo $this->getIcon($extension)->getTitle();?>"
                />
            </td>
            <td>
                <a
                    href="
                        <?php if (null !== $extension->getFeedInfo()->getUrl()): ?>
                            <?php echo $extension->getFeedInfo()->getUrl();?>
                        <?php else: ?>
                            <?php echo 'javascript:void(0);';?>
                        <?php endif;?>
                    "
                    <?php if (null !== $extension->getFeedInfo()->getUrl()): ?>
                        onclick="this.target = '_blank'"
                    <?php endif;?>
                >
                    <?php echo $extension->getName();?>
                </a>
            </td>
            <td><?php echo $extension->getVersion()?></td>
            <td>
                <a href="
                    <?php if (null !== $extension->getFeedInfo()->getDocumentationUrl()): ?>
                        <?php echo $extension->getFeedInfo()->getDocumentationUrl(); ?>
                    <?php else: ?>
                        <?php echo 'http://confluence.aheadworks.com/display/EUDOC/';?>
                    <?php endif;?>
                " onclick="this.target = '_blank'">
                    <img src="<?php echo $this->getSkinUrl('aw_all/images/readme.png')?>"
                         title="<?php echo $this->__('Readme');?>"/>
                </a>
            </td>
        </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>
<?php endif; ?>
<script type="text/javascript">
    _section = '<?php echo $this->_section?>';
</script>