.amgdpr-actions {
    margin-top: 10px;
}

.amgdpr-cookie {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1000;
    display: none;
}

button.button.amgdpr-button:active, button.button.amgdpr-button:hover, {background:#2bb6c6;}