<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Gdpr
 */
?>
<?php
/**@var $this Amasty_Gdpr_Block_Policy*/
?>

<div class="amgdpr-policy" id="amgdpr-policy">
    <div class="gdpr-content">
        <?php $modelContent = Mage::getModel('amgdpr/privacyPolicy')->getCurrentPolicy();

        echo $modelContent->getContent(); ?>
    </div>
</div>
