<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Gdpr
 */
?>
<?php
/** @var $this Amasty_Gdpr_Block_Settings */

$settings = $this->getPrivacySettings();
?>

<?php echo $this->getMessagesBlock()->toHtml() ?>

<?php foreach ($settings as $i => $setting): ?>
    <form class="settings-form" method="post" action="<?= $setting['action']?>" id="settings-form-<?= $i ?>">
        <div class="title"><?= $this->escapeHtml($setting['title']) ?></div>
        <p class="gdpr-content">
            <?= $setting['content'] ?>
        </p>
        <?php if ($setting['hasCheckbox']): ?>
            <label class="accept">
                <input type="checkbox" class="required-entry" name="confirmation-<?= $i ?>">
                <?= $this->escapeHtml($setting['checkboxText']) ?>
            </label>
        <?php endif; ?>
            <div class="field password current required " <?php if ($setting['hidePassword']): ?> hidden <?php endif; ?>>
                    <label for="current_password" class="required"><em>*</em><?php echo $this->__('Current Password'); ?></label>
                    <div class="input-box">
                        <input type="text" class="input-text no-display" name="dummy" >
                        <input type="password" title="Current Password" class="input-text required-entry" name="current_password">
                    </div>
            </div>
        <button type="submit" class="button submit">
            <?= $this->escapeHtml($setting['submitText']) ?>
        </button>
    </form>
    <script>
        new VarienForm('settings-form-<?= $i ?>');
    </script>
<?php endforeach; ?>
