<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<?php
    $helper = Mage::helper('amfaq/data');
    $product = Mage::registry('current_product');
    $productId = $product ? $product->getId() : false;
    $customer = Mage::getSingleton('customer/session')->getCustomer();

    $email = $name = "";

    if ($customer->getId()) {
        $email = $customer->getEmail();
        $name = $customer->getFirstname();
    }

    $captcha = $this->getLayout()
        ->createBlock('captcha/captcha_zend')
        ->setTemplate('amasty/amfaq/captcha.phtml')
        ->setFormId('amfaq_ask_form')
        ->setImgWidth(230)
        ->setImgHeight(50);
?>
<div id="amfaqConfirmOverlay" style="display:none;">
    <div id="amfaqHideDiv"></div>
    <div id="amfaqConfirmBox" style="top: 30%; left: 50%;">
        <h2><?php echo $this->__('Ask a Question'); ?></h2>
        <div id="amfaqMessageBox">
            <div id="amfaq-count">
                <form action="<?php echo $helper->getAskActionUrl(); ?>" id="amfaq-ask-form" method="post">
                    <input type="hidden" name="product_ids[]" value="<?php echo $productId; ?>" />
                    <input type="hidden" name="current_url" value="<?php echo Mage::helper('core/url')->getCurrentUrl(); ?>" />
                    <ul class="form-list" id="amfaq-fields">
                        <?php if (Mage::getStoreConfig('amfaq/gdpr/enabled')): ?>
                            <script type="text/javascript">
                                //<![CDATA[
                                if(!window.toogleVisibilityOnObjects) {
                                    var toogleVisibilityOnObjects = function(source, objects) {
                                        if($(source) && $(source).checked) {
                                            objects.each(function(item){
                                                $(item).show();
                                                $$('#' + item + ' .input-text').each(function(item) {
                                                    item.removeClassName('validation-passed');
                                                });
                                            });
                                        } else {
                                            objects.each(function(item){
                                                if ($(item)) {
                                                    $(item).hide();
                                                    $$('#' + item + ' .input-text').each(function(sitem) {
                                                        sitem.addClassName('validation-passed');
                                                    });
                                                    $$('#' + item + ' .giftmessage-area').each(function(sitem) {
                                                        sitem.value = '';
                                                    });
                                                    $$('#' + item + ' .checkbox').each(function(sitem) {
                                                        sitem.checked = false;
                                                    });
                                                    $$('#' + item + ' .select').each(function(sitem) {
                                                        sitem.value = '';
                                                    });
                                                    $$('#' + item + ' .price-box').each(function(sitem) {
                                                        sitem.addClassName('no-display');
                                                    });
                                                }
                                            });
                                        }
                                    }
                                }
                                //]]>
                            </script>
                            <li class="control field-row">
                                <div class="input-box">
                                    <input type="checkbox" name="amfaq-gdpr" title="<?php echo $this->__('GDPR'); ?>" value="1" id="amfaq-gdpr" class="checkbox" onclick="toogleVisibilityOnObjects(this, ['allow-amfaq-gdpr-container']);">
                                </div>
                                <label for="amfaq-gdpr"><?php echo $this->__(Mage::getStoreConfig('amfaq/gdpr/text')); ?></label><br><br>
                            </li>
                        <?php endif; ?>
                        <li class="fields" id="allow-amfaq-gdpr-container">
                            <div class="field">
                                <label for="amfaq-name" class="required"><?php echo $this->__('Name'); ?></label>
                                <div class="input-box">
                                    <input name="name" id="amfaq-name" title="<?php echo $this->__('Name'); ?>" value="<?php echo $name; ?>" class="input-text required-entry" type="text" maxlength="128">
                                </div>
                            </div>
                            <div class="field">
                                <label for="amfaq-email" class="required"><?php echo $this->__('Email'); ?></label>
                                <div class="input-box">
                                    <input name="email" id="amfaq-email" title="<?php echo $this->__('Email'); ?>" value="<?php echo $email; ?>" class="input-text required-entry validate-email" type="text" maxlength="128">
                                </div>
                            </div>
                        </li>
                        <li class="field-row">
                            <label for="amfaq-question" class="required"><?php echo $this->__('Question'); ?><em>*</em></label>
                            <div class="input-box">
                                <textarea name="title" id="amfaq-question" title="<?php echo $this->__('Question'); ?>" class="textarea required-entry"></textarea>
                            </div>
                        </li>
                        <?php echo $captcha->toHtml(); ?>
                    </ul>
                    <div id="amfaqConfirmButtons">
                        <button type="submit" class="button blue send"><?php echo $this->__('Send'); ?></button>
                        <button class="button gray cancel"><?php echo $this->__('Cancel'); ?> <div class="secs"></div></button>
                        <button class="button gray continue" style="display:none"><?php echo $this->__('Continue'); ?> <div class="secs"></div></button>
                    </div>
                </form>
                <script type="text/javascript">
                    //<![CDATA[
                    var askForm = new VarienForm('amfaq-ask-form', true);
                    <?php if (Mage::getStoreConfig('amfaq/gdpr/enabled')): ?>
                        toogleVisibilityOnObjects('amfaq-gdpr', ['allow-amfaq-gdpr-container']);
                    <?php endif; ?>
                    //]]>
                </script>
                <div class="message" style="display:none;"><?php echo $this->__('Message successfully sent'); ?></div>
            </div>
        </div>
    </div>
</div>
