<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<?php
    $questions = $this->getQuestions();
    $tags = $this->getAllTags($questions['question_ids']);
    $_processor = Mage::helper('cms')->getBlockTemplateProcessor();
    $helper =  Mage::helper('amfaq');
    $style = Mage::getStoreConfig('amfaq/faq_page/show_answers');
?>
<div class="std amfaq-page">
    <?php if ($this->getHeader()): ?>
        <div class="page-title" id="amfaq-top">
            <h1><?php echo $this->getHeader(); ?></h1>
        </div>
    <?php endif; ?>

    <?php echo $this->getChildHtml('cms_block'); ?>

    <?php if (sizeof($tags) > 0): ?>
        <h4><?php echo $this->__('Search by tag')?></h4>
        <div class="amfaq-divider-bottom">
            <div class="amfaq-tags main-tags">
                <?php
                    $tagsHtml = array();
                    foreach ($tags as $i => $tag) {
                        $tagsHtml []= "<a href='{$tag->getUrl()}'>{$tag->getTitle()}</a>";
                    }
                    echo implode(', ', $tagsHtml);
                ?>
            </div>
        </div>
    <?php endif; ?>

    <?php if ($this->getChild('search_form')): ?>
        <?php echo $this->getChildHtml('search_form'); ?>
        <p class="amfaq-info"><?php echo $this->__('or search frequently asked questions:'); ?></p>
    <?php endif; ?>

    <div id="amfaq-top">
        <?php if ($questions['total'] > 0): ?>
            <?php if ($style == 'collapsed'): /* collapsed style */?>
                <div class="columns">
                    <?php foreach ($questions['columns'] as $column): ?>
                        <div class="row">
                            <?php if ($column) foreach ($column as $topic): ?>
                                <div class="amfaq-questions-group amfaq-divider-bottom col-12 col-sm-6">
                                    <?php if (isset($topic['title'])): ?>
                                        <h2><a href="<?php echo $topic['object']->getUrl()?>"><?php echo $topic['title']; ?></a></h2>
                                        <?php $tags = $topic['object']->getTags(); ?>
                                        <?php if (sizeof($tags) > 0): ?>
                                            <div class="amfaq-tags">
                                                <?php
                                                    $tagsHtml = array();
                                                    foreach ($tags as $i => $tag) {
                                                        $tagsHtml []= "<a href='{$tag->getUrl()}'>{$tag->getTitle()}</a>";
                                                    }
                                                    echo implode(', ', $tagsHtml);
                                                ?>
                                            </div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                    <div class="amfaq-questions amcollapse">
                                        <?php foreach ($topic['questions'] as $question): ?>
                                            <div class="question">
                                                <a href="#" class="title"><?php echo $question->title; ?></a>
                                                <div class="question-content" style="display:none;">
                                                    <div class="fold-out-answer">
                                                        <div class="author"><?php echo $question->getName(); ?></div>
                                                        <div class="short-answer">
                                                            <?php
                                                                $answer = $question->getShortAnswer();
                                                                echo $answer['answer'];
                                                            ?>
                                                        </div>
                                                        <?php if (!$answer['is_full_answer']): ?>
                                                            <a href="<?php echo $question->getUrl(); ?>" class="read-full"><?php echo $this->__('Read the FULL answer'); ?></a>
                                                        <?php endif; ?>
                                                    </div>
                                                </div>
                                            </div>
                                        <?php endforeach; ?>
                                    </div>
                                    <?php if ($topic['more'] > 0): ?>
                                        <a class="show-more" href="<?php echo $topic['object']->getUrl(); ?>"><?php echo $this->__('More') . ' ' . $topic['more']; ?>...</a>
                                    <?php endif; ?>
                                </div>
                            <?php endforeach; ?>
                        </div>
                    <?php endforeach; ?>
                </div>

            <?php elseif($style == 'scroll'): /* separate list style */?>
                <div class="columns">
                    <?php foreach ($questions['columns'] as $column): ?>
                        <div class="column" style="width: <?php echo floor(100/sizeof($questions['columns'])); ?>%">
                            <?php if ($column) foreach ($column as $topic): ?>
                                <?php if (isset($topic['title'])): ?>
                                    <h2><a href="<?php echo $topic['object']->getUrl(); ?>"><?php echo $topic['title']; ?></a></h2>
                                <?php endif; ?>
                                <div class="amfaq-questions scroll">
                                    <?php foreach ($topic['questions'] as $question): ?>
                                        <a href="#question<?php echo $question->getId(); ?>" class="title"><span><?php echo $question->title; ?></span></a>
                                    <?php endforeach; ?>
                                </div>
                                <?php if ($topic['more'] > 0): ?>
                                    <a class="amfaq-more-link" href="<?php echo $topic['object']->getUrl(); ?>">more <?php echo $topic['more']; ?>...</a>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        </div>
                    <?php endforeach; ?>
                </div>
                <div class="full">
                    <?php $displayed = array(); ?>
                    <?php foreach ($questions['columns'] as $column): ?>
                        <?php if ($column) foreach ($column as $topic): ?>
                            <!--                        <?php /*if (isset($topic['title'])):*/?>
                            <h2><?php /*echo $topic['title']*/?></h2>
                        --><?php /*endif */?>
                            <?php foreach ($topic['questions'] as $question): ?>
                                <?php if (!isset($displayed[$question->getId()])):
                                    $displayed[$question->getId()] = true; ?>
                                    <div class="question" id="question<?php echo $question->getId()?>">
                                        <h4 class="title"><?php echo $question->title?></h4>
                                        <?php echo $_processor->filter($question->answer)?>
                                        <a class="top-link" href="#amfaq-top"><?php echo $helper->__('Back to Top')?></a>
                                    </div>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        <?php endforeach; ?>
                    <?php endforeach; ?>
                </div>

            <?php else:  /* separate page style */?>
                <div class="columns">
                    <?php foreach ($questions['columns'] as $column): ?>
                        <div class="column" style="width: <?php echo floor(100/sizeof($questions['columns'])); ?>%">
                            <?php if ($column) foreach ($column as $topic): ?>
                                <?php if (isset($topic['title'])): ?>
                                    <h2><a href="<?php echo $topic['object']->getUrl(); ?>"><?php echo $topic['title']; ?></a></h2>
                                <?php endif; ?>
                                <div class="amfaq-questions">
                                    <?php foreach ($topic['questions'] as $question): ?>
                                        <a href="<?php echo $question->getUrl(); ?>" class="title"><?php echo $question->title; ?></a>
                                    <?php endforeach; ?>
                                </div>
                                <?php if ($topic['more'] > 0): ?>
                                    <a class="amfaq-more-link" href="<?php echo $topic['object']->getUrl(); ?>">more <?php echo $topic['more']; ?>...</a>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        </div>
                    <?php endforeach; ?>
                </div>
            <?php endif; ?>
        <?php endif; ?>
    </div>
    <div class="clearer"></div>

    <?php echo $this->getChildHtml('buttons') ?>
</div>
