<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<?php
    $question = $this->getQuestion();
    $tags = $question->getTagsCollection();
    $topics = $question->getTopics();
    $related = $question->getRelatedQuestions();
    $helper =  Mage::helper('amfaq');
?>

<div class="std amfaq-page amfaq-question-page">
    <div class="amfaq-question-block">
        <h1><?php echo $question->getTitle(); ?></h1>
        <div class="author"><?php echo $question->getName(); ?></div>
    </div>

    <div class="amfaq-answer">
        <?php echo Mage::helper('cms')->getBlockTemplateProcessor()->filter($question->getAnswer()); ?>
    </div>

    <?php if (0 < sizeof($files = $question->getFiles())): ?>
        <div class="attachments">
            <?php echo $this->__('Attachments:') ?>
            <?php foreach ($files as $file): ?>
                <a href="<?php echo $helper->getDownloadUrl($file->getID())?>"><?php echo $file->getName() ?></a>
            <?php endforeach ?>
        </div>
    <?php endif?>

    <?php if (Mage::getStoreConfig('amfaq/answer_page/enabled_tags') && sizeof($tags) > 0): ?>
        <div class="amfaq-tags">
            <?php
                $tagsHtml = array();
                foreach ($tags as $i => $tag) {
                    $tagsHtml []= "<a href='{$tag->getUrl()}'>{$tag->getTitle()}</a>";
                }
                echo implode(', ', $tagsHtml);
            ?>
        </div>
    <?php endif ?>

    <?php if (0 < sizeof($topics)): ?>
        <div class="topics">
            <?php
                $topicsHtml = array();
                foreach ($topics as $topic)
                    $topicsHtml []= "<a href=\"{$topic->getUrl()}\"><span>{$topic->getTitle()}</span></a>";
                echo implode(' / ', $topicsHtml);
            ?>
        </div>
    <?php endif ?>

    <?php
        if (Mage::getStoreConfig('amfaq/rating/enabled')) {
            echo Mage::getBlockSingleton('amfaq/rating')->setQuestion($question)->toHtml();
        }
    ?>

    <?php if (Mage::getStoreConfig('amfaq/answer_page/enabled_social')): ?>
        <?php $pageLink = strtok(Mage::helper('core/url')->getCurrentUrl(), '?') ?>
        <div class="amfaq-social">
            <a class="fb" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=<?php echo $pageLink ?>"></a>
            <a class="tw" target="_blank" href="http://twitter.com/home?status=<?php echo $pageLink ?>"></a>
            <a class="gp" target="_blank" href="https://plus.google.com/share?url=<?php echo $pageLink ?>"></a>
            <a class="in" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url=<?php echo $pageLink ?>&title=<?php echo $question->getTitle() ?>&summary=&source="></a>
        </div>
    <?php endif; ?>

    <?php if (0 < sizeof($related)): ?>
    <div class="amfaq-divider-bottom amfaq-divider-top"></div>
    <h2><?php echo $this->__('Related Questions')?></h2>
    <div class="amfaq-questions amcollapse">
        <?php foreach ($related as $r): ?>
        <div class="question">
            <a class="title" href="#"><?php echo $r->getTitle()?></a>
            <div class="question-content" style="display:none;">
                <div>
                    <div class="author"><?php echo $r->getName()?></div>
                    <div class="short-answer">
                        <?php
                            $answer = $r->getShortAnswer();
                            echo $answer['answer'];
                        ?>
                    </div>
                    <?php if (!$answer['is_full_answer']): ?>
                        <a href="<?php echo $r->getUrl()?>" class="read-full"><?php echo $this->__('Read the FULL answer')?></a>
                    <?php endif; ?>
                </div>
            </div>
        </div>
        <?php endforeach; ?>
    </div>
    <?php endif ?>

    <?php echo $this->getChildHtml('buttons') ?>
</div>
