<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<?php
$question = $this->getQuestion();
$ratingType = Mage::getStoreConfig('amfaq/rating/type');
?>

<div class="amfaq-ratings"
    data-id="<?php echo $question->getId(); ?>"
    <?php if (Amasty_Faq_Model_Question_Rating::TYPE_STARS == $ratingType): ?>
        data-rate="<?php echo $question->getCalculatedRating(); ?>"
    <?php elseif (Amasty_Faq_Model_Question_Rating::TYPE_YESNO == $ratingType): ?>
        data-rate="<?php echo $question->getYesnoRating(); ?>"
    <?php endif; ?>
    data-type="<?php echo Mage::getStoreConfig('amfaq/rating/type'); ?>"
    data-myrate="<?php echo $question->getVote()->getRate(); ?>"
    data-canvote="<?php echo Mage::helper('amfaq')->canVote(); ?>"
    data-url="<?php echo Mage::helper('amfaq')->getRateUrl(); ?>"
    >
    <div class="ratings">
        <?php if (Amasty_Faq_Model_Question_Rating::TYPE_STARS == $ratingType): ?>
            <div class="rate-this" <?php if ($question->getVote()->getId()): ?>style="display:none;"<?php endif; ?>><?php echo $this->__('Rate the answer?') ?></div>
            <div class="rating-box">
                <div style="width:0%" class="rating"></div>
            </div>
            <p class="rating-links info" <?php if (!$question->getCalculatedRating()): ?>style="display:none;"<?php endif; ?>>
                <span class="my" <?php if (!$question->getVote()->getRate()): ?>style="display:none;"<?php endif; ?>>
                    <?php echo $this->__('You rated this %1$s of 5', '<span class="rate">'.$question->getVote()->getRate().'</span> ') ?>
                    <span class="separator">|</span>
                </span>
                <?php echo $this->__('Total rating:') ?> <span class="total"><?php printf("%.1f", $question->getCalculatedRating()) ?></span>
            </p>
        <?php endif; ?>
        <?php if (Amasty_Faq_Model_Question_Rating::TYPE_YESNO == $ratingType): ?>
            <div class="rate-this"><?php echo $this->__('Was this answer helpful?') ?></div>
            <div class="rating-yesno">
                <a class="useful-yes" href="#" data-value="2" onclick="return false;"><?php echo $this->__('Yes');?></a> | <a class="useful-no" href="#" data-value="1" onclick="return false;"><?php echo $this->__('No');?></a>
            </div>
            <div class="rating-box" style="display: none;">
                <div style="width:0%" class="rating"></div>
            </div>
            <p class="rating-links info" <?php if (!$question->getAllVoted()): ?>style="display:none;"<?php endif; ?>>
                <span class="total"><?php printf("%.0f", $question->getYesnoRating()); ?></span> <?php echo $this->__('people out of'); ?> <span class="all"><?php echo $question->getAllVoted(); ?></span> <?php echo $this->__('found this answer helpful'); ?>
            </p>
        <?php endif; ?>
    </div>
</div>