<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<div class="std amfaq-page">

    <?php echo $this->getChildHtml('search_form') ?>

    <?php if ($this->getTag()): ?>
    <p class="amfaq-info"><?php echo $this->__('You searched by tag') ?></p>
    <div class="amfaq-divider-bottom">
        <div class="amfaq-tags main-tags">
            <a href=""><?php echo $this->getTag() ?></a>
        </div>
    </div>
    <?php endif ?>

    <div class="amfaq-search-results">
        <div class="amfaq-questions amcollapse">
            <?php echo $this->getChildHtml('items') ?>
        </div>
        <?php if (Mage::helper('amfaq')->getSearchResultsPerPage() < $this->getQuestions()->getSize()): ?>
        <a href="#" class="show-more"><?php echo $this->__('More questions')?></a>
        <?php endif ?>
    </div>


    <?php echo $this->getChildHtml('buttons') ?>
</div>
