<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<?php
$topic = $this->getTopic();
$tags = $topic->getTags();
$questions = $this->getQuestions();
$_processor = Mage::helper('cms')->getBlockTemplateProcessor();
$style = Mage::getStoreConfig('amfaq/faq_page/show_answers');
?>

<div class="std amfaq-page amfaq-topic-page">
    <div id="amfaq-top">
        <h1><?php echo $topic->getTitle()?></h1>
        <?php if (sizeof($tags) > 0): ?>
            <div class="amfaq-tags right">
                <?php
                $tagsHtml = array();
                foreach ($tags as $i => $tag)
                    $tagsHtml []= "<a href='{$tag->getUrl()}'>{$tag->getTitle()}</a>";
                echo implode(', ', $tagsHtml);
                ?>
            </div>
        <?php endif ?>
    </div>

    <div class="amfaq-divider-bottom amfaq-divider-top"></div>

    <?php if ($this->getChild('search_form')):?>
        <?php echo $this->getChildHtml('search_form') ?>
        <p class="amfaq-info"><?php echo $this->__('or search frequently asked questions:') ?></p>
    <?php endif ?>

    <?php if (sizeof($questions) > 0): ?>

    <div class="amfaq-questions-group">

        <?php if ($style == 'collapsed'): /* collapsed style */?>

        <div class="amfaq-questions amcollapse">
            <?php foreach ($questions as $question): ?>
                <div class="question">
                    <a class="title" href="#"><?php echo $question->getTitle()?></a>
                    <div class="question-content" style="display:none;">
                        <div>
                            <div class="author"><?php echo $question->getName()?></div>
                            <div class="short-answer">
                                <?php
                                    $answer = $question->getShortAnswer();
                                    echo $answer['answer'];
                                ?>
                            </div>
                            <?php if (!$answer['is_full_answer']): ?>
                                <a href="<?php echo $question->getUrl()?>" class="read-full"><?php echo $this->__('Read the FULL answer')?></a>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>

        <?php elseif($style == 'scroll'): /* separate list style */?>

            <div class="amfaq-questions scroll">
                <?php foreach ($questions as $question): ?>
                    <a href="#question<?php echo $question->getId()?>" class="title"><span><?php echo $question->getTitle()?></span></a>
                <?php endforeach; ?>
            </div>

            <div class="full">
                <?php foreach ($questions as $question): ?>
                    <div class="question" id="question<?php echo $question->getId()?>">
                        <h4 class="title"><?php echo $question->getTitle()?></h4>
                        <?php echo $_processor->filter($question->getAnswer())?>
                        <a class="top-link" href="#amfaq-top"><?php echo $helper->__('Back to Top')?></a>
                    </div>
                <?php endforeach; ?>
            </div>

        <?php else:  /* separate page style */?>

            <div class="amfaq-questions">
                <?php foreach ($questions as $question): ?>
                    <a href="<?php echo $question->getUrl() ?>" class="title"><?php echo $question->getTitle()?></a>
                <?php endforeach; ?>
            </div>

        <?php endif?>
    </div>

    <?php endif ?>

    <?php echo $this->getChildHtml('buttons') ?>
</div>
