<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_InvisibleCaptcha
 */
?>
<?php
/** @var Amasty_InvisibleCaptcha_Block_Adminhtml_Captcha $this */
?>
<?php if ($this->isEnabled()): ?>
    <?php $language = Mage::getStoreConfig('aminvisiblecaptcha/backend/language'); ?>
    <?php $captchaType = Mage::getStoreConfig('aminvisiblecaptcha/backend/type'); ?>
    <?php if (Amasty_InvisibleCaptcha_Model_System_Config_Source_Captcha_Type::INVISIBLE == $captchaType): ?>
        <div class="amasty_recaptcha"></div>
        <script type="text/javascript">
            var loginForm = $('loginForm');

            var onSubmit = function (token) {
                loginForm.submit();
            };

            loginForm.onsubmit = function submitProtectedForm(event) {
                loginForm = event.target;
                currentValidationForm = new varienForm(loginForm.id, false);
                recaptchaBlock = loginForm.querySelector(".amasty_recaptcha");

                if (recaptchaBlock.innerHTML == '') {
                    if (currentValidationForm && currentValidationForm.validator
                        && currentValidationForm.validator.validate()
                    ) {
                        recaptcha = grecaptcha.render(recaptchaBlock, {
                            'sitekey': '<?php echo Mage::getStoreConfig('aminvisiblecaptcha/general/invisible_key'); ?>',
                            'callback': onSubmit,
                            'size': 'invisible',
                            'theme': '<?php echo Mage::getStoreConfig('aminvisiblecaptcha/backend/badge_theme'); ?>',
                            'badge': '<?php echo Mage::getStoreConfig('aminvisiblecaptcha/backend/badge_position'); ?>'
                        });
                    }
                }

                if (!recaptcha) {
                    grecaptcha.reset(recaptcha);
                    grecaptcha.execute(recaptcha);
                }

                return false;
            }
        </script>
        <?php $badgePosition = Mage::getStoreConfig('aminvisiblecaptcha/backend/badge_position'); ?>
        <?php
        if (Amasty_InvisibleCaptcha_Model_System_Config_Source_Badge_Position::INLINE == $badgePosition
            && Mage::getStoreConfig('aminvisiblecaptcha/backend/badge_styles')
        ):
            ?>
            <style>
                .grecaptcha-badge {
                <?php echo Mage::getStoreConfig('aminvisiblecaptcha/backend/badge_styles') ?>
                }
            </style>
        <?php endif; ?>
        <script src="https://www.google.com/recaptcha/api.js<?php if ($language) echo '?hl=' . $language; ?>" async defer></script>
    <?php else: ?>
        <script type="text/javascript">
            var aminvisiblecaptchaOnloadCallback = function() {
                recaptcha = grecaptcha.render('amasty_recaptcha', {
                    'sitekey': '<?php echo Mage::getStoreConfig('aminvisiblecaptcha/general/checkbox_key'); ?>',
                    'theme': '<?php echo Mage::getStoreConfig('aminvisiblecaptcha/backend/badge_theme'); ?>',
                    'size': '<?php echo Mage::getStoreConfig('aminvisiblecaptcha/backend/size'); ?>'
                });
            };
        </script>
        <div id="amasty_recaptcha" style="margin-top: 5px; display: inline-block;"></div>
        <script src="https://www.google.com/recaptcha/api.js?onload=aminvisiblecaptchaOnloadCallback&render=explicit<?php if ($language) echo '&hl=' . $language; ?>" async defer></script>
    <?php endif; ?>
<?php endif; ?>
