<?php $list = $this->getList(); ?>

<div class='grid' id="submission-list-container">

    <?php if( $list['error']) { ?>
    <div class="alert <?php echo strpos( $list['message'], 'Error') === false ? 'alert-info' : 'alert-danger'; ?>"><?php echo $list['message']; ?></div>
	<?php } else { ?>
	
	Site: <b><?php echo $list['site']; ?></b>

    <button class="submission-list-button right"
        title="<?php echo $this->__('Refresh List'); ?>" onclick="refreshSubmissionList({});" type="button">
        <?php echo $this->__('Refresh List'); ?>
    </button>
    
    <button class="submission-list-button right back"
        title="<?php echo $this->__('See submitted products'); ?>" onclick="showTab('submission_tabs_items');" type="button">
        <?php echo $this->__('See submitted products'); ?>
    </button>
	
    <table class="data" cellspacing=0>
        <thead>
            <tr class="headings">
				<th><?php echo $this->__("Batch ID")?></th>
				<th style="width: 20%;"><?php echo $this->__("Submit Date"); ?></th>
				<th style="width: 11%;"><?php echo $this->__("Submitted"); ?></th>
				<th style="width: 11%;"><?php echo $this->__("Processed"); ?></th>
				<th style="width: 8%;"><?php echo $this->__("Errors"); ?></th>
				<th style="width: 11%;"><?php echo $this->__("Status"); ?></th>
			</tr>
     	</thead>
        <tbody>
    	<?php foreach( $list['list'] as $index => $item) { ?>
            <tr class='beslist-item'>
                <td><?php echo $item['submission_id']; ?></td>
	            <td><?php echo $item['submit_date'];  ?></td>
	            <td><?php echo $item['count'];  ?></td>
	            <td><?php echo $item['processed'];  ?></td>
	            <td><?php echo $item['errors'];  ?></td>
	            <td><?php echo $item['status'];  ?></td>
            </tr>
    	<?php } ?>
    	</tbody>
	</table>
	<?php } ?>
</div>

<?php if( $this->getInit()) { ?>
<script type="text/javascript">

 if( !$jq('#upload_shop_id').val()) {
	 $jq('.step-2').attr( 'disabled', 'disabled').addClass( 'disabled');

	 $jq('#upload_test_connection').html( 'Next Step');
 }

function afterTestConnection( data, callback) {

	$jq( '#upload_test_mode').val( data.test_mode);
	
	var html = "";
	for( var id in data.sites) {
		var selected = (id == data.shop_id) ? ' selected="selected"' : '';
		html += '<option value="'+id+'" '+selected+'>'+id+ " ("+data.sites[id]+')</option>';
	}
	$jq( '#upload_shop_id').html( html);
	

	$jq('.step-2').removeAttr( 'disabled').removeClass( 'disabled');
	$jq('#upload_test_connection').html( 'Test Connection');

	if( typeof callback === 'function') {
		   callback();
	}
}

</script>

<?php } ?>
