<?php $list = $this->getList(); ?>
<?php $path = isset($list['path']) ? $list['path'] : null; ?>
<?php $filename = $this->getProfile()->getFilename(); ?>
<div class='grid' id="submission-list-container">
    
    <?php if( $list['error']) { ?>
    <div class="alert <?php echo strpos( $list['message'], 'Error') === false ? 'alert-info' : 'alert-danger'; ?>"><?php echo $list['message']; ?></div>
	<?php } else { ?>
	
	<div class="right">
	   Feed Filename: <b><?php echo $filename; ?></b>
	</div>
	
	<h4><?php echo $this->__('Path');?> - <span class="rootPath"><?php echo $path; ?></span></h4>
    <table class="data" cellspacing=0>
        <thead>
            <tr class="headings">
				<th><?php echo $this->__("Name")?></th>
				<th style="min-width: 18%;"><?php echo $this->__("Size"); ?></th>
				<th style="width: 30%;"><?php echo $this->__("Last Change"); ?></th>
				<th style="width: 15%;"><?php echo $this->__("Rights"); ?></th>
				<th style="width: 13%;"><?php echo $this->__("Owner / Group"); ?></th>
			</tr>
     	</thead>
        <tbody>
    	<?php foreach( $list['list'] as $index => $item) {
    	   $isDir = ( $item['type']==Nostress_Nscexport_Model_Io_ListableInterface::DIR);
    	   $active = ( $item['name'] == $filename) ? ' active ' : '';
    	   if( isset( $item['path']) && $item['path'] == "\\") {
    	       $item['path'] = '/';
    	   }
    	?>
            <tr class='ftp-item <?php echo $active;?>' onclick="javascript:loadPath( '<?php echo $item['type']?>', '<?php echo $item['name']?>'<?php echo isset( $item['path']) ? ",'{$item['path'] }'": ""; ?>);">
                <td class='ftp-name'>
		            <?php if( $isDir) { ?>
		                <a class='loadPath' href="javascript:void(0);"><b><?php echo $item['name']; ?></b></a>
    	            <?php } else { ?>
    	                <a class='loadPath file' href="javascript:void(0);');"><?php echo $item['name']; ?></a>
    	            <?php } ?>
	            </td>
	            <td>
	            <?php if( !$isDir) { echo $item['size']."&nbsp;b"; } ?>
	            </td>
	            <td><?php if( isset( $item['mtime'])) { echo $item['mtime']; } ?></td>
	            <td><?php if( isset( $item['permissions'])) { echo $item['permissions']; } ?></td>
	            <td><?php if( isset( $item['uid'])) { echo $item['uid']." / ".$item['gid']; } ?></td>
            </tr>
    	<?php } ?>
    	</tbody>
	</table>
	<?php } ?>
</div>

<?php if( $this->getInit()) { ?>
<script type="text/javascript">

function changeFtpProtocol( select) {
	if( select.value == '<?php echo Nostress_Nscexport_Model_Config_Source_Ftpprotocol::SFTP; ?>') {
		$('upload_port').value = 22;
	} else {
		$('upload_port').value = 21;
	}
}

var rootPath = '<?php echo $path; ?>';

function loadPath( type, name, path) {

	var postData = serializeObject($jq("#edit_form [name^='upload']"));
	
	if( postData['upload[hostname]'] == "" || postData['upload[username]'] == "" || postData['upload[password]'] == "") {
		return false;
	}

    if( type == 'file') {
        downloadFile( name);
        return true;
    } else {
    
        if( path != undefined) {
        	postData.path = path;
        } else {
        	postData.path = rootPath + '/' + name;
        }
            
        refreshSubmissionList( postData);
    }
}

</script>

<?php } ?>