ul.tabs li.tricsolutions-section dt {
    background: url("../images/tricsolutions.gif") no-repeat scroll left center #D1DEDF;    
    height: 25px;
    overflow: hidden;
    width: 200px;
    text-indent: -9999px;
}

#tric_info_extensions .form-list td.label label { width: 300px; }
#tric_info_extensions .form-list td.value { width: 50px; }