<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Xnotif
 */
?>
<?php
if ($this->getType() == 'amxnotif/category_subscribe') {
    $productId = $this->getData('product')->getId();
    $category = true;
} else {
    $productId = Mage::registry('current_product')->getId();
    $category = false;
}
$withPopup = $this->getData('popup');
$subscribeUrl = $this->escapeHtml(Mage::helper('amxnotif')->getEmailUrl('stock'));
?>

<div class="amxnotif-block row <?php if ($category) echo 'category'?>">
    <h4 <?php if ($withPopup) echo 'class="amxnotif-block-label" onclick="showSubscribePopup(' . $productId . ')"' ?> >
        <?php echo $this->__('Få en mail når varen kommer på lager igen'); ?>
    </h4>

        <?php if ($withPopup) : ?>
            </div>
            <div id="subcribe-<?php echo $productId ?>" class="subcribe-popup amxnotif-block" style="display: none">
                <div class="subcribe-popup-content">
                    <span class="close-subcribe-popup" onclick="closeSubscribePopup()">&times;</span>
                    <div>
                        <label>
                            <?php echo $this->__('Få en mail når varen kommer på lager igen'); ?>
                        </label>
                    </div>
        <?php endif; ?>

        <div class="amxnotif-input-fields col-9">
            <input type="text" name="guest_email" class="amxnotif-email" id="amxnotif_guest_email-<?php echo $productId; ?>"
                   onKeyPress="return checkIt(
                           event,
                           '<?php echo $subscribeUrl; ?>',
                           $('button-email-send-<?php echo $productId; ?>')
                           )"
                   class="input-text" size="30"/>
            <input type="hidden" name="product_id" value="<?php echo $productId; ?>"/>
            <input type="hidden" name="type" value="email"/>
            <?php if ($parentId = $this->getParentProductId()) : ?>
                <input type="hidden" name="parent_id" value="<?php echo $parentId ?>"/>
            <?php endif; ?>
            <input type="hidden"
                   name="<?php echo Mage_Core_Controller_Front_Action::PARAM_NAME_URL_ENCODED ?>"
                   value="<?php echo Mage::helper('amxnotif')->getEncodedUrl() ?>"
            />
            <?php if (Mage::helper('amxnotif')->isGdprEnabled()) : ?>
                <div class="approve-gdpr">
                    <input type="checkbox"
                           name="amxnotif-gdpr"
                           title="<?php echo $this->__('GDPR'); ?>"
                           value="1"
                           id="amxnotif-gdpr-<?php echo $productId; ?>"
                           class="checkbox amgdpr-checkbox"
                           onclick="disableButtonByGdpr(<?php echo $productId; ?>)"
                           required
                    />
                    <label for="amxnotif-gdpr-<?php echo $productId; ?>" class="amgdpr-label">
                        <?php echo $this->__(Mage::helper('amxnotif')->getGdprText()); ?>
                    </label>
                </div>
            <?php endif; ?>
        </div>

        <div class="amxnotif-button-container">
            <button type="button"
                <?php echo Mage::helper('amxnotif')->isGdprEnabled() ? ' disabled="disabled" ' : '';?>
                    id="button-email-send-<?php echo $productId; ?>"
                    class="button btn-cart amcart-ignore"
                    onclick="send_alert_email('<?php echo $subscribeUrl; ?>', this)"
                    title="<?php echo $this->__('Tilføj'); ?>">
                <span>
                    <span><?php echo $this->__('Tilføj'); ?></span>
                </span>
            </button>
        </div>
        <?php if ($withPopup) : ?>
            </div>
        <?php endif; ?>

</div>


