<?php
/**
 * OneStepCheckout
 * 
 * NOTICE OF LICENSE
 *
 * This source file is subject to One Step Checkout AS software license.
 *
 * License is available through the world-wide-web at this URL:
 * https://www.onestepcheckout.com/LICENSE.txt
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to mail@onestepcheckout.com so we can send you a copy immediately.
 *
 * @category   Idev
 * @package    Idev_OneStepCheckout
 * @copyright  Copyright (c) 2009 OneStepCheckout  (https://www.onestepcheckout.com/)
 * @license    https://www.onestepcheckout.com/LICENSE.txt
 */
?>
<?php
/**
 * One page checkout payment methods
 *
 * @see Mage_Checkout_Block_Onepage_Payment_Methods
 */
?>


<?php

$helper = Mage::helper('onestepcheckout/checkout');
$hide_nonfree_methods = false;
if($helper->settings['hide_nonfree_payment_methods'])   {
    foreach($this->getMethods() as $_method)    {
        if($_method->getCode() == 'free')   {
            $hide_nonfree_methods = true;
        }
    }
}

$methodCount = count($this->getMethods());

?>

<div class="payment-methods">
<script type="text/javascript">
//<![CDATA[
  <?php echo $this->getChildHtml('reward.scripts'); ?>
  <?php echo $this->getChildHtml('customerbalance_scripts'); ?>
  var payment = new Payment('checkout-payment-method-load', '<?php echo $this->getUrl('checkout/onepage/savePayment') ?>');
  payment.currentMethod = "<?php echo Mage::helper('core')->escapeHtml($this->getQuote()->getPayment()->getMethod()) ?>";
//]]>
</script>
    <?php if(Mage::helper('onestepcheckout')->isEnterprise()):?>
        <?php echo $this->getChildHtml('customerbalance'); ?>
        <?php echo $this->getChildHtml('reward.points'); ?>
    <?php endif;?>

    <?php if ($methodCount=='1' && Mage::getStoreConfig('onestepcheckout/general/hide_payment_method')):?>
    <dl id="checkout-payment-method-load" style="display: none">
        <?php foreach ($this->getMethods() as $_method): $_code = $_method->getCode() ?>

        <dt>
        <input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="hidden" name="payment[method]" title="<?php echo $this->escapeHtml($_method->getTitle()) ?>" class="radio" <?php if($this->getSelectedMethodCode()==$_code || ($hide_nonfree_methods && $_code == 'free')): ?> checked="checked"<?php
       endif; ?> />
        <label for="p_method_<?php echo $_code ?>"><?php echo $this->getMethodTitle($_method) ?> <?php echo $this->getMethodLabelAfterHtml($_method) ?></label></dt>
        <?php endforeach; ?>
    </dl>
    <?php else:?>

        <dl id="checkout-payment-method-load">
        <?php foreach ($this->getMethods() as $_method): $_code = $_method->getCode() ?>
        <?php if($hide_nonfree_methods && $_code != 'free') continue; ?>
            <dt>
            <?php if($methodCount > 1 ): ?>
                <input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" title="<?php echo $this->escapeHtml($_method->getTitle()) ?>" class="radio validate-one-required-by-name" <?php if($this->getSelectedMethodCode()==$_code || ($hide_nonfree_methods && $_code == 'free')): ?> checked="checked"<?php
               endif; ?> />
            <?php else: ?>
                <span class="no-display"><input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" checked="checked" /></span>
            <?php endif; ?>
                <label for="p_method_<?php echo $_code ?>"><?php echo $this->getMethodTitle($_method) ?> <?php echo $this->getMethodLabelAfterHtml($_method) ?></label>
            </dt>
            <?php if($html = $this->getChildHtml('payment.method.'.$_code)): ?>
            <dd id="container_payment_method_<?php echo $_code; ?>" class="payment-method">
                <?php echo $html; ?>
            </dd>
            <?php endif; ?>
        <?php endforeach; ?>
        </dl>
    <?php endif;?>
</div>
<script type="text/javascript">
//<![CDATA[

$$('.cvv-what-is-this').each(function(element){
    Event.observe(element, 'click', function(){window.paymentToolTip.open()});
});

var checkout = new Checkout();
$$('#checkout-payment-method-load dt input').invoke('observe', 'click', function(e) {

    var element = e.element();
    var name = 'payment_form_' + element.getValue();
    payment.currentMethod = element.getValue();
    /* Hide all other forms */
    $$('dd.payment-method').invoke('hide');


    if(element.checked) {
        payment.switchMethod(payment.currentMethod);
        var form = $(name);
        var container = $('container_payment_method_' + element.getValue());

        if(element !== null && container !== null)    {
            container.show();
            $(name).show();
        }
    }
});
jQuery("dt:radio").on('click', function(){
     jQuery(this).parent().toggleClass("checked");
});
<?php if(Mage::helper('onestepcheckout')->isEnterprise() && Mage::helper('customer')->isLoggedIn()):?>
//if we have a enterprise version we should include this

rPoints = $('use_reward_points');
if(rPoints){
    if(rPoints.checked){
        payment.switchRewardPointsCheckbox();
    }
}
cBalance = $('use_customer_balance');
if(cBalance){
    if(cBalance.checked){
        payment.switchCustomerBalanceCheckbox();
    }
}
//if we have a enterprise version we should include this end
<?php endif;?>

payment.switchMethod(payment.currentMethod);
<?php echo $this->getChildHtml('giftcardaccount_scripts');?>
//]]>
</script>
