<?php
/**
 * OneStepCheckout
 * 
 * NOTICE OF LICENSE
 *
 * This source file is subject to One Step Checkout AS software license.
 *
 * License is available through the world-wide-web at this URL:
 * https://www.onestepcheckout.com/LICENSE.txt
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to mail@onestepcheckout.com so we can send you a copy immediately.
 *
 * @category   Idev
 * @package    Idev_OneStepCheckout
 * @copyright  Copyright (c) 2009 OneStepCheckout  (https://www.onestepcheckout.com/)
 * @license    https://www.onestepcheckout.com/LICENSE.txt
 */
?>
            <?php
              $showCutoff = Mage::getStoreConfig('firtal_businesslogic_options/cutoff/show_cutoff');
              if ($showCutoff == false) { ?>
              <style>
              .SP_cutoff, .cutoff {display:none;}
              </style>
              <?php } ?>
<?php if (!($_shippingRateGroups = $this->getShippingRates())): ?>
    <strong><?php echo $this->__('Sorry, no quotes are available for this order at this time.') ?></strong>
<?php else: ?>
    <?php if (count($_shippingRateGroups)=='1' && Mage::getStoreConfig('onestepcheckout/general/hide_shipping_method')):?>
        <dl class="shipment-methods" style="display: none">
          <?php
                $shouldPrioritize = Mage::helper('shippingpicker')->shouldPriotizeMethod();
                $config = Mage::helper('shippingpicker/config');
                if ($config->isActive() && $config->isEnabledInCheckout() && $shouldPrioritize) {
                    echo $this->getBlockHtml('shippingpicker_shippingoption');
                }
            ?>
            <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
               <?php
                    $hidePremiumrates = Mage::helper('shippingpicker/config')->shouldHidePremiumrates();
                    if ($hidePremiumrates && $_rates[0]->getCarrier() =="premiumrate"){
                        continue;
                    }
                ?>
            <dd><?php echo $this->getCarrierName($code) ?></dd>
                <?php foreach ($_rates as $_rate): ?>
                <div class="s_method_<?php echo $_rate->getCode() ?>">
                   <?php if ($_rate->getErrorMessage()): ?>
                   <ul class="messages"><li class="error-msg"><ul><li><?php echo $_rate->getErrorMessage() ?></li></ul></li></ul>
                   <?php else: ?>
                   <input name="shipping_method" type="radio" value="<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>" checked="checked" />
                   <label for="s_method_<?php echo $_rate->getCode() ?>"><!--<b><?php echo $this->getCarrierName($code) ?>:</b>--> <?php echo $_rate->getMethodTitle() ?>
                        <strong>
                        <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                        <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
                        <?php echo $_excl; ?>
                        <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                            (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                        <?php endif; ?>
                        </strong>
                    </label>
                   <?php endif ?>
                   </div>
                <?php endforeach; ?>
            <?php endforeach; ?>
            <?php
                $shouldPrioritize = Mage::helper('shippingpicker')->shouldPriotizeMethod();
                $config = Mage::helper('shippingpicker/config');
                if ($config->isActive() && $config->isEnabledInCheckout() && !$shouldPrioritize) {
                    echo $this->getBlockHtml('shippingpicker_shippingoption');
                }
            ?>
        </dl>
    <?php else: ?>
        <dl style="margin-left:0px" class="shipment-methods col-md-<?php if ($showCutoff == false) { ?>12<?php } else{ ?>8<?php } ?> shipping-box">
                                  <?php
                                    if(date('N') == 5)  {
                                      $postCutoff = "kl. 16"; 
                                      $bringCutoff = "kl. 16"; 
                                      $daoCutoff = "kl. 16"; 
                                      $glsCutoff = "kl. 16";
                                      $dhlCutoff = "mandag"; 
                                    }
                                    elseif(date('N') == 6)  {
                                      $postCutoff = "mandag"; 
                                      $bringCutoff = "mandag"; 
                                      $daoCutoff = "kl. 15"; 
                                      $glsCutoff = "søndag"; 
                                      $dhlCutoff = "mandag"; 
                                    }
                                     elseif(date('N') == 7)  {
                                      $postCutoff = "mandag"; 
                                      $bringCutoff = "kl. 16"; 
                                      $daoCutoff = "kl. 16"; 
                                      $glsCutoff = "kl. 16"; 
                                      $dhlCutoff = "mandag"; 
                                    }
                                    elseif(date('N') > 0 && date('N') < 5) {
                                      $postCutoff = "kl. 17:30"; 
                                      $bringCutoff = "kl. 21:00"; 
                                      $daoCutoff = "kl. 16:00"; 
                                      $glsCutoff = "kl. 19:30"; 
                                      $dhlCutoff = "kl. 21:00"; 
                                    } 
                                ?>
          <?php
                $shouldPrioritize = Mage::helper('shippingpicker')->shouldPriotizeMethod();
                $config = Mage::helper('shippingpicker/config');
                if ($config->isActive() && $config->isEnabledInCheckout() && $shouldPrioritize) {
                    echo $this->getBlockHtml('shippingpicker_shippingoption');
                }
            ?>

            <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
              <?php
                    $hidePremiumrates = Mage::helper('shippingpicker/config')->shouldHidePremiumrates();
                    if ($hidePremiumrates && $_rates[0]->getCarrier() =="premiumrate"){
                        continue;
                    }
                ?>
                        <dd><?php echo $this->getCarrierName($code) ?></dd>
                    <?php foreach ($_rates as $_rate): ?>
                        <div class="shipment-select-method s_method_<?php echo $_rate->getCode() ?>">

                           <?php if ($_rate->getErrorMessage()): ?>
                            <ul class="messages"><li class="error-msg"><ul><li><?php echo $_rate->getErrorMessage() ?></li></ul></li></ul>
                           <?php else: ?>
                                <input name="shipping_method" type="radio" class="validate-one-required-by-name" value="<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>"<?php if($_rate->getCode()===$this->getAddressShippingMethod()) echo ' checked="checked"' ?> />
                                <label for="s_method_<?php echo $_rate->getCode() ?>"><!--<b><?php echo $this->getCarrierName($code) ?>:</b>--> 
                                 <?php 
                                  if (stristr($_rate->getMethodTitle(), 'bring')) {
                                    $cutoffTime = $bringCutoff;
                                    $bringActive = true;
                                  }
                                  if (stristr($_rate->getMethodTitle(), 'gls')) {
                                    $cutoffTime = $glsCutoff;
                                    $glsActive = true;
                                  }
                                  if (stristr($_rate->getMethodTitle(), 'postnord')) {
                                    $cutoffTime = $postCutoff;
                                    $postActive = true;
                                  }
                                  if (stristr($_rate->getMethodTitle(), 'Dao')) {
                                    $cutoffTime = $daoCutoff;
                                    $daoActive = true;
                                  }
                                  if (stristr($_rate->getMethodTitle(), 'DHL')) {
                                    $cutoffTime = $dhlCutoff;
                                    $dhlActive = true;
                                  }
                                    ?>
                                    <?php echo $_rate->getMethodTitle() ?> 
                                    <span class="cutoff">- Bestil inden <?php echo $cutoffTime; ?> - </span>
                                <strong>
                                <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                                <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>

                                <?php echo $_excl; ?>
                                <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                    (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                                <?php endif; ?>
                                </strong>
                                </label>
                           <?php endif ?>
                        </div>
                    <?php endforeach; ?>
            <?php endforeach; ?>
            <?php
                $shouldPrioritize = Mage::helper('shippingpicker')->shouldPriotizeMethod();
                $config = Mage::helper('shippingpicker/config');
                if ($config->isActive() && $config->isEnabledInCheckout() && !$shouldPrioritize) {
                    echo $this->getBlockHtml('shippingpicker_shippingoption');
                }
            ?>
        </dl>
         <div class="col-md-4 shipping-box <?php if ($showCutoff == false) { ?> hide <?php } ?>">
          <div class="cutoff-message">
            <b>Stoptider</b>
            <div class="cutoff-text">
            Stoptiderne betyder hvornår du skal bestille inden for, at få din ordre med i næste forsendelse. Stoptiderne varierer mellem de forskellige transportører vi benytter. Nedenfor kan du se, hvornår du skal have bestilt for, at få din ordre med næste gang, vi afsender med den valgte transportør.</div>
              <ul class="carrier-cutoff">
              <?php if($daoActive) { ?><li>DAO inden <?php echo $daoCutoff; ?></li> <?php } ?>
              <?php if($daoActive) { ?><li>GLS inden <?php echo $glsCutoff; ?></li><?php } ?>
              <?php if($postActive) { ?><li>PostNord inden <?php echo $postCutoff; ?></li><?php } ?>
              <?php if($bringActive) { ?><li>BRING inden <?php echo $bringCutoff; ?></li><?php } ?>
              <?php if($dhlActive) { ?><li>DHL inden <?php echo $dhlCutoff; ?></li><?php } ?>
            </ul>
            
          </div>
        </div>
    <?php endif; ?>
<?php endif; ?>

<?php
//enabled for separate shipping methods
$enabledfor = Mage::getStoreConfig('onestepcheckout/delivery/enabled_for');
if(!empty($enabledfor)){
    $enabledfor = unserialize($enabledfor);
    $tmp = array();
    foreach ($enabledfor as $enabled) {
        $tmp[] = current($enabled);
    }

    $enabledfor = $tmp;
} else {
    $enabledfor = array();
}
?>

<script>

var enabled_for =  <?php echo json_encode($enabledfor);?>;
var sMethods = $$('.onestepcheckout-shipping-method').first(); 
 
if(sMethods && enabled_for.length > 0) {
  $$('dl.shipment-methods input').invoke('observe', 'click', function(e){

      var elem = e.element();
      var enabled_for =  <?php echo json_encode($enabledfor);?>;
      var sMethods = $$('.onestepcheckout-shipping-method').first(); 
      var target = $('ddate');
      var isPresent = enabled_for.indexOf(elem.value);

      if(isPresent >= 0){
        target.show();
      } else {
        target.hide();
        target.select('input, select, textarea').each(function(e) {
          var elem = e;
          if(elem.type === 'checkbox'){
            elem.checked = false;
          } else {
            elem.clear();
          }

          var wrapper = $('ddatewrap');
          if(wrapper){
            wrapper.hide();
          }
        } );

      }
  });
}
</script>

